<?php $banner = $this->banner; ?>
<div class="page-header page-header-small" xmlns="http://www.w3.org/1999/html">
    <div class="page-header-image" data-parallax="true"
         style="background-image: url('/img/startpage_billboard5.jpg') ;">
    </div>
    <div class="content-center">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="title"><?= $this->translate('Book a billboard') ?></h2>
                <h4><?= $this->translate('YOU_CAN') ?></h4>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div id="productCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
                    <ol class="carousel-indicators">
                        <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
                        <?php foreach ($banner['images'] as $index => $image): ?>
                            <li data-target="#productCarousel" data-slide-to="<?php echo($index + 1); ?>"></li>
                        <?php endforeach; ?>

                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-raised" width="800" height="600"
                                 src="/img/banner-photo/<?= $this->escapeHtml($banner['images']['0']['path']) ?>" alt="First slide">
                        </div>

                        <?php foreach ($banner['images'] as $index => $image): ?>
                            <?php if ($index == 0) {
                                continue;
                            } ?>
                            <div class="carousel-item">
                                <img class="d-block img-raised" width="800" height="600"
                                     src="./img/banner-photo/<?= $this->escapeHtml($image['path']) ?>" alt="First slide">
                            </div>
                        <?php endforeach; ?>

                    </div>
                    <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                        <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
                            <i class="now-ui-icons arrows-1_minimal-left"></i>
                        </button>
                    </a>
                    <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                        <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto">
                <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                    <div class="card card-plain">

                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered align-content-around" id="searchTable">
                                        <tbody id="bodyTable">
                                        <tr>
                                            <td class="text-center"><b><?= $this->translate('Category') ?></b></td>
                                            <td class="text-center"><?= $this->escapeHtml($banner['category']['name']) ?></td>
                                        <tr>
                                            <td class="text-center"><b><?= $this->translate('Region') ?></b></td>
                                            <td class="text-center"><?= $this->escapeHtml($banner['city']['nameRegion']) ?></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><b><?= $this->translate('City') ?></b></td>
                                            <td class="text-center"><?= $this->escapeHtml($banner['city']['nameCity']) ?></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><b><?= $this->translate('Area') ?></b></td>
                                            <td class="text-center"><?= $this->escapeHtml($banner['area']) ?></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><b><?= $this->translate('Adress') ?></b></td>
                                            <td class="text-center"><?= $this->escapeHtml($banner['adress']) ?></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><b><?= $this->translate('Details') ?></b></td>
                                            <td class="text-center"><?= $this->escapeHtml($banner['description']) ?></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><b><?= $this->translate('Current Status') ?></b>
                                            </td>
                                            <td class="text-center">
                                                <?php
                                                $bannerStatuses = $banner['bannerStatuses'];
                                                if ($bannerStatuses != '' && $bannerStatuses != null) {
                                                    foreach ($bannerStatuses as $bannerStatus) {
                                                        echo($bannerStatus['status']);
                                                        break;
                                                    }
                                                } else {
                                                    echo($this->translate('Available'));
                                                }
                                                ?>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <?php if ($this->aclHelper()->isAllowed(Application\Controller\OrderController::class, 'ordered')): ?>
                            <div class="text-center">
                                <a class="btn btn-primary"
                                   data-toggle="tooltip" data-placement="top"
                                   title="<?= $this->translate('Confirm booking') ?>"
                                   href="<?= $this->url('order', ['controller' => 'order', 'action' => 'ordered'], ['query' => ['id' => $banner['id']]]); ?>"
                                   data-confirmation-title="<?= $this->translate('Confirm booking') ?>"
                                   data-confirmation-text="<?= $this->translate('Are you sure that you would like to book this banner?') ?>">
                                    Confirm booking
                                </a>
                            </div>
                        <?php endif; ?>
                        <?php $currentRole = $this->userHelper()->getCurrentUserRole();
                        if (!$this->aclHelper()->isAllowed(Application\Controller\OrderController::class, 'ordered')
                            and $currentRole != 'Agency' and $currentRole != 'Owner'):?>

                            <!-- Button modal for Login-->
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#loginModal">
                                    Login and confirm booking
                                </button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">
                                                <?= $this->translate('For confirmation of booking the Banner please Login') ?>
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form action="<?= $this->url('modalLogin', ['controller' => 'description', 'action' => 'modalLogin']); ?>"
                                              method="POST">
                                            <div class="modal-body">
                                                <input type="text" name="login" placeholder="Login">
                                                <br><br>
                                                <input type="text" name="password" placeholder="Password">
                                                <input type="hidden" name="id"
                                                       value="<?php echo $banner['id'] ?>">
                                            </div>
                                            <div class="modal-body">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close
                                                </button>
                                                <input type="submit" class="btn btn-primary" value="Submit">
                                                <br>
                                                <h6>
                                                    <a href="" class="btn btn-link pull-right">Forgot Password?</a>
                                                    <a href="<?= $this->url('register-customer', ['controller' => 'auth', 'action' => 'register-customer']); ?>"
                                                       class="link footer-link"><?= $this->translate('Create Account') ?></a>
                                                </h6>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
