<?php $banner = $this->banner; ?>
<div class="container col-12">
    <div class="row justify-content-center billboard_id_container">
        <div class="col-6">
            <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="../img/banner-photo/banner02.jpg" style="width: 100%;" alt="">
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev">
                    <img src="./img/arrows.png" alt="">
                </div>
                <div class="swiper-button-next">
                    <img src="./img/arrows.png" alt="">
                </div>
            </div>
        </div>
        <div class='col-4 billboard_info'>
            <?php
            $bannerStatuses = $banner['bannerStatuses'];
            if ($bannerStatuses != '' && $bannerStatuses != null) {
                foreach ($bannerStatuses as $bannerStatus) {
                    echo("<div class='billboard_location' style='background: linear-gradient(180deg, rgba(218, 0, 13, 0.05) 0%, rgba(245, 248, 250, 0.05) 100%);'>");
                    echo("<p class='banner_status'>".$bannerStatus['status']."</p>");
                    break;
                }
            } else {
                echo("<div class='billboard_location' style='background: linear-gradient(180deg, rgba(55, 242, 134, 0.05) 0%, rgba(245, 248, 250, 0.05) 100%);'>");
                // + Добавить свободную сторону
                echo("<p class='banner_status'>".$this->translate('Side')." A & B ".$this->translate('Available')."</p>");
            }
            ?>
                <?= "<h4>".$this->escapeHtml($banner['city']['nameRegion']).", ".$this->escapeHtml($banner['city']['nameCity']).", ".$this->escapeHtml($banner['area']).", ".$this->escapeHtml($banner['adress'])."</h4>"; ?>
                <br>
                <button class="side_a"><?= $this->translate('Side A')?></button>
                <button class="side_b"><?= $this->translate('Side B')?></button>
            </div>
            <br>
            <p class="billboards_prfcdd"><?= $this->translate('Price:') ?></p>
            <p>
            <?php
            if ($this->$banner['price'] == "" && $this->$banner['price'] == null){
                echo '$banner["price"] = null';
            } else {
                echo $this->$banner['price'];
            }
            $specialOffer = "1";
            if($specialOffer != ""){
                echo " <img src='../img/hot.png'>"." ".$this->translate('August -10%');
            }?>
            </p>
            <br>
            <p class="billboards_prfcdd"><?= $this->translate('Rating:')?></p>
            <p><?= $this->$banner['bannerRatings']; ?></p>
            <br>
            <p class="billboards_prfcdd"><?= $this->translate('Format:')?></p>
            <p><?= $this->escapeHtml($banner['description']); ?></p>
            <br>
            <p class="billboards_prfcdd"><?= $this->translate('Category:')?></p>
            <p><?= $this->$banner['category']['index_name']; ?></p>
            <br>
            <p class="billboards_prfcdd"><?= $this->translate('Description:')?></p>
            <p><?= $this->escapeHtml($banner['description']); ?></p>
            <br>

        </div>
    </div>
</div>


