<?php
/** @var \Admin\Form\BannerCategoryForm $form */
$form = $this->form;
$form->setAttributes([
    'action' => $this->url('admin', ['controller' => 'bannercategory', 'action' => 'add']),
    'data-result-container-selector' => '.modal-body',
]);
$form->get('name')->setAttributes([
    'class' => 'form-control',
]);
$form->get('indexname')->setAttributes([
    'class' => 'form-control',
]);
$form->get('description')->setAttributes([
    'class' => 'form-control',
]);
$form->get('submit')->setAttributes([
    'class' => 'btn btn-primary btn-ajax-form-submit',
]);
$form->prepare();
?>

<?= $this->form()->openTag($form); ?>
<div>
    <div class="form-group">
        <?= $this->formLabel($form->get('name')); ?>
        <?= $this->formElement($form->get('name')); ?>
        <?= $this->formElementErrors($form->get('name')); ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($form->get('indexname')); ?>
        <?= $this->formElement($form->get('indexname')); ?>
        <?= $this->formElementErrors($form->get('indexname')); ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($form->get('description')); ?>
        <?= $this->formElement($form->get('description')); ?>
        <?= $this->formElementErrors($form->get('description')); ?>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><?= $this->translate('Close') ?></button>
    <?= $this->formElement($form->get('submit')); ?>
</div>
<?= $this->form()->closeTag(); ?>
