<div class="table-responsive">
<table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th><?=$this->translate('Name')?></th>
        <th>Indexname</th>
        <th><?=$this->translate('Description')?></th>
        <th style='width: 100px'>
            <a class="btn-modal-action"
            data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Add Banner Category')?>"
            href="<?=$this->url('admin', ['controller' => 'bannercategory', 'action' => 'add']);?>"
            data-modal-title="<?=$this->translate('Add Banner Category')?>">
            <h4>
                <i class="fa fa-fw fa-plus-circle"></i>
            </h4>
            </a>
        </th>
    </tr>
    <tr>
        <?php foreach ($this->paginator as $bannerCategory) : ?>
        <td><?=$this->escapeHtml($bannerCategory['id'])?></td>
        <td><?=$this->escapeHtml($bannerCategory['name'])?></td>
        <td><?=$this->escapeHtml($bannerCategory['indexname'])?></td>
        <td><?=$this->escapeHtml($bannerCategory['description'])?></td>
        <td>
            <a class="btn btn-success btn-modal-action btn-sm glyphicon glyphicon-cog"
            data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Update Banners Category')?>"
            href="<?=$this->url('admin', ['controller' => 'bannercategory', 'action' => 'update'], ['query' => ['id' => $bannerCategory['id']]]);?>"
            data-modal-title="<?=$this->translate('Update Banners Category')?>">
            </a>
            <a class="btn btn-danger btn-ajax-confirmation btn-sm glyphicon glyphicon-remove"
               data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Delete Category')?>"
               href="<?=$this->url('admin', ['controller' => 'bannercategory', 'action' => 'delete'], ['query' => ['id' => $bannerCategory['id']]]);?>"
               data-confirmation-title="<?=$this->translate('Delete Category')?>"
               data-confirmation-text="<?=$this->translate('Are you sure to delete this Category?')?>">
            </a>
        </td>
    </tr>
    <?php endforeach; ?>
    <tr>
        <th>ID</th>
        <th><?=$this->translate('Name')?></th>
        <th>Indexname</th>
        <th><?=$this->translate('Description')?></th>
        <th></th>
    </tr>
</table>
</div>
<?php echo $this->paginationControl($this->paginator,
    'Sliding',
    'admin/partial/paginator.phtml'); ?>