<?php
$news = $this->news;
?>

<div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true"
         style="background-image: url('/img/startpage_billboard5.jpg') ;">
    </div>
    <div class="content-center">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2><?=$this->translate('Our News')?></h2>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="container">
        <div class="section">
            <h3 class="title text-center">You may also be interested in</h3>
            <br/>
            <div class="row">

                <?php foreach ($this->news as $oneNews) : ?>
                    <?php if ($oneNews['active'] == 1) : ?>

                        <div class="col-md-4">
                            <div class="card card-plain card-blog">
                                <div class="card-image">
                                    <a href="<?=$this->url('news', ['controller' => 'news', 'action' => 'article'], ['query' => ['id' => $oneNews['id']]]);?>">
                                        <img class="img rounded img-raised" width="350px" height="350px"
                                             src="<?php echo $oneNews['image']; ?>"/>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h6 class="category text-info">News</h6>
                                    <h4 class="card-title">
                                        <a href="<?=$this->url('news', ['controller' => 'news', 'action' => 'article'], ['query' => ['id' => $oneNews['id']]]);?>">
                                            <?php echo $oneNews['title']; ?>
                                        </a>
                                    </h4>
                                    <p class="card-description">
                                    </p>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                <?php endforeach; ?>

            </div>
        </div>
    </div>

</div>
