<?php
$news = $this->news;
?>
<div class="col-12 container">
    <div class="row justify-content-center">
        <?php foreach ($this->news as $oneNews) : ?>
            <?php if ($oneNews['active'] == 1) : ?>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="<?= $oneNews['image']; ?>" style="width: 100%;" alt=""/></div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-scrollbar"></div>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain card-blog">
                        <div class="card-image">
                            <a href="<?=$this->url('news', ['controller' => 'news', 'action' => 'article'], ['query' => ['id' => $oneNews['id']]]);?>">
                                <img class="img rounded img-raised" width="350px" height="350px"
                                     src="<?php echo $oneNews['image']; ?>"/>
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="category text-info">News</h6>
                            <h4 class="card-title">
                                <a href="<?=$this->url('news', ['controller' => 'news', 'action' => 'article'], ['query' => ['id' => $oneNews['id']]]);?>">
                                    <?php echo $oneNews['title']; ?>
                                </a>
                            </h4>
                            <p class="card-description">
                            </p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>