<?php
$news = $this->news;
// Фильтр кол-ва допустимых символов($length) . '...'
function custom_echo($x, $length)
{
    if(strlen($x)<=$length)
    {
        echo $x;
    }
    else
    {
        $y=substr($x,0,$length) . '...';
        echo $y;
    }
}
?>
<h2 style="margin: 3rem 9%;"><?= $this->translate('Our News') ?></h2>

<div class="col-12 container">
    <div class="row justify-content-center">
        <?php foreach ($this->news as $oneNews) : ?>
            <?php if ($oneNews['active'] == 1) : ?>
                <div class="col-12 col-lg-5">
                    <div class="newsItem">
                        <img class="postImage"
                             src="<?php echo $oneNews['image']; ?>"/>
                        <span class="postedTime">Сегодня в 21:36</span>
                        <h4 class="postTitle"><?php echo $oneNews['title']; ?></h4>
                        <p class="newsShortDesc"><? custom_echo($oneNews['article'], 200); ?><a
                                    href="<?= $this->url('news', ['controller' => 'news', 'action' => 'article'], ['query' => ['id' => $oneNews['id']]]); ?>"
                                    class="newsMore">Подробнее</a></p>
                    </div>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>