<div class="main">
    <div class="contact-content">
        <div class="col-12 container justify-content-right">
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <h2 class="contact_title"><?=$this->translate('Contact')?></h2>
                    <div class="contact_flexbox">
                        <div class="description" style="display: inline-block;">
                            <h4 class="info-title"><?=$this->translate('Find us at the office')?></h4>
                            <p> Mihail Kogalniceanu, nr. 8,
                                <br> MD2000 Chisinau,
                                <br> Moldova
                            </p>
                        </div>
                        <div class="description" style="display: inline-block;">
                            <h4 class="info-title"><?=$this->translate('Working hours')?></h4>
                            <p> <?=$this->translate('Mon. - Fr.') ?> - 9:00 - 18:00
                                <br> <?=$this->translate('Sat.') ?> - 9:00 - 13:00
                                <br> <?=$this->translate('Sun. - Day off') ?>
                            </p>
                        </div>
                        <div class="description" style="display: inline-block;">
                            <h4 class="info-title"><?=$this->translate('Give us a ring')?></h4>
                            <p> +373 78 766 552
                                <br> +373 69 245 678
                                <br> hello@billboard.md
                            </p>
                        </div>
                    </div>
                    <form name="contact-form" role="form" id="contact-form" method="post">
                        <div class="form-group md-form mb-0 mt-0">
                            <input type="text" class="form-control" id="fname" name="fname" required>
                            <label for="fname"><?= $this->translate('Your Name')?></label>
                        </div>
                        <div class="form-group md-form mb-0">
                            <input type="email" class="form-control" id="email" name="femail" required>
                            <label for="email"><?= $this->translate('Phone')?></label>
                        </div>
                        <div class="form-group md-form mb-0">
                            <input type="tel" class="form-control" id="tel" name="ftel" required>
                            <label for="tel"><?= $this->translate('Phone')?></label>
                        </div>
                        <div class="form-group md-form mb-0">
                            <textarea type="text" id="msg" class="md-textarea form-control" rows="3" required></textarea>
                            <label for="msg">Ваше сообщение</label>
                        </div>
                        <div class="form-group">
                            <?php echo $this->reCaptcha->getHtml();?>
                        </div>
                        <button type="submit" class="btn btn-primary br-20 w-100 mt-25" name="fSend">Submit</button>
                    </form>
                </div>
                <div class="col-md-6 ml-auto">
                    <style>
                        #map {
                            width: 100%; height: 88vh; padding: 0; margin: 0;
                        }
                    </style>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=81ffc82e-8660-485a-8f31-e328cdde4b4c" type="text/javascript"></script>
<script>
    ymaps.ready(function () {
        var myMap = new ymaps.Map('map', {
                center: [47.02095298, 28.83147776],
                zoom: 18
            }, {
                searchControlProvider: 'yandex#search'
            }),

            // Создаём макет содержимого.
            MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
            ),

            myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                hintContent: 'Собственный значок метки',
                balloonContent: 'Это красивая метка'
            }, {
                // Опции.
                // Необходимо указать данный тип макета.
                iconLayout: 'default#image',
                // Своё изображение иконки метки.
                iconImageHref: 'images/myIcon.gif',
                // Размеры метки.
                iconImageSize: [30, 42],
                // Смещение левого верхнего угла иконки относительно
                // её "ножки" (точки привязки).
                iconImageOffset: [0, 0]
            });

        myMap.geoObjects
            .add(myPlacemark)
            .add(myPlacemarkWithContent);
    });
</script>

