<div class="table-responsive">
<table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th><?=$this->translate('Role')?></th>
        <th><?=$this->translate('Privilege description')?></th>
        <th style='width: 50px'></th>
    </tr>
    <tr>
        <?php foreach ($this->paginator as $role) : ?>
        <td><?=$this->escapeHtml($role['id'])?></td>
        <td><?=$this->escapeHtml($role['name'])?></td>
        <td><?=$this->escapeHtml($role['description'])?></td>
        <td>
            <a class="btn btn-success btn-modal-action btn-sm glyphicon glyphicon-cog"
            data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Update Role')?>"
            href="<?=$this->url('admin', ['controller' => 'roles', 'action' => 'update'], ['query' => ['id' => $role['id']]]);?>"
            data-modal-title="<?=$this->translate('Update Role')?>">
            </a>
        </td>
    </tr>
    <?php endforeach; ?>
    <tr>
        <th>ID</th>
        <th><?=$this->translate('Role')?></th>
        <th><?=$this->translate('Privilege description')?></th>
        <th></th>
    </tr>
</table>
</div>

<?php echo $this->paginationControl($this->paginator,
    'Sliding',
    'admin/partial/paginator.phtml'); ?>