<script id="template-upload" type="text/x-tmpl">
    <?php echo $this->partial('scripts/template-upload.phtml'); ?>
</script>

<script id="template-download" type="text/x-tmpl">
    <?php echo $this->partial('scripts/template-download.phtml'); ?>
</script>