{% for (var i=0, file; file=o.files[i]; i++) { %}
<tr class="template-download fade">
    <td  class="col-xs-3">
            <span class="image-preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery>
                        <img class="img-responsive" src="{%=file.thumbnailUrl%}">
                    </a>
                {% } %}
            </span>
    </td>
    <td  class="col-xs-6">
        <p class="name">
            {% if (file.url) { %}
            <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}"
               {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
            {% } else { %}
            <span>{%=file.name%}</span>
            {% } %}
        </p>
        {% if (file.error) { %}
        <div><span class="label label-danger">Error</span> {%=file.error%}</div>
        {% } %}
    </td>
    <td  class="col-xs-1">
        <span class="size">{%=o.formatFileSize(file.size)%}</span>
    </td>
    <td  class="col-xs-2">
        {% if (file.deleteUrl) { %}
        <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if
                (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
            <i class="glyphicon glyphicon-trash"></i>
            <span>Delete</span>
        </button>
        <input type="checkbox" name="delete" value="1" class="toggle">
        {% } else { %}
        <button class="btn btn-warning cancel">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel</span>
        </button>
        {% } %}
    </td>
</tr>
{% } %}