<div class="table-responsive">
    <table class="table table-bordered table-striped">
    <tr>
        <th>№</th>
        <th><?=$this->translate('Title')?></th>
        <th><?=$this->translate('Article')?></th>
        <th><?=$this->translate('Image path')?></th>
        <th><?=$this->translate('Visible')?></th>
        <th style='width: 100px'>
            <a class="btn-modal-action"
               data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Add News')?>"
               href="<?=$this->url('admin', ['controller' => 'newsadmin', 'action' => 'add']);?>"
               data-modal-title="<?=$this->translate('Add News')?>">
                <h4>
                    <i class="fa fa-fw fa-plus-circle"></i>
                </h4>
            </a>
        </th>
    </tr>
    <tr>
        <?php $i = $this->paginator->getAbsoluteItemNumber($relativeItemNumber, $pageNumber);?>
        <?php foreach ($this->paginator as $news) : ?>
        <td><?php echo $i++; ?></td>
        <td><?=$this->escapeHtml($news['title'])?></td>
        <td width="700px"><?=$news['article']?></td>
        <td><?=$this->escapeHtml($news['image'])?></td>
        <td><?php if ($news['active'] == 1){echo "Yes";}else{echo "No";}?></td>
        <td>
            <a class="btn btn-success btn-modal-action btn-sm glyphicon glyphicon-cog"
            data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Update News')?>"
            href="<?=$this->url('admin', ['controller' => 'newsadmin', 'action' => 'update'], ['query' => ['id' => $news['id']]]);?>"
            data-modal-title="<?=$this->translate('Update News')?>">
            </a>

            <a class="btn btn-danger btn-ajax-confirmation btn-sm glyphicon glyphicon-remove"
               data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Delete News')?>"
               href="<?=$this->url('admin', ['controller' => 'newsadmin', 'action' => 'delete'], ['query' => ['id' => $news['id']]]);?>"
               data-confirmation-title="<?=$this->translate('Delete News')?>"
               data-confirmation-text="<?=$this->translate('Are you sure to delete this News?')?>">
            </a>
        </td>
    </tr>
    <?php endforeach; ?>
    <tr>
        <th>№</th>
        <th><?=$this->translate('Title')?></th>
        <th><?=$this->translate('Article')?></th>
        <th><?=$this->translate('Image path')?></th>
        <th><?=$this->translate('Visible')?></th>
        <th></th>
    </tr>
</table>
</div>

<?php echo $this->paginationControl($this->paginator,
    'Sliding',
    'admin/partial/paginator.phtml'); ?>