<?php
/** @var \Admin\Form\NewsForm $form */
$form = $this->form;
$form->setAttributes([
    'action' => $this->url('admin', ['controller' => 'newsadmin', 'action' => 'update'], ['query' => ['id' => $this->newsId]]),
    'data-result-container-selector' => '.modal-body',
]);
$form->get('title')->setAttributes([
    'class' => 'form-control',
]);
$form->get('article')->setAttributes([
    'class' => 'form-control wysiwyg-editor',
]);
$form->get('image')->setAttributes([
    'class' => 'form-control',
]);
$form->get('active')->setAttributes([
    'class' => 'form-control',
]);
$form->get('submit')->setAttributes([
    'class' => 'btn btn-primary btn-ajax-form-submit',
]);
$form->prepare();
?>

<?= $this->form()->openTag($form); ?>
<div>
    <div class="form-group">
        <?= $this->formLabel($form->get('title')); ?>
        <?= $this->formElement($form->get('title')); ?>
        <?= $this->formElementErrors($form->get('title')); ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($form->get('article')); ?>
        <?= $this->formElement($form->get('article')); ?>
        <?= $this->formElementErrors($form->get('article')); ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($form->get('image')); ?>
        <?= $this->formElement($form->get('image')); ?>
        <?= $this->formElementErrors($form->get('image')); ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($form->get('active')); ?>
        <?= $this->formElement($form->get('active')); ?>
        <?= $this->formElementErrors($form->get('active')); ?>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><?= $this->translate('Close') ?></button>
    <?= $this->formElement($form->get('submit')); ?>
</div>
<?= $this->form()->closeTag(); ?>
