<div class="page-header section-image">
    <div class="page-header-image" style="background-image:url(/img/banner03.jpg)"></div>
    <div class="content-center">
        <div class="container">
            <div class="row">

                <div class="col-md-7 ml-auto mr-auto">

                    <div class="info info-horizontal">
                        <div class="description">
                            <h5 class="info-title" align="center">Thank you for confirmation</h5>
                            <p class="description" align="center">
                                <?= $this->translate('REG_SUCCESS') ?>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="info info-horizontal">
    <div class="icon icon-info">
        <i class="now-ui-icons users_single-02"></i>
    </div>
    <div class="description">
        <h5 class="info-title">BILLBOARD.MD</h5>
        <p class="description">
            <?= $this->translate('The biggest base oo billborads in Moldova.') ?>
        </p>
    </div>
</div>

