<?php
/** @var \Application\Form\ForgotPasswordForm $form */
$form = $this->form;

$form->get('login_or_email')->setAttributes([
    'class'       => 'form-control',
    'placeholder' => 'Login or Email',
    'required'    => true,
    'autofocus'   => true,
])
    ->setLabelAttributes([
        'class' => 'sr-only',
    ]);

$form->get('submit')->setAttributes([
    'class' => 'btn btn-primary btn-round btn-lg btn-block',
]);

?>

<div class="content-center">
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <h4 class="card-title text-center"><?= $this->translate('Please enter your login or email:') ?></h4>
                <?= $this->form()->openTag($form); ?>
                <div class="card-header text-center">
                    <div class="logo-container">
                        <img src="img/now-logo.png" alt="">
                    </div>
                </div>
                <div class="card-body">
                    <div class="input-group form-group-no-border input-lg">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons users_circle-08"></i>
                                    </span>
                        <?= $this->formLabel($form->get('login_or_email')); ?>
                        <?= $this->formElement($form->get('login_or_email')); ?>
                    </div>

                    <div class="card-footer text-center">
                        <?= $this->formElement($form->get('submit')); ?>
                    </div>

                    <div class="pull-left">
                        <h6>
                            <a href="<?=$this->url('register-customer', ['controller' => 'auth', 'action' => 'register-customer']);?>"
                               class="link footer-link"><?= $this->translate('Create Account') ?></a>
                        </h6>
                    </div>
                </div>
                <?= $this->form()->closeTag(); ?>
            </div>
        </div>
    </div>
</div>



