<?php
/** @var \Application\Form\LoginForm $form */
$form = $this->form;

$form->setAttributes([
    'class' => 'loginFormula',
]);


$form->get('login')->setAttributes([
    'class' => 'signLogin',
    'placeholder' => 'Login',
    'required' => true,
    'autofocus' => true,
])
    ->setLabelAttributes([
        'class' => 'sr-only',
    ]);

$form->get('password')->setAttributes([
    'class' => 'signPass',
    'placeholder' => 'Password',
    'required' => true,
])
    ->setLabelAttributes([
        'class' => 'sr-only',
    ]);

$form->get('submit')->setAttributes([
    'class' => 'do_login',
]);


$isLoginError = $this->isLoginError;
?>
<header id="main" class="col-12">
    <div class="row justify-content-center text-center">
        <div class="col-12 font-center entranceText">
            <h1 class="card-title textLogin text-center text-white"><?= $this->translate('Please sign in') ?></h1>
        </div>
        <?= $this->form()->openTag($form); ?>
        <?= $this->formLabel($form->get('login')); ?>
        <?= $this->formElement($form->get('login')); ?>
        <?= $this->formLabel($form->get('password')); ?>
        <?= $this->formElement($form->get('password')); ?>
        <?php echo $this->reCaptcha->getHtml(); ?>
        <?= $this->formElement($form->get('submit')); ?>
        <?= $this->formElement($form->get('redirect_url')); ?>

        <?php if ($isLoginError == true): ?>
            <div class="alert alert-warning" role="alert">
                <?= $this->translate('Incorrect login and/or password.') ?>
                <p>
                    <a href="<?= $this->url('forgot_password', ['controller' => 'application', 'action' => 'forgot_password']); ?>"><?= $this->translate('Forgot password?') ?></a>
                </p>
            </div>

        <?php endif; ?>

        <?php if ($isLoginErrorActive == true): ?>
            <div class="alert alert-warning" role="alert">
                <?= $this->translate('Please confirm your email to complete registration.') ?>
            </div>
        <?php endif; ?>

        <?php if ($isRecaptchaError == true): ?>
            <div class="alert alert-warning" role="alert">
                <?= $this->translate('Captcha validation failed, please try again.') ?>
            </div>
        <?php endif; ?>

        <h6>
            <a href="<?= $this->url('register-customer', ['controller' => 'auth', 'action' => 'register-customer']); ?>"
               class="link footer-link"><?= $this->translate('Create Account') ?></a>
        </h6>

        <?= $this->form()->closeTag(); ?>
    </div>
</header>

