<?php
/** @var \Application\Form\RegisterCustomerForm $form */
$form = $this->form;

$form->get('role')->setAttributes([
    'class' => 'form-control',
    'placeholder' => 'Role',
    'required' => true,
    'value' => 'Customer',
    'type' => 'Hidden',
]);
$form->get('name')->setAttributes([
    'class' => 'regName',
    'placeholder' => 'Name',
    'required' => true,
]);
$form->get('login')->setAttributes([
    'class' => 'regLogin',
    'placeholder' => 'Login',
    'required' => true
]);
$form->get('email')->setAttributes([
    'class' => 'regMail',
    'placeholder' => 'E-mail',
    'required' => true
]);
$form->get('password')->setAttributes([
    'class' => 'regPass',
    'placeholder' => 'Password',
    'required' => true
]);
$form->get('confirm_password')->setAttributes([
    'class' => 'regRepeatPass',
    'placeholder' => 'Repeat password',
    'required' => true
]);
$form->get('submit')->setAttributes([
    'class' => 'registrationButton',
]);
$form->prepare();
?>
<header id="main" class="col-12">
    <div class="row justify-content-center text-center">
        <div class="col-12 font-center entranceText">
            <h1 class="card-title textLogin text-center text-white"><?= $this->translate('Registration') ?></h1>
        </div>
        <div class="page-header section-image">
            <div class="page-header-image" style="background-image:url(/img/bg3.jpg)"></div>
            <div class="content-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 ml-auto mr-auto">
                            <div class="info info-horizontal">
                                <div class="description">
                                    <a href="<?= $this->url('register-agency',
                                        ['controller' => 'application', 'action' => 'register-agency']); ?>">
                                        <div class="icon icon-primary">
                                            <i class="now-ui-icons media-2_sound-wave"></i>
                                        </div>
                                        <h5 class="info-title"><?= $this->translate('Register as Agency') ?></h5>
                                    </a>
                                    <p class="description text-white">
                                        <?= $this->translate('USE_OUR_EXPERIENCE') ?>
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="description">
                                    <a href="<?= $this->url('register-owner',
                                        ['controller' => 'application', 'action' => 'register-owner']); ?>">
                                        <div class="icon icon-info">
                                            <i class="now-ui-icons users_single-02"></i>
                                        </div>
                                        <h5 class="info-title"><?= $this->translate('Register as Owner') ?></h5>
                                    </a>
                                    <p class="description text-white">
                                        <?= $this->translate('BUY_WITH_CONFIDENCE') ?>
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-5">
                            <h5 class="card-title text-center text-white"><?= $this->translate('Register as Customer') ?></h5>
                            <?= $this->form()->openTag($form); ?>
                            <?= $this->formElement($form->get('role')); ?>
                            <?= $this->formElement($form->get('name')); ?>
                            <?= $this->formElement($form->get('login')); ?>
                            <?= $this->formElement($form->get('email')); ?>
                            <?php if ($this->formElementErrors($form->get('email')) == true): ?>
                                <div class="alert alert-warning" role="alert">
                                    <?= $this->formElementErrors($form->get('email')); ?>
                                </div>
                            <?php endif; ?>
                            <?= $this->formElement($form->get('password')); ?>
                            <?= $this->formElement($form->get('confirm_password')); ?>
                            <?php echo $this->reCaptcha->getHtml(); ?>
                            <?php if ($this->formElementErrors($form->get('password')) == true): ?>
                                <div class="alert alert-warning" role="alert">
                                    <?= $this->formElementErrors($form->get('password')); ?>
                                </div>
                            <?php endif; ?>

                            <?php if ($this->formElementErrors($form->get('confirm_password')) == true): ?>
                                <div class="alert alert-warning" role="alert">
                                    <?= $this->formElementErrors($form->get('confirm_password')); ?>
                                </div>
                            <?php endif; ?>

                            <?php if ($isRecaptchaError == true): ?>
                                <div class="alert alert-warning" role="alert">
                                    <?= $this->translate('Captcha validation failed, please try again.') ?>
                                </div>
                            <?php endif; ?>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox">
                                    <span class="form-check-sign text-white">
                                        I agree to the terms and
                                        <a href="#something">conditions</a>.
                                    </span>
                                </label>
                            </div>
                            <?= $this->formElement($form->get('submit')); ?>
                            <?php if ($this->isEmailError == true): ?>
                                <div class="alert alert-danger" role="alert">
                                    <p><?php echo $isEmailError; ?></p>
                                </div>
                            <?php endif; ?>

                            <?php if ($this->isExistLogin == true): ?>
                                <div class="alert alert-danger" role="alert">
                                    <p><?php echo $isExistLogin; ?></p>
                                </div>
                            <?php endif; ?>

                            <?= $this->form()->closeTag(); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

