<?php
/** @var \Application\Form\ResetPasswordForm $form */
$form = $this->form;

$form->get('new_password')->setAttributes([
    'class' => 'form-control',
    'placeholder' => 'Password',
    'required' => true
]);
$form->get('confirm_new_password')->setAttributes([
    'class' => 'form-control',
    'placeholder' => 'Repeat password',
    'required' => true
]);

$form->get('submit')->setAttributes([
    'class' => 'btn btn-primary btn-round btn-lg btn-block',
]);

?>

<div class="content-center">
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <h4 class="card-title text-center"><?= $this->translate('Please enter your new password') ?></h4>
                <?= $this->form()->openTag($form); ?>
                <div class="card-header text-center">
                    <div class="logo-container">
                        <img src="img/now-logo.png" alt="">
                    </div>
                </div>
                <div class="card-body">
                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons text_caps-small"></i>
                                        </span>
                        <?= $this->formElement($form->get('new_password')); ?>
                        <?= $this->formElementErrors($form->get('new_password')); ?>
                    </div>
                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons text_caps-small"></i>
                                        </span>
                        <?= $this->formElement($form->get('confirm_new_password')); ?>
                        <?= $this->formElementErrors($form->get('confirm_new_password')); ?>
                    </div>
                    <div class="card-footer text-center">
                        <?= $this->formElement($form->get('submit')); ?>
                    </div>

                    <div class="pull-left">
                        <h6>
                            <a href="<?= $this->url('register', ['controller' => 'auth', 'action' => 'resetpassword']); ?>"
                               class="link footer-link"><?= $this->translate('Change password') ?></a>
                        </h6>
                    </div>
                </div>
                <?= $this->form()->closeTag(); ?>
            </div>
        </div>
    </div>
</div>



