

body {
    background: #F4F7FA;
}

html {
    overflow-x: hidden; 
}

#main {
    min-height: 40rem;
    background: url(../img/bg-head.png);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
}

.p0 {
    padding: 0;
}
.m0 {
    margin: 0;
}

.top-nav {
    position: relative;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
}

.nav-link {
    padding: 1rem;
}

#mainNav {
    position: relative;
    height: 60px;
    left: 0px;
    top: 0px;

    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.07);
}

.logoSS {
    object-fit: none;
    object-position: 93px -43px;
    width: 145px;
    height: 40px;
}

.singin img {
    object-fit: none;
    object-position: -128px -43px;
    width: 18px; 
    height: 18px;
}

.fav img {
    object-fit: none;
    object-position: -1px -85px;
    width: 19px; 
    height: 19px;
}

.trash img {
    object-fit: none;
    object-position: -106px -43px;
    width: 20px; 
    height: 20px;
}

.bdg {
    position: relative;
    margin-left: 24px;
}

.bdg .badge {
    position: absolute;
    top: 0;
    right: -10px;
    width: 17px;
    height: 17px;
    background: #DA000D;
    font-family: Roboto;
    font-weight: bold;
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 0;
}

.trash.bdg .badge {
    right: -12px;
}

.right {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.inb {
    display: inline-block;
}

.tdn {
    text-decoration: none;
}

#navBarSearch {
    width: 2vw; 
    height: 2vw;
    padding: 0;
    margin-top: -0.3rem;
}

.topnr {
    margin: 0 auto;
}
.b0p {
    margin-top: 0.5rem;
}
.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.lang.dropdown-menu {
    width: 67px;
    min-width: 67px;
}

.lang.dropdown-menu  .dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.3rem;
    text-align: center;
}

.botNav {
    height: 35px;
}

.botNav .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
}

.botNav .navbar-nav .nav-link {
    padding: 5px 1rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    align-items: center;
    color: #828282;
}

.lines {
    object-fit: none;
    object-position: -54px -69px;
    width: 21px; 
    height: 12px;
}

.social {
    object-fit: none;
    object-position: -40px -85px;
    width: 16px; 
    height: 19px;
}

.show .social {
    object-position: -22px -85px;
}

.carrow .dropdown-toggle::after {
    content: "";
    width: 8px;
    height: 8px;
    background: url(../img/tsprites.png);
    background-position: -77px -69px;
    display: inline-block;
    margin-left: initial;
    vertical-align: initial;
    border-top: initial;
    border-right: initial;
    border-bottom: initial;
    border-left: initial;
}

.carrow.show .dropdown-toggle::after {
    background-position: -87px -69px;
}

.dsoc {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    align-items: center;
    color: #828282;
}

.dsoc:hover {
    color: #DA000D;
}

.dropdown-item.dsoc {
    padding: .25rem 15px;
    align-items: center;
}

img.in, img.fb, img.tw, img.sk, img.wt {
    object-fit: none;
    object-position: -23px -1px;
    width: 20px; 
    height: 20px;
    margin-right: 6px;
}

img.in {
    object-position: -45px -45px;
}

.dsoc.in:hover img {
    object-position: -45px -1px;
}

.dsoc.fb:hover img {
    object-position: -1px -1px;
}

img.tw {
    object-position: -23px -23px;
}

.dsoc.tw:hover img {
    object-position: -1px -23px;
}

img.sk {
    object-position:-1px -45px;
}

.dsoc.sk:hover img {
    object-position: -67px -1px;
}

img.wt {
    object-position: -45px -23px;
}

.dsoc.wt:hover img {
    object-position: -23px -45px;
}

.drop.dropdown-menu {
    border-radius: 10px;
    min-width: 130px;
}

.show .drop.dropdown-menu {
    right: -45px;
    padding: 15px 0;
}

.navbar-light .navbar-nav .show>.nav-link {
    color: #DA000D;
}

.mb-10 {
    margin-bottom: 10px;
}

.nav-align {
    min-width: 500px;
    display: flex;
    justify-content: space-between;
}

.font-center h1 {
    width: 100%;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 47px;
    line-height: 59px;
    margin: auto;
    margin-bottom: 10px;
}

.font-center p {
    width: 406px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

.pt-30 {
    padding-top: 30px;
}

.mainForm {
    height: 50px;
    background: #FFFFFF;
    border-radius: 25px;
    padding-left: 25px;
    justify-content: space-between;
}

.mt-30 {
    margin-top: 30px;
}

.vert-del {
    width: 1px;
    height: 30px;

    background: #C4C4C4;
}

.mainForm select {
    width: 200px !important;
}

.mainForm .form-group {
    margin-bottom: 0;
}

.btnSearch {
    width: 184px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #DA000D;
    border-color: #DA000D;
    border-radius: 30px;
    transition: 0.5s;
    box-shadow: inset 0px -1vw 0px 0px rgba(170,170,170,1);
}

.btnSearch:hover {
    border-bottom: 5px solid red;
    transition: 0.5s;
}

.btnSearch img {
    object-fit: none;
    object-position: -165px -246px;
    width: 15px; 
    height: 16px;
    margin-right: 10px;
}

.btnSearch span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

.btn-primary {
    color: #fff;
    background-color: #DA000D;
    border-color: #DA000D;
    outline: none !important;
    box-shadow: none;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary-white {
    width: 100%;
    background-color: #FFF;
    border-color: #FFF;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    text-align: center;
    color: #DA000D;
    border-radius: 20px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #FB000F;
    border-color: #FB000F;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #AE000A;
    border-color: #AE000A;
    box-shadow: none;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.fl-end {
    display: flex;
    justify-content: flex-end;
}

.center-select {
    position: relative;
}

.select__input {
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    background: none;
}

.select__text {
    background: #fff;
    pointer-events: none;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    line-height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #4F4F4F;
}

.map-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.map-text img {
    margin-right: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-30 {
    margin-bottom: 30px;
} 

.slider-wrap {
    position: relative;
    overflow: hidden;
    padding-top: 40px;
}

.firtsSl {
    margin-top: -210px;
}

.red-line {
    width: 45px;
    height: 2px;
    margin-right: 10px;
    background: #DA000D;
}

.slider-title h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    color: #FFFFFF;
}

.slider-title .nmb {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-right: 10px;
    color: #DA000D;
}

/* Slider */
.swiper-container {
    width: 100%;
    margin-bottom: 50px;
    overflow: visible;
}

.swiper-wrapper {
    height: initial;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.swiper-slide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}
.swiper-slide-active {
    opacity: 1;
    visibility: visible;
}
.swiper-slide-active + .swiper-slide {
    opacity: 1;
    visibility: visible;
}
.swiper-slide-active + .swiper-slide + .swiper-slide {
    opacity: 1;
    visibility: visible;
}
.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide {
    opacity: 1;
    visibility: visible;
}

.swiper-slide-active + .swiper-slide + .swiper-slide.swiper-slide-blog {
    opacity: 0;
    visibility: hidden;
}
.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide.swiper-slide-blog {
    opacity: 0;
    visibility: hidden;
}

.swiper-slide .card {
    border: none;
}

.swiper-button-next, .swiper-button-prev {
    width: 85px;
    height: 40px;
    right: 0;
    top: 0;
    margin: 0;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0px 20px 20px 0px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
}

.swiper-button-prev {
    right: 95px;
    left: initial;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.swiper-button-next img {
    object-fit: none;
    object-position: -1px -13px;
    width: 23px;
    height: 10px;

}

.swiper-button-prev img {
    object-fit: none;
    object-position: -1px -13px;
    width: 23px;
    height: 10px;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background: #FFFFFF;
}

.swiper-button-next:active, .swiper-button-prev:active {
    background: #F2F2F2;
    border-color: #F2F2F2;
}

.swiper-button-next:hover img, .swiper-button-next:active img {
    object-position: -1px -1px;
}

.swiper-button-prev:hover img, .swiper-button-prev:active img {
    object-position: -1px -1px;
}

.swiper-button-next.garr img {
    object-fit: none;
    object-position: -1px -1px;
    width: 23px;
    height: 10px;

}

.swiper-button-prev.garr img {
    object-fit: none;
    object-position: -1px -1px;
    width: 23px;
    height: 10px;
}

.rarrow {
    object-fit: none;
    object-position: -1px -25px;
    width: 23px;
    height: 10px;
}

.swiper-pagination-bullet {
    width: 43px;
    height: 2px;
    background: #828282;
    opacity: 1;
    border-radius: initial;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.swiper-pagination-bullet-active {
    width: 128px;
    height: 3px;
    left: 603.56px;
    top: 1027px;
    background: #DA000D;
}

.swiper-slider-index {
    position: absolute;
    height: 40px;
    right: 200px;
    top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    text-align: right;
    color: #FFFFFF;
}

.card {
    width: 100%;
}

.card-top-img {
    position: absolute;
    top: 10px;
    left: 10px;
}

.card-img-bot {
    width: 100%;
    height: 35px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
}

.card-img-bot p {
    position: absolute;
    right: 0;
    left: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}

.stars {
    display: flex;
}

.card-star {
    object-fit: none;
    object-position: -1px -1px;
    width: 11px; 
    height: 10px;
}

.card-fav {
    position: absolute;
    right: 10px;
    object-fit: none;
    object-position: -1px -34px;
    width: 19px; 
    height: 19px;
}

.card-fav.active {
    position: absolute;
    right: 10px;
    object-fit: none;
    object-position: -1px -13px;
    width: 19px; 
    height: 19px;
}

.card-body {
    padding: 20px;
    text-align: left;
}

.card-body small {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

.card-body p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}

.mt-20 {
    margin-top: 20px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-card {
    width: 51px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    border-radius: 3px 30px 30px 3px;
}

.btn-card img {
    object-fit: none;
    object-position: -1px -55px;
    width: 20px; 
    height: 20px;
}

.btn-buy {
    width: calc(100% - 54px);
    height: 40px;
    border-radius: 30px 3px 3px 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -45px;
    left: 0;
    width: 100%;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.color-gr h3 {
    color: #333333;
}

.swiper-button-next.color-gr, .swiper-button-prev.color-gr {
    border: 1px solid #333;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background: #FFFFFF;
    border: 2px solid #FFF;
}

.swiper-button-next:active, .swiper-button-prev:active {
    background: #F2F2F2;
    border-color: #F2F2F2;
}

.swiper-slider-index.color-gr {
    color: #333;
}

.types {
    position: relative;
    padding-top: 40px;
}

.bg-gradient-white {
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0px;
    top: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.55) 0%, rgba(244, 247, 250, 0.55) 100%);
}

.fs-18 {
    font-size: 18px;
    line-height: 21px;
}

.mb-6 {
    margin-bottom: 6px;
}

.type-wrap {
    position: relative;
}

.typebg {
    width: 100%;
    height: auto;
}

.type-body {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 40px;
}

.type-icon {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.classUsers{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 30px;
    margin-bottom: 20px;
}

.type-body ul {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1vw;
    color: #FFFFFF;
    margin-left: 3vw;
    padding-left: 0px;
    list-style-position: inside;
}

.type-body ul li {
    margin-bottom: 1vw;
}

.type-body .btn-primary {
    margin-top: 3vw;
}

.filterOptions {
    margin-top: 0vh;
    font-size: 1vw;
}

.descCatIndex img {
    width: 100%;
}

.mb-38 {
    margin-bottom: 38px;
}

.descCatIndex h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin-bottom: 5px;
}

.descCatIndex p {
    width: calc(100% - 20px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
}

.descCatIndex span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}

.descCatIndex .card-img-overlay p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    color: #DA000D;
    margin: 0;
    position: absolute;
    left: 16px;
    bottom: -42px;
    pointer-events: none;
}

.descCatIndex .card-img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.descCatIndex .card-img-overlay a {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    display: none;
}

.descCatIndex .card-img-overlay:hover a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.descCatIndex .card-img-overlay, .descCatIndex .card-img-overlay p {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.descCatIndex .card-img-overlay:hover {
    background: linear-gradient(0deg, rgba(218, 0, 13, 0.6), rgba(218, 0, 13, 0.6)), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    box-shadow: 0px 15px 35px rgba(255, 0, 0, 0.25);
    border-radius: 10px;
}

.descCatIndex .card-img-overlay:hover p {
    color: #FFF;
}

.card-body.blog {
    padding: 15px 20px 30px 20px;
}

.card-body.blog small {
    margin-bottom: 7px;
    display: block;
}

.card-body.blog h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 16px;
}

.card-body.blog p {
    max-height: 48px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
    margin-bottom: 30px;
}

.blog-link {
    display: flex;
    justify-content: flex-end;
}

.card-body.blog a {
    display: flex;
    align-items: center;
    text-align: end;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #DA000D;
}

.card-body.blog a img {
    margin-left: 10px;
    display: none;
}

.card.news {
    cursor: auto;
}

.card.news .read-more:hover img {
    display: block;
    animation: arrMove 1s ease-in-out infinite;
}

.faq img {
    margin-bottom: 20px;
}

.faq h3 {
    height: 57px;
    margin-bottom: 8px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    color: #333333;
}

.faq p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #4F4F4F;
}

.mb-40 {
    margin-bottom: 40px;
}

#contacts {
    height: calc(100vh);
    min-height: 30rem;
    background: url(../img/contactsbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: 100px 0;
}

.contact-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.contact_flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
}

.contact_title {
    margin: 3rem 0;
}

.cont-left {
    width: 100%;
    flex: 1 0 50%;
    display: flex;
    justify-content: flex-end;
    background: #fff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 40px 3rem;
}

.cont-right {
    width: 100%;
    flex: 1 0 50%;
    padding: 70px 0 0 90px;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

#contacts form {
    width: 380px;
}

.md-form {
    position: relative;
    margin-top: 25px;
    margin-bottom: 1.5rem;
}

.md-form .form-control {
    margin: 0 0 .5rem;
    border-radius: 0;
    padding: .6rem 0 .4rem;
    background-color: transparent;
    height: auto;
}

.md-form input[type=date], .md-form input[type=datetime-local], 
.md-form input[type=email], .md-form input[type=number], 
.md-form input[type=password], .md-form input[type=search-md], 
.md-form input[type=search], .md-form input[type=tel], .md-form input[type=text], 
.md-form input[type=time], .md-form input[type=url], .md-form textarea.md-textarea {
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #4F4F4F;
    border-radius: 0;
    box-sizing: content-box;
    background-color: transparent;
}

.md-form label {
    position: absolute;
    top: 0;
    left: 0;
    transition: color .2s ease-out,-webkit-transform .2s ease-out;
    transition: transform .2s ease-out,color .2s ease-out;
    transition: transform .2s ease-out,color .2s ease-out,-webkit-transform .2s ease-out;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    cursor: text;
    color: #757575;
}

.md-form input[type=email]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), 
.md-form input[type=password]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), 
.md-form input[type=text]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), 
.md-form input[type=url]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 #DA000D;
    border-bottom: 1px solid #DA000D;
}

.md-form input[type=date]+label:after, .md-form input[type=datetime-local]+label:after, 
.md-form input[type=email]+label:after, .md-form input[type=number]+label:after, 
.md-form input[type=password]+label:after, .md-form input[type=search-md]+label:after, 
.md-form input[type=search]+label:after, .md-form input[type=tel]+label:after, 
.md-form input[type=text]+label:after, .md-form input[type=time]+label:after, 
.md-form input[type=url]+label:after, .md-form textarea.md-textarea+label:after {
    content: "";
    position: absolute;
    top: 65px;
    display: block;
    opacity: 0;
    transition: .2s opacity ease-out,.2s color ease-out;
}

.md-form input[type=email]:focus:not([readonly]) + label, .md-form input[type=number]:focus:not([readonly]) + label, 
.md-form input[type=password]:focus:not([readonly]) + label, .md-form input[type=tel]:focus:not([readonly]) + label, 
.md-form input[type=text]:focus:not([readonly]) + label, .md-form input[type=time]:focus:not([readonly]) + label, 
.md-form input[type=url]:focus:not([readonly]) + label, .md-form textarea.md-textarea:focus:not([readonly]) + label {
    -webkit-transform: translateY(-14px) scale(.8);
    transform: translateY(-14px) scale(.8);
    color: #DA000D;
}

.br-20 {
    border-radius: 20px; 
}

.mt-25 {
    margin-top: 25px;
}

.cont-row {
    margin-top: 35px;
}

.cont-row h3 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 7px;
}

.cont-row p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
}

.mt-45 {
    margin-top: 45px;
}

.fot-top {
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(244, 247, 250, 0.7) 100%);
    overflow: hidden;
    padding: 0 150px 55px 150px;
}

.fot-bot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: #000000;
}

.fot-bot p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.mt-35 {
    margin-top: 35px;
}

.cont-row.color-gr h3 {
    color: #333333;
    margin-bottom: 13px;
}

.cont-row.color-gr p {
    color: #828282;
}

.footer ul {
    padding: 0;
    list-style-type: none;
}

.footer a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
    margin-bottom: 15px;
}

.footer a:last-child {
    margin-bottom: 0;
}

.footer a.mb-10 {
    margin-bottom: 10px;
}

.topNavHide {
    display: flex;
}

.topNavBarSwish {
    display: none;
}

.bgwhite {
	height: 10vw;
    background: white;
    display: none;
    margin: 0;
    top: 0;
}

.menuItem {
    cursor: pointer;
    width: 5rem;
    opacity: 0.5;
    padding: 1.2rem 1rem;
    margin: 0 1.2rem;
}

.logotype {
    padding: 0.3rem;
}
#ncont {
    display: flex;
}
.dropdownMenu {
    float: right;
}


.searchArea {
    display: none;
}

.floatRight {
    float: right;
}

.mainSearch {
    background: white;
    border-radius: 1.5rem;
    padding: 0.5rem;
}

.dropdownCategory {
    padding: 1rem 3rem;
    cursor: pointer;
    width: 100%;
    background-color: white;
    color: #828282;
    text-align: left;
    border: 0;
    position: relative;
}
.dropdownCategory:hover {
    background-color: white;
    color: red;
}
#dropdownMenuLink:active {
    background-color: white;
}

#fstDropDownCat {
    text-align: left;
    color: #828282;
    width: 100%;
    background-color: white;
    border: 0;
}

#secndDropDownCat {
    text-align: left;
    color: #828282;
    width: 100%;
    background-color: white;
    border: 0;
}

#lastDropDownCat {
    text-align: left;
    color: #828282;
    width: 100%;
    background-color: white;
    border: 0;
}

.searchButton {
    width: 95%;
    height: 3rem;
    background-color: red;
    border-radius: 3rem;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.searchSM {
    text-align: center;
    color: white;
}

#ddone, #ddtwo, #ddthree {
    width: 100%;
    border: 0.01rem solid #aaa;
}

#dropDownToggle {
    float: right;
}

.menuNavTop {
    margin: 0;
}

.loginForm {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: 0;
    border-radius: 1rem;
}
.captcha {
    text-align: center;
    width: 30vw;
    height: 2rem;
    background-color: grey;
}

.buttonForm {
    background-color: red;
    color: white;
    border-bottom: 0.2rem solid #c30a0a;
    transition: 0.5s;
}

.buttonForm:hover {
    background-color: #e20b0b;
}
.buttonForm:active{
    background-color: #c30a0a;
}

.passwordForm {
}

.passwordForm {
    background-image: url(../img/lock.png);
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1.5rem;
}

.passwordForm:active, .passwordForm:focus {
    background: white;
}

.loginFormula {
    margin-top: 2rem;
}

.textLogin {
    margin-top: 5rem !important;
}

.wrongInput {
    background-color: rgba(255, 0, 0, 0.25);
    padding: 0.2rem 0.5rem;
}

.logForm {
    background-image: url(../img/login.png);
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1.5rem;
}

.logForm:active, .logForm:focus {
    background: white;
}

.deniInfo {
    width: 100%;
    border-radius: 0.4rem;
    opacity: 0.5;
    padding: 0.3rem 0.1rem;
}

.regName {
    border-radius: 1rem 1rem 0 0;
    padding: 0.5rem 3.5rem;
    margin: 0.2rem 0 0 0;
    border: 0;
    opacity: 0.9;
    background-image: url(../img/idCard.png);
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1.5rem;
    width: 100%;
    outline: none;
}

.regLogin {
    padding: 0.5rem 3.5rem;
    margin: 0.2rem 0 0 0;
    border: 0;
    opacity: 0.9;
    background-image: url(../img/login.png);
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1.5rem;
    width: 100%;
    outline: none;
}

.regMail {
    border-radius: 0 0 1rem 1rem;
    padding: 0.5rem 3.5rem;
    margin: 0.2rem 0 0.5rem 0;
    border: 0;
    opacity: 0.9;
    background-image: url(../img/email.png);
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1.5rem;
    width: 100%;
    outline: none;
}

.regPass {
    padding: 0.5rem 3.5rem;
    margin: 0.2rem 0 0 0;
    border: 0;
    border-radius: 1rem 1rem 0 0;
    opacity: 0.9;
    background-image: url(../img/lock.png);
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1.5rem;
    width: 100%;
    outline: none;
}
.signLogin {
    padding: 0.5rem 3.5rem;
    margin: 0;
    border: 0;
    border-radius: 1rem;
    opacity: 0.9;
    background-image: url(../img/login.png);
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1.5rem;
    width: 100%;
    outline: none;
}

.signPass {
    padding: 0.5rem 3.5rem;
    margin: 1rem 0;
    border: 0;
    border-radius: 1rem;
    opacity: 0.9;
    background-image: url(../img/lock.png);
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1.5rem;
    width: 100%;
    outline: none;
}

.regRepeatPass {
    padding: 0.5rem 3.5rem;
    margin: 0.2rem 0 0 0;
    border: 0;
    border-radius: 0 0 1rem 1rem;
    opacity: 0.9;
    background-image: url(../img/lock.png);
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1.5rem;
    width: 100%;
    outline: none;
}

.selectUser {
    border: 0.02em solid #eee;
    width: 100%;
}

.reg4Owner {
    width: 100%;
    padding: 0;
    opacity: 0.9;
}

.reg4Agency, .reg4Co {
    padding: 0.5rem 1rem;
    padding-left: 3.7rem;
    text-align: left;
    opacity: 0.9;
    border-radius: 0.5rem;
    background-image: url(../img/star.png);
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1.5rem;
    opacity: 0.9
}

.reg4Own {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    padding-left: 3.7rem;
    opacity: 0.9;
    border: 0;
    border-radius: 1rem;
    background-image: url(../img/star.png);
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1.5rem;
    margin: 0.5rem 0 0.5rem 0;
    outline: none;
}

.issuebox {
    width: 100%;
    margin: 0;
    padding: 0.3rem 0;
    margin: 1rem 0;
    color: white;
}
.issuebox > p {
    margin: 0 auto;
}

.regRules {
    width: 100%;
    color: white;
    text-align: left;
}

.registrRules {
    margin: 0 auto;
    font-size: 0.8rem;
    margin-top: 1rem;
}

.markRules {
    float:left;
    margin: 1rem;
    margin-left: 0;
}

#owner, #agency, #company {
    color: white;
    text-align: left;
    margin-top: 2rem;
}

.descCat {
    font-weight: 500;
}

.imgDesc {
    margin: 10rem 2rem 1rem 0;
}

.whyPoint {
    margin-bottom: 0.3rem;
    margin-left: 1rem;
}

.registrationButton {
    width: 90%;
    background-color: red;
    color: white;
    border: 0;
    border-bottom: 0.2rem solid #c30a0a;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    margin: 0.5rem;
    border-radius: 1rem;
    transition: 0.5s;
}

.do_login {
    width: 90%;
    background-color: red;
    color: white;
    border: 0;
    border-bottom: 0.2rem solid #c30a0a;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    border-radius: 1rem;
    transition: 0.5s;
}

.registrationButton:hover {
    background-color: #e20b0b;
}
.registrationButton:active{
    background-color: #c30a0a;
}

.registrationText {
    width: 100%;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 600;
    font-size: 47px;
    line-height: 59px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: white;
}

.regForm {
    margin-bottom: 5rem;
}

.inv {
    display: none;
}

.newsItem {
    margin: 0;
    background-color: white;
    width: 100%;
    -webkit-box-shadow: 0px 0px 3vw 0px #d8d8d8;
    -moz-box-shadow: 0px 0px 3vw 0px #d8d8d8;
    box-shadow: 0px 0px 3vw 0px #d8d8d8;
    border: 0;
    border-radius: 0.7vw;
}


.newsShortDesc {
    padding-bottom: 6rem;
}
.postedTime {
    color: black;
    opacity: 0.5;
}

.postImage {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.7rem 0.7rem 0 0;
}

.postTitle {
    margin: 1rem;
    font-weight: 600;
}

.newsShortDesc, .postedTime, .postTitle {
    margin: 1rem 1rem 1rem 2rem;
}

.postTitle {
    font-weight: 600;
}

.newsMore {
    margin: 4rem 2rem 0 0;
    float: right;
}

.contentBlockBanner {
    background-color: white;
    margin: 0.5rem;
}

.contentBlockBanner > img {
    width: 100%;
}

.contentBox {
    padding: 0;
    background-color: white;
    border-radius: 0.6rem;
	-webkit-box-shadow: 0 0 1rem 0 rgba(191,191,191,1);
	-moz-box-shadow: 0 0 1rem 0 rgba(191,191,191,1);
	box-shadow: 0 0 1rem 0 rgba(191,191,191,1);
}
.slider_card {
    padding-right: 30px;
}

.contentBoxF {
    margin-bottom: 2vw;
    padding: 0;
    background-color: white;
    border-radius: 0.6rem;
	-webkit-box-shadow: 0 0 1rem 0 rgba(191,191,191,1);
	-moz-box-shadow: 0 0 1rem 0 rgba(191,191,191,1);
	box-shadow: 0 0 1rem 0 rgba(191,191,191,1);
}

.contentBox:hover {
    transition: 1s;
	-webkit-box-shadow: 0 0 1rem 0 #e58787;
	-moz-box-shadow: 0 0 1rem 0 #e58787;
	box-shadow: 0 0 1rem 0 #e58787;
}

.insideContentBox {
    margin: 1vw;
    line-height: 1.2;
}

.exDescriptionInfo {
}

.exCategoryDesctription {
    font-size: 0.7rem;
    margin-bottom: 0;
}

.exLocationDescription {
    font-size: 0.7rem;
    margin-bottom: 0;
}

.exInfoDescription {
    font-size: 0.7rem;
    margin-bottom: 0;
}

.exButton {
    padding: 1rem;
}

.exImages {
    width: 100%;
}

.exFlexContainer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.exBuyButton {
    margin-right: 0.2rem;
    flex: 7 1 auto;
}

#exBuyButton {
    text-align: center;
    padding: 0.6rem 0;
    background-color: red;
    border: 0;
    border-radius: 1rem 0.1rem 0.1rem 1rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.exCartButton {
    margin-left: 0.2rem;
    flex: 3 1 auto;
}

#exCartButton {
    text-align: center;
    padding: 1.4rem 0;
    background-color: red;
	background-image: url(../img/cartbtn.png);
	background-repeat: no-repeat;
	background-size: 1rem;
	background-position: center;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 0.1rem 1rem 1rem 0.1rem;
}


#filterBillboards {
    margin-top: 5vh;
}

.exImageBlock {
    height: 10rem;
    background-image: url(../img/slide.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
}
.exIco {
    position: absolute;
    top: 10px;
    left: 10px;
}
.b_options {
    position: absolute;
    bottom: 0;
    width: 96%;
    padding: 0.3em;
    background-color: rgba(0, 0, 0, 0.50);
}
.rating_group {
    position: relative;
    width: 50px;
    height: 10px;
    background-image: url(../img/rstaremp.svg);
    background-repeat: repeat-x;
    background-size: 10px;
}
.rating_input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.rating_star {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    margin: 0;
    background-size: 10px auto;
    background-repeat: repeat-x;
    font-size: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.rating_star:focus {
    outline: none;
}
.rating_input:checked + .rating_star,
.rating_star:hover {
    background-image: url(../img/rstariss.svg);
}
.rating_star:hover ~ .rating_star {
    background-image: url(../img/rstaremp.svg);
}

.rating_star_active {
    z-index: 6;
    width: 50px;
}


.rating_star:nth-of-type(1){
    z-index: 5;
    width: 10px;
}
.rating_star:nth-of-type(2){
    z-index: 4;
    width: 20px;
}
.rating_star:nth-of-type(3){
    z-index: 3;
    width: 30px;
}
.rating_star:nth-of-type(4){
    z-index: 2;
    width: 40px;
}
.rating_star:nth-of-type(5){
    z-index: 1;
    width: 30px;
}

.searchOnMap {
	margin: 1rem;
	padding: 0.7rem;
	text-align: center;
	background-color: white;
	background-image: url(../img/markred.png);
	border-radius: 2rem;
	border: 0.1rem solid red;
	cursor: pointer;
}

#searchOnMapButton {
	color: red;
}

.resetAllFilters {
	margin: 1rem;
	padding: 0.7rem;
	text-align: center;
	background-color: #eee;
	border-radius: 2rem;
	cursor: pointer;
}


#resetAllFiltersButton {
	color: #828282;
}

.billboardsContentBox {
	margin-top: 60px;
	
}

.dropDownBurgerImage {
    background-color: white;
	width: 100%;
	height: 10vw;
	background-image: url(../img/btn.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	border: 0;
}

.dropDownBurgerImage:hover, .dropDownBurgerImage:active, .dropDownBurgerImage:focus  {
    background-color: white;
}

#searchButton {
	width: 100%;
	height: 10vw;
	background-image: url(../img/magnifying-glass.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	opacity: 0.6;
}

#logotypeSM {
	width: 100%;
	height: 10vw;
	background-image: url(../img/logotype.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	
}

#userAccount {
	width: 100%;
	height: 10vw;
	background-image: url(../img/user.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	opacity: 0.6;
}

#favoritesSM {
	width: 100%;
	height: 10vw;
	background-image: url(../img/heart.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	opacity: 0.6;
}

#cartSM {
	width: 100%;
	height: 10vw;
	background-image: url(../img/shopping-cart.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	opacity: 0.6;
}

#searchButton, #userAccount, #favoritesSM, #favoritesSM ,#cartSM, .dropDownBurgerImage, .bgwhite, #logotypeSM {
	height: 10vw;
}

.filterOp {
    display: inline-block;
}

#filOp {
    margin: 0;
    margin-top: 2.75vh;
}


#burgerMenu {
	margin-right: 0;
	padding-right: 0;
	
}
#logotypeOnSM {
	margin-left: 0;
	padding-left: 0;
}

#boxSearchButton, #boxUserAccount, #boxFavoriteSM, #boxCartSM {
	padding: 0;
	margin: 0;
	margin: 0 1.7rem;
}
#boxSearchButton {
	margin-left: 6rem;
}


#dropDownMenuBurger {
	width: 50vw;
	margin-top: -1rem;
	margin-left: -1rem;
	background: white;
}

#logoDropBurger {
	width: 70%;
	margin: 2rem;
}

.burgerSection {
	font-size: 2.5vw;
	font-weight: 600;
	margin: 3rem 0 2rem 3rem;
}
.pageNotFound {
	width: 100%;
	height: 90vh;
	background-image: url(../img/404.png);
	background-repeat: no-repeat;
	background-size: 30vw;
	background-position: calc(50% - 15vw);
}
.oops {
    margin: 3rem 0;
    left: 50%;
}
#ops {
	padding-top: 25vh;
	font-size: 4vw;
	margin-left: 1vw;
}

#oops {
	font-size: 1.2vw;
	color: rgba(0, 0, 0, 0.5); 
	margin-left: 1vw;
}

#secondAd {
	margin-bottom: 1rem;
}

.profileBox {
	background-color: white;
	height: 100vh;
}


.profileLogo {
	width: 100%;
	height: 5vw;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}
.pro_svg {
    margin-left: 1rem;
}
.pro_my, .pro_noti, .pro_boards, .pro_category_boards, .pro_history_boards, .pro_profiles, .pro_cities, .pro_blog {
    margin-left: 0.3rem;
}

.pro_op {
    line-height: 16px;
    color: #828282;
    text-decoration: none;
}

.userImage {
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	background-color: #eee;
	margin: 0 auto;
	margin-top: 1vw;
	text-align: center;
	transition: 0.5s;
}

.userImage:hover {
	transition: 0.5s;
	background-color: #aaa;
	cursor: pointer;
}

#userName {
	margin-top: 1vw;
	text-align: center;
	margin-bottom: 0;
}

#userPosition {
	font-size: 1rem;
	text-align: center;
	color: #828282;
    margin-bottom: 3rem;
}

#categoriesList {
	width: 90%;
	margin: 0 auto;
	text-align: left;
}

.navPan {
	width: 100%;
	height: 4vw;
	background-color: white;
	border: 1px solid #eee;
}

#logotypeCell {
	text-align: center;
	padding-left: 4vw;
}

#logotypeLG {
	padding: 0.5vw 0;
}

#marginLeft {
	margin-left: 3vw;
}

#marginRight {
	margin-right: 3vw;
}

.navPan-items {
	margin: 0;
	padding: 0;
}

#billboardsFillterText {
	font-size: 3vw;
	color: black;
	margin-top: 3vw;
	margin-bottom: 1vw;
}

.formXX-item {
	width: 100%;
	border: 0;
	border-radius: 0.3vw;
	border: 0.1vw solid #eee;
    padding: 0.5vw 1vw;
    margin-bottom: 1vw;
}

.flex-boxK > div > p {
	padding: 0;
	margin: 0;
	font-size: 0.9vw;
	font-weight: 600;
	
}
.flex-boxK {
	padding: 0 2vw;
	display: flex;
}
.flex-item {
	flex: 5 0;
	border: 0.1vw solid #cecece;
	width: 100%;
	margin: 0;
	padding: 0;
	padding: 0.5vw 0 0.7vw 0.4vw;
	text-align: left;
}

.flex-itemG {
	flex: 5 0;
	border: 0.1vw solid #cecece;
	width: 100%;
	margin: 0;
	padding: 0;
	padding: 0.5vw 0 0.7vw 0.4vw;
	text-align: left;
	background-color: white;
	
}

.idCell {
	flex: 3 0;
	border-radius: 0.15vw 0 0 0.15vw;
}
.statusCell {}
.beginCell {}
.endCell {}
.categoryCell {}
.addressCell {
	flex: 12 0;
}
.photoCell {
	flex: 2 0;
}
.priceCell {
	flex: 3 0;
}
.optionsCell {
	flex: 4 0;
	border-radius: 0 0.15vw 0.15vw 0;
}

.newBanner {
	visibility: hidden;
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 9;
	padding: 6vw;
}

.bgOp90 {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: black;
	left: 0;
	top: 0;
	z-index: -1;
	opacity: 0.7;
}

.formBox {
	width: 100%;
	height: calc(100vh - 12vw);
	background: white;
	color: #6f6e6e;
	padding: 2vw 5vw;
}

.navButtonsLK {
	width: 25%;
	padding: 1vw 1vw;
	border: 0;
	border-radius: 0.3vw;
	text-align: center;
	display: inline-block;
	margin: 1vw 0;
}

#navButtonLKLeft{
	background-color: red;
	color: white;
	float: right;
	border: 0.1vw solid black;
	margin-right: 2vw;
	margin-left: 0.5vw;
}

#navButtonLKRight {
	background-color: white;
	color: #404040;
	float: right;
	border: 0.1vw solid black;
}

#h723 {
	padding: 1.5vw 0 0 2vw;
	display: inline-block;
}

#closeNewBannerForm {
	float: right;
}

/*
#categoriesBillboards, #format, #locationDistrict, #locationCity, #sidesCount, #locationStreet{
	width: 100%;
	display: inline-block;
}
*/

#h232 {
	text-align: center;
	margin-bottom: 2vw;
	text-transform: uppercase;
	font-family: Arial;
}

#filterBillboardstxt {
    margin: 2vh 0 4vh 0;
}
.inpFormBlock {
    margin-left: 20%;
}
.filter_isset_options {
    color: #524f4f;
}

.filter_isset_option {
    display: inline-block;
    width: 0 auto;
    padding: 0.8vw;
    border-radius: 2rem;
    background-color: #eee;
    margin: 0.3vw 0.3vw;
}

.filter_label {
    margin: 0;
}

.filter_button {
    border: 0;
    background: 0;
}

.filter_btn_close {
    background-image: url('../img/xOpen.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
}

.filter_btn_close {
    background-image: url('../img/xOpen.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
}

#allBillboardsCounter {
    font-weight: 600;
    color: #828282;
    text-decoration: none;
}
#allBillboardsCounterRes {
    float: right;
    color: #828282;
    text-decoration: none;
}

.opFilt {
    color: #828282;
    text-decoration: none;
}

.billboards_region {
    margin: 2vh 0 2vh 0;
}

#searchByStreetAdd {
    font-weight: 600;
    font-size: 1vw;
}

#inpSearchStAdd {
    margin-top: 2vh;
    padding: 1vh 2vh;
    border: 0;
    border-radius: 2rem;
}

#map {
    width: 100vw;
    height: 900px;
}

#editArticlesBox {
    visibility: hidden;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: black;
}

#editArticle {
    visibility: hidden;
    position: absolute;
    width: 50%;
    height: 50vh;
    background-color: #eee;
}
#newsCategory {
    margin: 5vh 0 5vh 0;
    margin-left: 12.333333vw;
    font-size: 2.7rem;
    color: #333333;
    margin-bottom: 3vw;
}

.leftNewsBlockItem {
    margin: 0 0;
    padding-right: 3vw;
    width: 100%;
}

.rightNewsBlockItem {
    margin: 0 0;
    padding-left: 3vw;
    width: 100%;
}

.newsItems {
    margin-bottom: 5vw;
}

#selectedBanner {
    font-weight: 600;
}

#dateOptionSort {
    display: inline-block;
}

#sortirovka {
    display: inline-block;
}

#options {
    
}

.fl {
    text-align: left;
    margin-bottom: 0;
}

.exFl {
    padding: 0;
}

.advertsIMG {
    width: 100%;
}

.spaceBetween {
    width: 5%;
    background: transparent;
}

.workDesc {
    padding: 1rem;
    width: 95%;
    height: auto;
    border-radius: 1vw;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
}

.workDesc:hover {
    box-shadow: 0px 15px 35px rgba(218, 0, 13, 0.2);
}


#for_agency {
    background-image: url(../img/typebg1.png);
    background-repeat: no-repeat;
    background-size: 150%;
}
#img_for_agency {
    width: 34%;
    margin: 4vw 0;
    margin-left: calc(50% - 17%);
}

#h3_for_agency, #h3_for_owner, #h3_for_company {
    color: white;
    margin-left: 1.2rem;
}

.branchBtnContact {
    border: 0;
    border-radius: 3rem;
    color: red;
    background-color: white;
    transition: 1s;
    padding: 0.7rem;
    margin-bottom: 1.5rem;
    width: 100%;
}
.branchBtnContact:hover, .branchBtnContact:active, .branchBtnContact:focus  {
    transition: 1s;
    color: white;
    background-color: red;
}

#for_owner {
    background-image: url(../img/typebg2.png);
    background-repeat: no-repeat;
    background-size: 150%;
}

.skillMarks {
    margin-left: 0.7rem;
    color: white;
    font-size: 0.8rem;
    line-height: 2;
}

#img_for_owner {
    width: 34%;
    margin: 4vw 0;
    margin-left: calc(50% - 17%);
}

#for_company {
    background-image: url(../img/typebg3.png);    
    background-repeat: no-repeat;
    background-size: 150%;
}
#img_for_company {
    width: 34%;
    margin: 4vw 0;
    margin-left: calc(50% - 17%);
}

.b613 {
    border: none;
    background: none;
    color: #828282;
    font-weight: 500;
}
#slectSortCat {
    color: #828282;
    padding-bottom: 1.2vw;
    margin-bottom: 0.8vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* hover style just for information */
label:hover:before {
    border: 2px solid #4778d9!important;
    background: #ffffff;
}
.father_option {
    color: #828282;
    font-weight: 600;
    padding-bottom: 1.2vw;
    list-style: none;
}
.list_options {
    color: #828282;
    padding-bottom: 1.2vw;
    margin: 0;
    padding: 0;
}
.list_option {
    color: #828282;
    border: 1px 0 1px 1px solid rgba(0, 0, 0, 0.1);
    list-style: none;
    padding-top: 5px;
    display: block;
    padding-bottom: 1.2vw;
}
.formTitle {
    display: none;
    margin-bottom: 1rem;
}
#contactsTitle {
    color: #535353;
    margin-bottom: 0.2rem;
}
#SMContactsTitle {
    display: none;
}

.SMDFsocial {
    display: inline-block;
    width: 70px;
    margin-top: 2rem;
}

.captcha_reg {
    transform: scale(1.38);
    margin: 2rem 0;
}
.captcha_login {
    transform:scale(1.15);
}
.g-recaptcha > div {
    margin: 0 auto;
}

.sm_svg {
    display: none;
}
.billboard_id_container {
    margin-top: 2rem;
}

.billboard_info {
    padding-left: 3rem;
}

.billboard_location {
    margin-left: -3rem;
    padding-left: 3rem;
    width: 100%;
    background: linear-gradient(180deg, rgba(218, 0, 13, 0.05) 0%, rgba(245, 248, 250, 0.05) 100%);
    border-radius: 10px 10px 0px 0px;
}

.banner_status {
    padding-top: 1rem;
}

.billboards_prfcdd {
    color: #828282;
    margin: 0;
}

.side_a {
    display: inline-block;
    padding: 0.6rem 4rem;
    background: white;
    border: 0;
    border: 1px solid red;
    border-radius: 20px 0px 0px 20px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.side_a:hover {
    transition: 0.5s;
    background: red;
    color: white;
}

.side_b {
    display: inline-block;
    padding: 0.6rem 4rem;
    background: white;
    border: 0;
    border: 1px solid red;
    border-radius: 0px 20px 20px 0px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.side_b:hover {
    transition: 0.5s;
    background: red;
    color: white;
}

.aContainer {
    width: 100%;
    border-radius: 0.3rem;
    transition: 0.2s;
}
.aContainer:hover {
    transition: 0.2s;
    box-shadow: 0px 15px 35px rgba(218, 0, 13, 0.2);
}
.aSecDesc {
    font-size: 0.8rem;
    margin-bottom: 3rem;
}
.aTypeImg {
    padding: 3rem 0;
}
.aSkillPoints {
    margin-left: 2rem;
    margin-bottom: 2rem;
    color: white;
}
.aSkillPoints > li {
    text-align: left;
}
.aBtnContact {
    width: 80%;
    padding: 0.5rem 0;
    border: 0;
    color: red;
    border-radius: 30px;
    margin-bottom: 1.5rem;
    outline: none;
    transition: 0.3s;
}
.aBtnContact:hover {
    border: 0;
    color: white;
    background-color: red;
    transition: 0.3s;
}
.aBtnContact:active, .aBtnContact:focus {
    background-color: rgb(179, 0, 0);
    outline: none;
    color: white;
    transition: 0.3s;
}
.aContainer {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 1rem;
}
#aFirstC { background-image: url("../img/typebg1.png"); }
#aSecondC { background-image: url("../img/typebg2.png"); }
#aThreeC { background-image: url("../img/typebg3.png"); }
.aClassHeader {
    font-size: 3rem;
    color: white;
    font-weight: 300;
    padding: 2rem 0 1rem 0;
    text-align: center;
}
.navbar_border {
    -webkit-box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.75);
}
.lang_switch {
    border: 0;
    background: none;
}
.lang_switch:active {
    border: 0;
    background: none;
}

@media screen and (max-width: 1140px)  {
    .disabled {
        display: none;
    }
    .bgwhite {
        position: fixed;
        width: 100%;
        z-index: 999999;
        display: flex;
    }
    #SMContactsTitle {
        display: flex;
        margin-bottom: 2rem;
        padding-top: 2rem;
    }
    #faceBannerMD {
        margin-top: 8rem;
    }
    #for_agency, #for_owner, #for_company{
        margin-bottom: 1rem;
    }
    .swiper-slide {
        opacity: 1;
        visibility: visible;
    }
    .searchArea {
        display: flex;
    }
     .topNavHide {
        display: none;
    }
    .topNavBarSwish {
        display: flex;
    }
    .swiper-slider {
        opacity: 1;
        visibility: visible;
    }
    #main {
        min-height: 60rem;
    }
    #contacts {
        min-height: 45rem;
        padding: 0;
    }
    .cont-row.color-gr h3 {
        font-weight: 600;
        font-size: 2rem;
        margin-top: 2rem;
    }
    .fot-top {
        padding: 0 50px;
    }
    .footer a {
        font-size: 1.5rem;
        line-height: 3rem;
    }
    .dsoc {
        display: inline-block;
        margin: 0 30px;
    }
    .dsoc:nth-of-type(1) {
        margin: 0;
        margin-right: 30px;
    }
    .dsoc:nth-of-type(5) {
        margin: 0;
        margin-left: 30px;
    }
    .sm_svg {
        display: block;
    }
}


@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }

}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

@media screen and (max-width: 960px) {
    .smHide {
        display: none;
    }
    
    .smType {
        margin-bottom: 1vw;
    }
    .inpFormBlock {
        margin: 0;
    }
}

@keyframes arrMove {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(10px, 0);
    }
}

@media screen and (max-width: 992px) {
    .classUsers {
        font-size: 4vw; 
        margin-left: calc(50% - 21%);
        margin-bottom: 5vw;
    }
    .type-body > ul {
        font-size: 2vw;
        margin-left: 19vw;
        margin-bottom: 5vw;
        line-height: 2vw;
    }
    .type-body > li {
        font-size: 2vw;
        line-height: 3vw;
    }
    .btn-primary-white{
        width: 90%;
        margin: 0 5vw;
        font-size: 2vw;
        padding: 1vw 0;
    }
    .insideContentBox {
        margin: 20px;
        margin-bottom: 0;
    }
    #exBuyButton, #exCartButton {
        font-size: 22px;
        padding: 0.7rem 0;
    }
    #exCartButton {
        height: 1.7rem;
    }
    .exImageBlock {
        height: 12rem;
    }
    .exInfoDescData, .exLocationDescData, .exCatDescData, .skillMarks {
        font-size: 1.2rem;
    }
    .exInfoDescription, .exLocationDescription, .exCategoryDesctription {
        font-size: 1rem;
        color: gray;
    }
    .exInfoDescData {
        margin-bottom: 2rem;
    }
    #burgerMenu, #dropdownMenuButton {
        padding: 0;
        margin: 0;
    }
    #dropdownMenuButton {
        margin-left: -2vw;
    }
    .formTitle {
        display: block;
    }
    #contacts form {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
	#searchButton, #userAccount, #favoritesSM, #favoritesSM ,#cartSM, .dropDownBurgerImage, .bgwhite, #logotypeSM {
	    height: 6rem;
	}
    
	
	#boxSearchButton, #boxUserAccount, #boxFavoriteSM, #boxCartSM {
		background-size: 3.5rem;
		padding: 0;
		margin: 0;
        margin-left: 5vw;
	}
    #logotypeSM {
        width: 10rem;
    }
    #dropdownMenuButton {
        width: 10rem;
    }
}

@media screen and (max-width: 800px) {
    #contacts {
        min-height: 75rem;
    }
}
@media screen and (max-width: 768px) {
    .menuItem {
        width: 4rem;
        margin: 0 0.5rem;
        padding: 1.65rem 1rem;
    }
    #shoppingCart {
        margin-right: 2rem;
    }
    .dropDownBurger {
        margin-left: 1rem;
    }
    .SMDFsocial {
        width: 50px;
    }
    .dsoc {
        font-size: 1.2rem;
        display: inline-block;
        margin: 0 10px;
    }
    .footer_category {
        font-size: 1.2rem;
    }
    .dsoc:nth-of-type(1) {
        margin: 0;
        margin-right: 10px;
    }
    .dsoc:nth-of-type(5) {
        margin: 0;
        margin-left: 10px;
    }
}

/* XS */
@media screen and (max-width: 576px) {
	.font-center h1 {
		line-height: 8vw;
		font-size: 7vw;
		margin-bottom: 4vw;
	}
	.font-center p {
		width: 90%;
		font-size: 3vw;
		line-height: 3vw;
		margin-bottom: 5vw;
	}
    #boxSearchButton, #boxUserAccount, #boxFavoriteSM, #boxCartSM {
        margin-left: 5vw;
    }
    #searchButton, #userAccount, #favoritesSM, #favoritesSM, #cartSM, .dropDownBurgerImage, .bgwhite, #logotypeSM {
        height: 20vw;
    }
    #favoritesSM, #cartSM, #userAccount, #searchButton {
        width: 15vw;
    }
    
     #dropdownMenuButton {
        width: 20vw;
        width: 20vw;
    }
    #logotypeSM {
        width: 25vw;
    }
    .exInfoDescData, .exLocationDescData, .exCatDescData, .skillMarks {
        font-size: 1rem;
    }
    .cont-left {
        padding-left: 5rem;
        padding-right: 1rem;
    }
    .SMDFsocial {
        width: 30px;
    }
    .footer a {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
}

@media screen and (max-width: 420px) {
    .exInfoDescData, .exLocationDescData, .exCatDescData, .skillMarks {
        font-size: 0.9rem;
    }
    #h3_for_agency, #h3_for_owner, #h3_for_company {
        font-size: 1.2rem;
        line-height: 1.2;
    }
    .skillMarks{
        line-height: 1.2;
    }
    .registrationText {
        font-size: 20px;
    }
    .fot-top {
        padding: 0;
    }
}
