<?php
    $banner = $this->banner;
    $currentUser = $this->currentUser;
    $ownerAccount = $this->ownerAccount;
?>

<div class="row">
    <div class="col-xs-12">
        <h2 class="page-header">
            <i class="fa fa-globe"></i> Banner.MD<br>
            <small class="pull-right"></small>
        </h2>
    </div>
    <!-- /.col -->
</div>

<?=$this->translate('You have successfully booked a banner!')?>

<hr align="left" width="300" size="0" color="#5882FA" />

<div class="invoice-box">
    <table cellpadding="0" cellspacing="2">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                        </td>

                        <td>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr align="left">
                        <td>
                            To:<br>
                            <strong>Company:</strong>&#160;<?php echo $ownerAccount['0']['company'];?><br>
                            <strong>IDNO:</strong>&#160;<?php echo $ownerAccount['0']['idno'];?><br>
                            <strong>Bank:</strong>&#160;<?php echo $ownerAccount['0']['bank'];?><br>
                            <strong>Account:</strong>&#160;<?php echo $ownerAccount['0']['account'];?><br>
                            <strong>IBAN:</strong>&#160;<?php echo $ownerAccount['0']['iban'];?><br>
                            <strong>Address:</strong>&#160;<?php echo $ownerAccount['0']['adress'];?><br>
                            <strong>Swift:</strong>&#160;<?php echo $ownerAccount['0']['swift'];?><br>
                            <strong>Email:</strong>&#160;<?php echo $ownerAccount['0']['email'];?><br>
                        </td>
                        <td>
                            From:<br>
                            <strong>Name:</strong>&#160;<?php echo $currentUser['0']['name'];?><br>
                            <strong>Email:</strong>&#160;<?php echo $currentUser['0']['email'];?><br>
                            <strong>IDNO:</strong>&#160;________________________________________<br>
                            <strong>Account:</strong>&#160;_____________________________________<br>
                            <strong>IBAN:</strong>&#160;________________________________________<br>
                            <strong>Phone:</strong>&#160;_______________________________________<br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <br>
    </table>
</div>
<br>

<hr align="left" width="300" size="2" color="#ff9900" />

<br>

<div class="invoice-box">
    <table cellpadding="0" cellspacing="1">
        <tr class="heading">
            <td>
                <strong>Category:</strong>
            </td>

            <td>
                <?php echo $banner->getCategory()->getName();?>
            </td>
        </tr>

        <tr class="heading">

            <td>
                <strong>Region:</strong>
            </td>

            <td>
                <?php echo $banner->getCity()->getNameRegion();?>
            </td>
        </tr>

        <tr class="details">
            <td>
                <strong>City:</strong>
            </td>

            <td>
                <?php echo $banner->getCity()->getNameCity();?>
            </td>
        </tr>

        <tr class="heading">
            <td>
                <strong>Adress:</strong>
            </td>

            <td>
                <?php echo $banner->getAdress();?>
            </td>
        </tr>

        <tr class="item">
            <td>
                <strong>Description:</strong>
            </td>

            <td>
                <?php echo $banner->getDescription();?>
            </td>
        </tr>

        <tr class="item">
            <td>
                <strong>Date from:</strong>
            </td>

            <td>
                <?php echo $banner->getBannerStatuses()->last()->getTimeStart()->format('Y-m-d');?>
            </td>
        </tr>

        <tr class="item last">
            <td>
                <strong>Date till:</strong>
            </td>

            <td>
                <?php echo $banner->getBannerStatuses()->last()->getTimeEnd()->format('Y-m-d');?>
            </td>
        </tr>

        <tr class="item">
            <td>
                <strong>Status:</strong>
            </td>

            <td>
                <?php echo $banner->getBannerStatuses()->last()->getStatus();?>
            </td>
        </tr>

        <tr class="total">
            <td>
            <strong>Subtotal:</strong>
            </td>

            <td>
                00.00 MDL
            </td>
        </tr>

        <tr class="total">
            <td>
            <strong>Tax (20%):</strong>
            </td>

            <td>
                00.00 MDL
            </td>
        </tr>

        <tr class="total">
            <td>
            <strong>Total:</strong>
            </td>

            <td>
            <strong>00.00 MDL</strong>
            </td>
        </tr>
    </table>
</div>
<hr align="left" width="300" size="0" color="#5882FA" />

<br>
<?=$this->translate('Also, you can view the account in your account or by clicking on the link:')?>
<br>
<a href="<?php echo $this->serverUrl().$this->url('order', ['controller' => 'order', 'action' => 'download'], ['query' => ['invoice' => $this->fileName]]);?>.pdf">
    Download your invoice
</a>




