<?php
/** @var \Application\Form\NameChangeForm $form */
$form = $this->form;

$form->get('name')->setAttributes([
        'class'       => 'form-control',
        'placeholder' => 'Name',
        'required'    => true
]);
$form->get('password')->setAttributes([
        'class'       => 'form-control',
        'placeholder' => 'Password',
        'required'    => true
]);

$form->get('submit')->setAttributes([
        'class' => 'btn btn-primary btn-round btn-lg',
]);
$form->prepare();
?>

<div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true"
         style="background-image: url('/img/startpage_billboard5.jpg') ;">
    </div>
    <div class="content-center">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h1 class="title"><?=$this->translate('Book a billboard')?></h1>
                <h4><?=$this->translate('YOU_CAN')?></h4>
            </div>
        </div>
    </div>
</div>

<div class="content-center">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">

        </div>
    </div>
</div>


<!-- Main content -->
<div class="wrapper">
    <section class="content">
        <div class="row">

            <div class="col-md-4 ml-auto mr-auto">
                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="content-center">
                        <h3 class="profile-username text-center"><?php echo "<b>" . $this->userHelper()->getCurrentUserName() . "</b>"; ?></h3>
                        <p class="text-muted text-center"><?php echo "<b>" . $this->userHelper()->getCurrentUserRole() . "</b>"; ?></p>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <img class="profile-user-img img-responsive img-circle"
                                     src="<?php echo $this->userHelper()->getCurrentUserIcon(); ?>" width="40"
                                     height="40">
                                <a href="#"
                                   class="btn btn-neutral pull-right" data-toggle="tooltip" data-placement="top"
                                   title="<?=$this->translate('Change Your Image')?>">
                                    <?=$this->translate('Change Your Image')?></a>
                            </li>
                            <li class="list-group-item">
                                <b>Name:</b> &#160;<?=$this->userHelper()->getCurrentUserName()?>
                                <a href="<?=$this->url('profile/name', ['controller' => 'profile', 'action' => 'name']);?>"
                                   class="btn btn-neutral pull-right" data-toggle="tooltip" data-placement="top"
                                   title="<?=$this->translate('Change Your Name')?>">
                                    <?=$this->translate('Change Your Name')?></a>
                            </li>
                            <li class="list-group-item">
                                <b>E-mail:</b> &#160;<?php echo $this->userHelper()->getCurrentUserEmail(); ?>
                                <a href="<?=$this->url('profile/email', ['controller' => 'profile', 'action' => 'email']);?>"
                                   class="btn btn-neutral pull-right" data-toggle="tooltip" data-placement="top"
                                   title="<?=$this->translate('Change Email')?>"><?=$this->translate('Change Email')?></a>
                            </li>
                            <li class="list-group-item">
                                <b>Password:</b>&#160; ********
                                <a href="<?=$this->url('profile/password', ['controller' => 'profile', 'action' => 'password']);?>"
                                   class="btn btn-neutral pull-right" data-toggle="tooltip" data-placement="top"
                                   title="<?=$this->translate('Change Password')?>">
                                    <?=$this->translate('Change Password')?></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="col-md-3 ml-auto mr-auto">
    <div class="card card-login card-plain">
        <?=$this->form()->openTag($form);?>

        <div class="card-body">
            <div class="input-group">
                <span class="input-group-addon"><i class="now-ui-icons ui-1_email-85"></i></span>

                <?=$this->formElement($form->get('name'));?>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="now-ui-icons text_caps-small"></i></span>
                <?=$this->formElement($form->get('password'));?>
            </div>

            <div class="card-footer text-center">
                <?=$this->formElement($form->get('submit'));?>
            </div>
        </div>
        <?=$this->form()->closeTag();?>
    </div>
</div>




