<div class="page-header page-header-small" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="page-header-image" data-parallax="true"
         style="background-image: url('/img/startpage_billboard5.jpg') ;">
    </div>
    <div class="content-center">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h1 class="title"><?=$this->translate('Book a billboard')?></h1>
                <h4><?=$this->translate('YOU_CAN')?></h4>
            </div>
        </div>
    </div>
</div>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <ol class="breadcrumb">

        </ol>
    </section>

    <!-- Main content -->
    <div class="wrapper">
        <section class="content-center">
            <div class="row">
                <div class="col-md-4 ml-auto mr-auto">
                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="content-center">
                            <h3 class="profile-username text-center"><?php echo "<b>" . $this->userHelper()->getCurrentUserName() . "</b>"; ?></h3>
                            <p class="text-muted text-center"><?php echo "<b>" . $this->userHelper()->getCurrentUserRole() . "</b>"; ?></p>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <img class="profile-user-img img-responsive img-circle"
                                         src="<?php echo $this->userHelper()->getCurrentUserIcon(); ?>" width="40"
                                         height="40">
                                    <a href="#"
                                       class="btn btn-neutral pull-right" data-toggle="tooltip" data-placement="top"
                                       title="<?=$this->translate('Change Your Image')?>">
                                        <?=$this->translate('Change Your Image')?></a>
                                </li>
                                <li class="list-group-item">
                                    <b>Name:</b> &#160;<?=$this->userHelper()->getCurrentUserName()?>
                                    <a href="<?=$this->url('profile/name', ['controller' => 'profile', 'action' => 'name']);?>"
                                       class="btn btn-neutral pull-right" data-toggle="tooltip" data-placement="top"
                                       title="<?=$this->translate('Change Your Name')?>">
                                        <?=$this->translate('Change Your Name')?></a>
                                </li>
                                <li class="list-group-item">
                                    <b>E-mail:</b> &#160;<?php echo $this->userHelper()->getCurrentUserEmail(); ?>
                                    <a href="<?=$this->url('profile/email', ['controller' => 'profile', 'action' => 'email']);?>"
                                       class="btn btn-neutral pull-right" data-toggle="tooltip" data-placement="top"
                                       title="<?=$this->translate('Change Email')?>"><?=$this->translate('Change Email')?></a>
                                </li>
                                <li class="list-group-item">
                                    <b>Password:</b>&#160; ********
                                    <a href="<?=$this->url('profile/password', ['controller' => 'profile', 'action' => 'password']);?>"
                                       class="btn btn-neutral pull-right" data-toggle="tooltip" data-placement="top"
                                       title="<?=$this->translate('Change Password')?>">
                                        <?=$this->translate('Change Password')?></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

