<?php
/** @var \Application\Form\SearchForm $form */
$form = $this->form;

$form->get('category')->setAttributes([
    'class' => 'form-control',
]);

$form->get('city')->setAttributes([
    'class' => 'form-control',
]);

$form->get('submit')->setAttributes([
    'class' => 'btn btn-primary btn-round btn-lg btn-block',
]);

// Фильтр кол-ва допустимых символов($length) . '...'
function custom_echo($x, $length)
{
    if(strlen($x)<=$length)
    {
        echo $x;
    }
    else
    {
        $y=substr($x,0,$length) . '...';
        echo $y;
    }
}
?>
<div class="col-12 container">
    <div class="row justify-content-center">
        <div class="col-3">
            <h4 class="title"><?= $this->translate('Banner filter') ?></h4>
        </div>
        <div class="col-7 billboardsContentBox">
            <p class="filterOp"><?= $this->translate('Sort'); ?>:</p>
            <select class="filterOp">
                <option value=""></option>
            </select>
            <p class="filterOp"><?= $this->translate('Show'); ?>:</p>
            <select class="filterOp">
                <option value=""></option>
            </select>
            <hr>
            <input type="hidden" value='<?php echo $this->bannersJson; ?>' id="searchBanners">
                <div class="row">
                    <?php foreach ($this->banners as $banner) : ?>
                        <div class="col-12 col-lg-4">
                            <div class="contentBoxF">
                                <img src="/img/slide.png" class="exImages">
                                <div class="insideContentBox">
                            <span class="exDescriptionCategory">
                                <p class="exCategoryDesctription"><?= $this->translate('Category'); ?>:</p>
                                <p><?= $this->escapeHtml($banner['category']['name']) ?></p>
                            </span>
                                    <span class="exDescriptionLocation">
                                <p class="exLocationDescription"><?= $this->translate('Location'); ?>:</p>
                                <p><?= $this->escapeHtml($banner['city']['nameRegion']) ?>, <?= $this->escapeHtml($banner['city']['nameCity']) ?>, <?= $this->escapeHtml($banner['city']['nameCity']) ?>, <?= $this->escapeHtml($banner['adress']) ?></p>
                            </span>
                                    <div class="exDescriptionInfo">
                                        <p class="exInfoDescription"><?= $this->translate('Description'); ?>:</p>
                                        <p><? custom_echo($banner['description'], 200); ?></p></p>
                                    </div>
                                    <div class="exFlexContainer">
                                        <div class="exBuyButton">
                                            <p id="exBuyButton"><?= $this->translate('Buy'); ?></p>
                                        </div>
                                        <div class="exCartButton">
                                            <div id="exCartButton"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mapWrapper">
    <div id="YMap"></div>
</div>
