<header>
<div class="row">
	<div class="col-12">
	    <a href="/" style="text-decoration:none;">
            <div class="pageNotFound">
                <div class="col-6 oops">
                    <h3 id="ops">Ooooooops!</h3>
                    <div class="w-100"></div>
                    <p id="oops">Что-то пошло не так, эта страница не найдена.<br>Просим свои извинения :(</p>
                </div>
            </div>
		</a>
	</div>
</div>
</header>