<?php
$banners = $this->banners;

$inputNum = 1;
$inputName = 'b02banerRating';
$banerRating = $inputName.$inputNum;
$forNId = $banerRating;

// Фильтр кол-ва допустимых символов($length) . '...'
function custom_echo($x, $length)
{
    if(strlen($x)<=$length)
    {
        echo $x;
    }
    else
    {
        $y=substr($x,0,$length) . '...';
        echo $y;
    }
}
?>


<!-- Slider -->
<section class="firtsSl slider-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider-title mb-30" id="hotN">
                    <div class="nmb">01</div>
                    <div class="red-line"></div>
                    <h3><?= $this->translate('Hot flatness'); ?></h3>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-next1 smHide">
                    <img src="../img/arrows.png" alt="">
                </div>
                <div class="swiper-button-prev swiper-button-prev1 smHide">
                    <img src="../img/arrows.png" alt="">
                </div>
                <!-- Add Index -->
                <div class="swiper-slider-index swiper-slider-index1 smHide">1/10</div>
                <!-- Swiper -->
                <div class="swiper-container swiper-container1" data-sliders-count="10">
                    <div class="swiper-wrapper">
                        <?php
                        foreach($banners as $banner){
                            if ($inputNum == 1) {
                                $sliderClass = "swiper-slide swiper-slide-active";
                            } elseif ($inputNum == 2) {
                                $sliderClass = "swiper-slide swiper-slide-next";
                            } else {
                                $sliderClass = "swiper-slide";
                            }
                        ?>
                            <div class="<?= $sliderClass; ?> col-11 col-lg-3 exFl">
                                <div class="slider_card">
                                    <div class="contentBox">
                                        <div class="exImageBlock">
                                            <img class="exIco" src="../img/hot.png">
                                            <div class="b_options">
                                                <div class="rating_group">
                                                    <input class="rating_input rating_star_active" style="width: 50px;" type="radio" name="<?=$banerRating?>" id="<?=$forNId?>-1" value="1">
                                                    <label class="rating_star" style="" for="<?=$forNId?>-1" aria-label="Ужасно"></label>
                                                    <input class="rating_input" type="radio" name="" id="<?=$forNId?>-2" value="2">
                                                    <label class="rating_star" style="" for="<?=$forNId?>-2" aria-label="Сносно"></label>
                                                    <input class="rating_input" type="radio" name="<?=$banerRating?>" id="<?=$forNId?>-3" value="3">
                                                    <label class="rating_star" style="" for="<?=$forNId?>-3" aria-label="Нормально"></label>
                                                    <input class="rating_input" type="radio" name="<?=$banerRating?>" id="<?=$forNId?>-4" value="4" checked="">
                                                    <label class="rating_star" style="" for="<?=$forNId?>-4" aria-label="Хорошо"></label>
                                                    <input class="rating_input" type="radio" name="<?=$banerRating?>" id="<?=$forNId?>-5" value="5" >
                                                    <label class="rating_star" style="" for="<?=$forNId?>-5" aria-label="Отлично"></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="insideContentBox fl">
                                        <span class="exDescriptionCategory">
                                            <p class="exCategoryDesctription" id=""><?= $this->translate('Category'); ?>:</p>
                                            <p id=""><?= $banner['category']['name']; ?></p>
                                        </span>
                                            <span class="exDescriptionLocation">
                                            <p class="exLocationDescription" id=""><?= $this->translate('Location'); ?>:</p>
                                            <p id=""><?= $banner['city']['nameCity']; ?></p>
                                        </span>
                                            <div class="exDescriptionInfo">
                                                <p class="exInfoDescription" id=""><?= $this->translate('Description'); ?>:</p>
                                                <p id=""><? custom_echo($banner['description'], 200) ?></p>
                                            </div>
                                            <div class="exFlexContainer">
                                                <div class="exBuyButton">
                                                    <a href="description?id=<?=$banner['id'];?>>">
                                                        <p id="exBuyButton">
                                                            <?= $this->translate('Buy'); ?>
                                                        </p>
                                                    </a>
                                                </div>
                                                <div class="exCartButton">
                                                    <div id="exCartButton">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php $inputNum++; } ?>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination1 swiper-pagination-clickable swiper-pagination-bullets"></div>
                </div>
            </div>
        </div>

        <div class="row mt-50 mb-50">
            <div class="col-6 col-md-3">
                <img class="advertsIMG" src="./img/img1.png" alt="">
            </div>
            <div class="col-6 col-md-3" id="secondAd">
                <img class="advertsIMG" src="./img/img2.png" alt="">
            </div>
            <div class="col-12 col-md-6">
                <img class="advertsIMG" src="./img/img3.png" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Slider 2 -->
<section class="slider-wrap animate-in-view" data-animation="animated fadeIn slow">
    <div class="container">
        <div class="bg-gradient-white"></div>
        <div class="row mb-50">
            <div class="col-md-12 color-gr">
                <div class="slider-title mb-30">
                    <div class="nmb">02</div>
                    <div class="red-line"></div>
                    <h3><?= $this->translate('Coming soon'); ?></h3>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next garr swiper-button-next2 color-gr smHide">
                    <img src="./img/arrows.png" alt="">
                </div>
                <div class="swiper-button-prev garr swiper-button-prev2 color-gr smHide">
                    <img src="./img/arrows.png" alt="">
                </div>
                <!-- Add Index -->
                <div class="swiper-slider-index swiper-slider-index2 color-gr smHide">1/10</div>
                <!-- Swiper -->
                <div class="swiper-container2" data-sliders-count="10">
                    <div class="swiper-wrapper">
                        <?php
                        foreach($banners as $banner){
                            if ($inputNum == 1) {
                                $sliderClass = "swiper-slide swiper-slide-active";
                            } elseif ($inputNum == 2) {
                                $sliderClass = "swiper-slide swiper-slide-next";
                            } else {
                                $sliderClass = "swiper-slide";
                            }
                            ?>
                            <div class="<?= $sliderClass; ?> col-11 col-lg-3 exFl">
                                <div class="slider_card">
                                    <div class="contentBox">
                                    <div class="exImageBlock">
                                        <img class="exIco" src="../img/soon.png">
                                        <div class="b_options">
                                            <div class="rating_group">
                                                <input class="rating_input rating_star_active" style="width: 50px;" type="radio" name="<?=$banerRating?>" id="<?=$forNId?>-1" value="1">
                                                <label class="rating_star" style="" for="<?=$forNId?>-1" aria-label="Ужасно"></label>
                                                <input class="rating_input" type="radio" name="" id="<?=$forNId?>-2" value="2">
                                                <label class="rating_star" style="" for="<?=$forNId?>-2" aria-label="Сносно"></label>
                                                <input class="rating_input" type="radio" name="<?=$banerRating?>" id="<?=$forNId?>-3" value="3">
                                                <label class="rating_star" style="" for="<?=$forNId?>-3" aria-label="Нормально"></label>
                                                <input class="rating_input" type="radio" name="<?=$banerRating?>" id="<?=$forNId?>-4" value="4" checked="">
                                                <label class="rating_star" style="" for="<?=$forNId?>-4" aria-label="Хорошо"></label>
                                                <input class="rating_input" type="radio" name="<?=$banerRating?>" id="<?=$forNId?>-5" value="5" >
                                                <label class="rating_star" style="" for="<?=$forNId?>-5" aria-label="Отлично"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="insideContentBox fl">
                                        <span class="exDescriptionCategory">
                                            <p class="exCategoryDesctription" id=""><?= $this->translate('Category'); ?>:</p>
                                            <p id=""><?= $banner['category']['name']; ?></p>
                                        </span>
                                        <span class="exDescriptionLocation">
                                            <p class="exLocationDescription" id=""><?= $this->translate('Location'); ?>:</p>
                                            <p id=""><?= $banner['city']['nameCity']; ?></p>
                                        </span>
                                        <div class="exDescriptionInfo">
                                            <p class="exInfoDescription" id=""><?= $this->translate('Description'); ?>:</p>
                                            <p id=""><? custom_echo($banner['description'], 200) ?></p>
                                        </div>
                                        <div class="exFlexContainer">
                                            <div class="exBuyButton">
                                                <a href="description?id=<?=$banner['id'];?>>">
                                                    <p id="exBuyButton">
                                                        <?= $this->translate('Buy'); ?>
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="exCartButton">
                                                <div id="exCartButton">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <?php $inputNum++; } ?>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination2 swiper-pagination-clickable swiper-pagination-bullets"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Slider 3 -->
<section class="slider-wrap mt-50 animate-in-view" data-animation="animated fadeIn slow">
    <div class="container">
        <div class="bg-gradient-white"></div>
        <div class="row mb-50">
            <div class="col-md-12 color-gr">
                <div class="slider-title mb-30">
                    <div class="nmb">03</div>
                    <div class="red-line"></div>
                    <h3><?= $this->translate('New flatness'); ?></h3>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next garr swiper-button-next3 color-gr smHide">
                    <img src="./img/arrows.png" alt="">
                </div>
                <div class="swiper-button-prev garr swiper-button-prev3 color-gr smHide">
                    <img src="./img/arrows.png" alt="">
                </div>
                <!-- Add Index -->
                <div class="swiper-slider-index swiper-slider-index3 color-gr smHide">1/10</div>
                <!-- Swiper -->
                <div class="swiper-container3" data-sliders-count="10">
                    <div class="swiper-wrapper">
                        <?php
                        foreach($banners as $banner){
                            if ($inputNum == 1) {
                                $sliderClass = "swiper-slide swiper-slide-active";
                            } elseif ($inputNum == 2) {
                                $sliderClass = "swiper-slide swiper-slide-next";
                            } else {
                                $sliderClass = "swiper-slide";
                            }
                            ?>
                            <div class="<?= $sliderClass; ?> col-11 col-lg-3 exFl">
                                <div class="slider_card">
                                    <div class="contentBox">
                                    <div class="exImageBlock">
                                        <img class="exIco" src="../img/new.png">
                                        <div class="b_options">
                                            <div class="rating_group">
                                                <input class="rating_input rating_star_active" style="width: 50px;" type="radio" name="<?=$banerRating?>" id="<?=$forNId?>-1" value="1">
                                                <label class="rating_star" style="" for="<?=$forNId?>-1" aria-label="Ужасно"></label>
                                                <input class="rating_input" type="radio" name="" id="<?=$forNId?>-2" value="2">
                                                <label class="rating_star" style="" for="<?=$forNId?>-2" aria-label="Сносно"></label>
                                                <input class="rating_input" type="radio" name="<?=$banerRating?>" id="<?=$forNId?>-3" value="3">
                                                <label class="rating_star" style="" for="<?=$forNId?>-3" aria-label="Нормально"></label>
                                                <input class="rating_input" type="radio" name="<?=$banerRating?>" id="<?=$forNId?>-4" value="4" checked="">
                                                <label class="rating_star" style="" for="<?=$forNId?>-4" aria-label="Хорошо"></label>
                                                <input class="rating_input" type="radio" name="<?=$banerRating?>" id="<?=$forNId?>-5" value="5" >
                                                <label class="rating_star" style="" for="<?=$forNId?>-5" aria-label="Отлично"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="insideContentBox fl">
                                        <span class="exDescriptionCategory">
                                            <p class="exCategoryDesctription" id=""><?= $this->translate('Category'); ?>:</p>
                                            <p id=""><?= $banner['category']['name']; ?></p>
                                        </span>
                                        <span class="exDescriptionLocation">
                                            <p class="exLocationDescription" id=""><?= $this->translate('Location'); ?>:</p>
                                            <p id=""><?= $banner['city']['nameCity']; ?></p>
                                        </span>
                                        <div class="exDescriptionInfo">
                                            <p class="exInfoDescription" id=""><?= $this->translate('Description'); ?>:</p>
                                            <p id=""><? custom_echo($banner['description'], 200) ?></p>
                                        </div>
                                        <div class="exFlexContainer">
                                            <div class="exBuyButton">
                                                <a href="description?id=<?=$banner['id'];?>>">
                                                    <p id="exBuyButton">
                                                        <?= $this->translate('Buy'); ?>
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="exCartButton">
                                                <div id="exCartButton">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <?php $inputNum++; } ?>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination3 swiper-pagination-clickable swiper-pagination-bullets"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Slider 4 -->
<section class="slider-wrap mt-50 animate-in-view" data-animation="animated fadeIn slow">
    <div class="container">
        <div class="bg-gradient-white"></div>
        <div class="row mb-50">
            <div class="col-md-12 color-gr">
                <div class="slider-title mb-30">
                    <div class="nmb">04</div>
                    <div class="red-line"></div>
                    <h3><?= $this->translate('Popular flatness'); ?></h3>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next garr swiper-button-next4 color-gr smHide">
                    <img src="./img/arrows.png" alt="">
                </div>
                <div class="swiper-button-prev garr swiper-button-prev4 color-gr smHide">
                    <img src="./img/arrows.png" alt="">
                </div>
                <!-- Add Index -->
                <div class="swiper-slider-index swiper-slider-index4 color-gr smHide">1/10</div>
                <!-- Swiper -->
                <div class="swiper-container4" data-sliders-count="10">
                    <div class="swiper-wrapper">
                        <?php
                        foreach($banners as $banner){
                            if ($inputNum == 1) {
                                $sliderClass = "swiper-slide swiper-slide-active";
                            } elseif ($inputNum == 2) {
                                $sliderClass = "swiper-slide swiper-slide-next";
                            } else {
                                $sliderClass = "swiper-slide";
                            }
                            ?>
                            <div class="<?= $sliderClass; ?> col-11 col-lg-3 exFl">
                                <div class="slider_card">
                                    <div class="contentBox">
                                    <div class="exImageBlock">
                                        <img class="exIco" src="../img/fav.png">
                                        <div class="b_options">
                                            <div class="rating_group">
                                                <input class="rating_input rating_star_active" style="width: 50px;" type="radio" name="<?=$banerRating?>" id="<?=$forNId?>-1" value="1">
                                                <label class="rating_star" style="" for="<?=$forNId?>-1" aria-label="Ужасно"></label>
                                                <input class="rating_input" type="radio" name="" id="<?=$forNId?>-2" value="2">
                                                <label class="rating_star" style="" for="<?=$forNId?>-2" aria-label="Сносно"></label>
                                                <input class="rating_input" type="radio" name="<?=$banerRating?>" id="<?=$forNId?>-3" value="3">
                                                <label class="rating_star" style="" for="<?=$forNId?>-3" aria-label="Нормально"></label>
                                                <input class="rating_input" type="radio" name="<?=$banerRating?>" id="<?=$forNId?>-4" value="4" checked="">
                                                <label class="rating_star" style="" for="<?=$forNId?>-4" aria-label="Хорошо"></label>
                                                <input class="rating_input" type="radio" name="<?=$banerRating?>" id="<?=$forNId?>-5" value="5" >
                                                <label class="rating_star" style="" for="<?=$forNId?>-5" aria-label="Отлично"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="insideContentBox fl">
                                        <span class="exDescriptionCategory">
                                            <p class="exCategoryDesctription" id=""><?= $this->translate('Category'); ?>:</p>
                                            <p id=""><?= $banner['category']['name']; ?></p>
                                        </span>
                                        <span class="exDescriptionLocation">
                                            <p class="exLocationDescription" id=""><?= $this->translate('Location'); ?>:</p>
                                            <p id=""><?= $banner['city']['nameCity']; ?></p>
                                        </span>
                                        <div class="exDescriptionInfo">
                                            <p class="exInfoDescription" id=""><?= $this->translate('Description'); ?>:</p>
                                            <p id=""><? custom_echo($banner['description'], 200) ?></p>
                                        </div>
                                        <div class="exFlexContainer">
                                            <div class="exBuyButton">
                                                <a href="description?id=<?=$banner['id'];?>>">
                                                    <p id="exBuyButton">
                                                        <?= $this->translate('Buy'); ?>
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="exCartButton">
                                                <div id="exCartButton">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <?php $inputNum++; } ?>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination4 swiper-pagination-clickable swiper-pagination-bullets"></div>
                </div>
            </div>
        </div>
    </div>
</section>
