<section id="contacts" class="mt-50 animate-in-view" data-animation="animated fadeIn slow">
    <div class="slider-title" id="SMContactsTitle">
        <div class="nmb">09</div>
        <div class="red-line"></div>
        <h3><?= $this->translate('Contact'); ?></h3>
    </div>
    <div class="contact-wrap" id="contactLink">
      <div class="cont-left">

        <form action="index.php" method="POST">
            <div class="form-group md-form mb-0 mt-0">
              <input type="text" class="form-control" id="fname" name="fname" required>
              <label for="fname">Ваше имя</label>
            </div>
            <div class="form-group md-form mb-0">
              <input type="email" class="form-control" id="email" name="femail" required>
              <label for="email">Ваш емейл</label>
            </div>
            <div class="form-group md-form mb-0">
              <input type="tel" class="form-control" id="tel" name="ftel" required>
              <label for="tel">Ваш телефон</label>
            </div>
            <div class="form-group md-form mb-0">
              <textarea type="text" id="msg" class="md-textarea form-control" rows="3" required></textarea>
              <label for="msg">Ваше сообщение</label>
            </div>
            <div class="form-group">
                <?php echo $this->reCaptcha->getHtml();?>
            </div>
            <button type="submit" class="btn btn-primary br-20 w-100 mt-25" name="fSend">Submit</button>

        </form>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      </div>
      <div class="cont-right">
          <div class="slider-title disabled">
            <div class="nmb">09</div>
            <div class="red-line"></div>
            <h3>Контакты</h3>
          </div>

          <div class="cont-row">
            <h3>Наш адрес</h3>
            <p>Mihail Kogalniceanu, nr. 8,</p>
            <p>MD2000 Chisinau,</p>
            <p>Moldova</p>
          </div>

          <div class="cont-row mt-45">
            <h3>Часы работы</h3>
            <p>Пн. - Пт. - 9:00 - 18:00</p>
            <p>Сб. - 9:00 - 13:00</p>
            <p>Вс. - выходной</p>
          </div>

          <div class="cont-row mt-45">
            <h3>Контакты</h3>
            <p>+373 78 766 552</p>
            <p>+373 69 245 678</p>
            <p>hello@billboard.md</p>
          </div>
      </div>
    </div>
  </section>