  <!-- Block 8 -->
  <section class="types mt-50 mb-40 animate-in-view" data-animation="animated fadeIn slow">
    <div class="container">
      <div class="bg-gradient-white"></div>
      <div class="row mb-50">
        <div class="col-md-12 color-gr">
          <div class="slider-title">
            <div class="nmb">08</div>
            <div class="red-line"></div>
              <h3><?= $this->translate('Frequently Asked Questions'); ?></h3>
          </div>
        </div>
      </div>
      <div class="row " >
        <div class="col-md-3 faq">
            <img src="../img/faq1.png" alt="...">
            <h3><?= $this->translate('Как добавить новый рекламный щит в систему?'); ?></h3>
            <p><?= $this->translate('Зарегистрируйтесь и воспользуйтесь панелью управления баннерами (доступно и с мобильного приложения)'); ?></p>
        </div>

        <div class="col-md-3 faq">
          <img src="../img/faq2.png" alt="...">
          <h3><?= $this->translate('Как арендовать рекламный щит?'); ?></h3>
          <p><?= $this->translate('Воспользуйтесь поиском для поиска баннера, который лучше всего соответствует вашим потребностям, укажите желаемую дату и подтвердите аренду'); ?></p>
        </div>

        <div class="col-md-3 faq">
          <img src="../img/faq3.png" alt="...">
          <h3><?= $this->translate('Можно ли подключить систему рекламных щитов к нашему CRM?'); ?></h3>
          <p><?= $this->translate('Мы гибки и открыты для любых предложений. Если вам нужно индивидуальное решение - просто свяжитесь с нами'); ?></p>
        </div>

        <div class="col-md-3 faq">
          <img src="../img/faq4.png" alt="...">
          <h3><?= $this->translate('Появились вопросы, на которые мы можем ответить?'); ?></h3>
          <p><?= $this->translate('Появились вопросы, на которые мы можем ответить?'); ?></p>
        </div>
      </div>
    </div>
  </section>