<!-- Main -->
  <header id="main">
    <div class="container pt-30">
      <div class="row justify-content-center text-center">
        <div class="col-12 col-sm-10 font-center">
          <h1 class="text-white" id="faceBannerMD"><?= $this->translate('Your banner anywhere in Moldova'); ?></h1>
          <p><?= $this->translate('You can easily rent, book or manage a billboard anywhere in Moldova using our powerful system');?></p>
        </div>
      </div>
      <div class="row mt-30 justify-content-center text-center">
        <div class="col-md-10">
         <selection class="searchArea">
              <div class="container mainSearch">
                 <div class="dropdown">
                      <a class="dropdownCategory btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <?= $this->translate('Select town'); ?>
                        <img src="./img/dropDown.png" alt="#" id="dropDownToggle">
                      </a>

                      <div class="dropdown-menu" id="ddone" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Chisinau'); ?></a>
                          <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Tiraspol'); ?></a>
                      </div>
                </div>
                <div class="dropdown">
                      <a class="dropdownCategory btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <?= $this->translate('Select category'); ?>
                        <img src="./img/dropDown.png" alt="#" id="dropDownToggle">
                      </a>
                      <div class="dropdown-menu" id="ddtwo" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('All banners'); ?></a>
                          <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Big banners'); ?></a>
                          <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Standard banners'); ?></a>
                          <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Digital banners'); ?></a>
                          <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Firewall'); ?></a>
                          <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Hauling'); ?></a>
                          <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Cityboards'); ?></a>
                          <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Other'); ?></a>
                      </div>
                </div>
                <div class="dropdown">
                      <a class="dropdownCategory btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <?= $this->translate('Free'); ?>
                        <img src="./img/dropDown.png" alt="#" id="dropDownToggle">
                      </a>
                      <div class="dropdown-menu" id="ddthree" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="<?= $this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('All'); ?></a>
                          <a class="dropdown-item" href="<?= $this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Coming soon'); ?></a>
                      </div>
                </div>
                 <button class="searchButton"><img src="./img/search.png" alt="Поиск" class="searchSM"> Search</button>
              </div>

          </selection>
          <form action="/banner" method="GET" class="form-inline mainForm disabled">
              <div class="form-group center-select">
                <select id="inputState" class="form-control select__input">
                    <option selected><?= $this->translate('Chisinau'); ?></option>
                    <option><?= $this->translate('Tiraspol'); ?></option>
                </select>
                <span class="select__text">
                  <?= $this->translate('Chisinau'); ?>
                </span>
              </div>
              <div class="form-group">
                <div class="vert-del"></div>
              </div>
              <div class="form-group center-select">
                  <select id="inputState" class="form-control select__input">
                      <option selected><?= $this->translate('Big banners'); ?></option>
                      <option value=""><?= $this->translate('Standard banners'); ?></option>
                      <option value=""><?= $this->translate('Digital banners'); ?></option>
                      <option value=""><?= $this->translate('Firewall'); ?></option>
                      <option value=""><?= $this->translate('Bracing'); ?></option>
                      <option value=""><?= $this->translate('Cityboards'); ?></option>
                      <option value=""><?= $this->translate('Other'); ?></option>
                  </select>
                <span class="select__text">
                  <?=$this->translate('Big banners'); ?>
                </span>
              </div>
              <div class="form-group">
                <div class="vert-del"></div>
              </div>
              <div class="form-group center-select">
                <select id="inputState" class="form-control select__input">
                  <option selected><?= $this->translate('Coming soon'); ?></option>
                    <option value=""><?= $this->translate('Busy'); ?></option>
                    <option value=""><?= $this->translate('Free'); ?></option>
                    <option value=""><?= $this->translate('Booked'); ?></option>
                </select>
                <span class="select__text">
                   <?= $this->translate('Coming soon'); ?>
                </span>
              </div>
              <div class="form-group fl-end">
                <button type="submit" class="btn btn-primary btnSearch">
                  <img src="./img/search.png" alt="<?=$this->translate('Search'); ?>">
                  <span><?=$this->translate('Search'); ?></span>
                </button>
              </div>
          </form>
        </div>
      </div>
      <div class="row mt-15 justify-content-center text-center">
        <div class="col-md-12">
          <a href="/map">
            <div class="map-text">
              <img src="./img/map.png" alt="<?=$this->translate('Search on map'); ?>">
              <span><?= $this->translate('Search on map'); ?></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </header>