
<!-- Advantages of working with us -->
<section class="mb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 color-gr">
                <div class="slider-title mb-30" id="hotN">
                    <div class="nmb">05</div>
                    <div class="red-line"></div>
                    <h3><?= $this->translate('Advantages of working with us'); ?></h3>
                    <span class="aSecDesc"><?= $this->translate('Мы сремимся к тому, чтобы создать самую большую базу рекламных щитов в Молдове,<br/>
                     Наша миссия состоит в том, чтобы сделать аренду рекламного щита простым и доступным, как 1-2-3'); ?></span>
                </div>
                <div class="col-12 container p0">
                    <div class="row">
                        <div class="col-12 col-lg-4 justify-content-center text-center">
                            <div class="aContainer" id="aFirstC">
                                <img src="../img/type1.png" class="aTypeImg" alt="">
                                <h4 class="aClassHeader"><?= $this->translate('For agency'); ?></h4>
                                <ul class="aSkillPoints">
                                    <li><?= $this->translate('Простая регистрация'); ?></li>
                                    <li><?= $this->translate('Поиск баннеров'); ?></li>
                                    <li><?= $this->translate('Прозрачная ценовая политика'); ?></li>
                                    <li><?= $this->translate('Статистика'); ?></li>
                                </ul>
                                <a href=""><button class="aBtnContact"><?= $this->translate('Contact us'); ?></button></a>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 justify-content-center text-center">
                            <div class="aContainer" id="aSecondC">
                                <img src="../img/type2.png" class="aTypeImg" alt="">
                                <h4 class="aClassHeader"><?= $this->translate('For owners'); ?></h4>
                                <ul class="aSkillPoints">
                                    <li><?= $this->translate('Легко добавить баннер'); ?></li>
                                    <li><?= $this->translate('Управление баннерами'); ?></li>
                                    <li><?= $this->translate('Менеджмент цен'); ?></li>
                                    <li><?= $this->translate('Статистика'); ?></li>
                                </ul>
                                <a href=""><button class="aBtnContact"><?= $this->translate('Contact us'); ?></button></a>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 justify-content-center text-center">
                            <div class="aContainer" id="aThreeC">
                                <img src="../img/type3.png" class="aTypeImg" alt="">
                                <h4 class="aClassHeader"><?= $this->translate('For customers'); ?></h4>
                                <ul class="aSkillPoints">
                                    <li><?= $this->translate('Индивидуальный подход'); ?></li>
                                    <li><?= $this->translate('CRM импорт/экспорт'); ?></li>
                                    <li><?= $this->translate('Полная поддержка'); ?></li>
                                    <li><?= $this->translate('Расширенная статистика'); ?></li>
                                </ul>
                                <a href=""><button class="aBtnContact"><?= $this->translate('Contact us'); ?></button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Categories -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 color-gr">
                <div class="slider-title mb-30" id="hotN">
                    <div class="nmb">06</div>
                    <div class="red-line"></div>
                    <h3><?= $this->translate('Banner categories'); ?></h3>
                </div>
                <div class="col-12 container">
                    <div class="row">
                        <div class="col-6 col-lg-3 mb-30">
                            <div class="cContainer">
                                <img src="../img/baner1.png" class="cImg">
                                <h3 class="cNum">1</h3>
                                <label class="cLabel"><?= $this->translate('Big banner'); ?></label>
                                <p class="cDefinition"><?= $this->translate('Конструкции с форматом рекламн. полня от 3м Х 12м до 5 Х 15м.'); ?></p>
                                <span class="cCounter"><?= $this->translate('Available - '); ?></span>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mb-30">
                            <div class="cContainer">
                                <img src="../img/baner2.png" class="cImg">
                                <h3 class="cNum">2</h3>
                                <label class="cLabel"><?= $this->translate('Standard banner'); ?></label>
                                <p class="cDefinition"><?= $this->translate('Щит размера 3м Х 6м для разещения наружной рекламы, расположенный вдоль улиц и трасс.'); ?></p>
                                <span class="cCounter"><?= $this->translate('Available - '); ?></span>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mb-30">
                            <div class="cContainer">
                                <img src="../img/baner3.png" class="cImg">
                                <h3 class="cNum">3</h3>
                                <label class="cLabel"><?= $this->translate('Digital banner'); ?></label>
                                <p class="cDefinition"><?= $this->translate('К цифровым баннерам относятся екламные конструкции, трансляция изображений на которых осуществляется цифровым способом и не требует печати плаката.'); ?></p>
                                <span class="cCounter"><?= $this->translate('Available - '); ?></span>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mb-30">
                            <div class="cContainer">
                                <img src="../img/baner4.png" class="cImg">
                                <h3 class="cNum">4</h3>
                                <label class="cLabel"><?= $this->translate('Firewall'); ?></label>
                                <p class="cDefinition"><?= $this->translate('Рекламные поверхности площаью более 18 кв.м. на стенах зданий.'); ?></p>
                                <span class="cCounter"><?= $this->translate('Available - '); ?></span>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mb-30">
                            <div class="cContainer">
                                <img src="../img/baner5.png" class="cImg">
                                <h3 class="cNum">5</h3>
                                <label class="cLabel"><?= $this->translate('Bracing'); ?></label>
                                <p class="cDefinition"><?= $this->translate('Двухстороннее полотно с рекламой, расположенно обычно над проезжей частью посредством тросовой конструкции.'); ?></p>
                                <span class="cCounter"><?= $this->translate('Available - '); ?></span>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mb-30">
                            <div class="cContainer">
                                <img src="../img/baner6.png" class="cImg">
                                <h3 class="cNum">6</h3>
                                <label class="cLabel"><?= $this->translate('Cityboards'); ?></label>
                                <p class="cDefinition"><?= $this->translate('Отдельно стоящие кострукции (обычно 3,7м х 2,5м). Могут быть размещены как наружно так и в помещении.'); ?></p>
                                <span class="cCounter"><?= $this->translate('Available - '); ?></span>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mb-30">
                            <div class="cContainer">
                                <img src="../img/baner7.png" class="cImg">
                                <h3 class="cNum">7</h3>
                                <label class="cLabel"><?= $this->translate('Another'); ?></label>
                                <p class="cDefinition"><?= $this->translate('Баннеры имеющие иные характеристики (размеры, форма и т.п.'); ?></p>
                                <span class="cCounter"><?= $this->translate('Available - '); ?></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog -->
<section class="slider-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 color-gr">
                <div class="slider-title mb-30" id="hotN">
                    <div class="nmb">07</div>
                    <div class="red-line"></div>
                    <h3><?= $this->translate('Blog'); ?></h3>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next garr swiper-button-next5 color-gr smHide">
                    <img src="./img/arrows.png" alt="">
                </div>
                <div class="swiper-button-prev garr swiper-button-prev5 color-gr smHide">
                    <img src="./img/arrows.png" alt="">
                </div>
                <!-- Add Index -->
                <div class="swiper-slider-index swiper-slider-index5 color-gr smHide">1/10</div>
                <!-- Swiper -->
                <div class="swiper-container5" data-sliders-count="10">
                    <div class="swiper-wrapper">
<!--                        --><?// var_dump($news); ?>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination4 swiper-pagination-clickable swiper-pagination-bullets"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>