<?php if ($this->aclHelper()->isAllowed(Admin\Controller\UsersController::class, 'index')): ?>
    <li class="active treeview">
        <a href="#">
            <i class="glyphicon glyphicon-user">
            </i>
            <span>ACL
            </span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right">
              </i>
            </span>
        </a>

        <?php if ($this->aclHelper()->isAllowed(Admin\Controller\UsersController::class, 'index')
                or $this->aclHelper()->isAllowed(Admin\Controller\RolesController::class, 'index')
        ): ?>
            <ul class="treeview-menu">
                <li class="<?php echo $currentController == 'users' ? 'active' : ''; ?>"><a
                            href="<?php echo $this->url('admin', [
                                    'controller' => 'users'
                            ]); ?>"><i class="glyphicon glyphicon-user"></i>Users</a>
                </li>

                <?php if ($this->aclHelper()->isAllowed(Admin\Controller\RolesController::class, 'index')): ?>
                    <li class="<?php echo $currentController == 'roles' ? 'active' : ''; ?>"><a
                                href="<?php echo $this->url('admin', [
                                        'controller' => 'roles'
                                ]); ?>"><i class="glyphicon glyphicon-user"></i>Roles</a>
                    </li>
                <?php endif; ?>
            </ul>
        <?php endif; ?>
    </li>
<?php endif; ?>

