<?php if ($this->aclHelper()->isAllowed(Admin\Controller\CityController::class, 'index')): ?>
    <li class="active treeview">
        <a href="#">
            <i class="glyphicon glyphicon-globe">
            </i>
            <span>Area</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right">
              </i>
            </span>
        </a>
        <?php if ($this->aclHelper()->isAllowed(Admin\Controller\CityController::class, 'index')): ?>
            <ul class="treeview-menu">
                <li class="<?php echo $currentController == 'city' ? 'active' : ''; ?>"><a
                            href="<?php echo $this->url('admin', [
                                    'controller' => 'city'
                            ]); ?>"><i class="glyphicon glyphicon-tower"></i>Cities</a>
                </li>
            </ul>
        <?php endif; ?>
    </li>
<?php endif; ?>