
<?php if ($this->aclHelper()->isAllowed(Admin\Controller\BannersController::class, 'index')
        or $this->aclHelper()->isAllowed(Admin\Controller\BannerCategoryController::class, 'index')): ?>
    <li class="active treeview">
        <a href="#">
            <i class="glyphicon glyphicon-blackboard"></i> <span>Banner Management</span>
            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>

        <ul class="treeview-menu">
            <?php if ($this->aclHelper()->isAllowed(Admin\Controller\BannersController::class, 'index')): ?>
                <li class="<?php echo $currentController == 'banners' ? 'active' : ''; ?>">
                    <a href="<?php echo $this->url('admin', ['controller' => 'banners']); ?>">
                        <i class="glyphicon glyphicon-blackboard">
                        </i>Banners
                    </a>
                </li>
            <?php endif; ?>

            <?php if ($this->aclHelper()->isAllowed(Admin\Controller\BannerCategoryController::class, 'index')): ?>
                <li class="<?php echo $currentController == 'banners' ? 'active' : ''; ?>">
                    <a href="<?php echo $this->url('admin', ['controller' => 'bannercategory']); ?>">
                        <i class="glyphicon glyphicon-blackboard">
                        </i>Banner Groups</a>
                </li>
            <?php endif; ?>

            <?php if ($this->aclHelper()->isAllowed(Admin\Controller\BannerStatusesController::class, 'index')): ?>
                <li class="<?php echo $currentController == 'invoice' ? 'active' : ''; ?>">
                    <a href="<?php echo $this->url('admin', ['controller' => 'bannerstatuses']); ?>">
                        <i class="glyphicon glyphicon-blackboard">
                        </i>Banners Statuses
                    </a>
                </li>
            <?php endif; ?>

            <?php if ($this->aclHelper()->isAllowed(Admin\Controller\BannerStatusesHistoryController::class, 'index')): ?>
                <li class="<?php echo $currentController == 'invoice' ? 'active' : ''; ?>">
                    <a href="<?php echo $this->url('admin', ['controller' => 'bannerstatuseshistory']); ?>">
                        <i class="glyphicon glyphicon-blackboard">
                        </i>Statuses History
                    </a>
                </li>
            <?php endif; ?>
        </ul>

    </li>
<?php endif; ?>




