<?php if ($this->aclHelper()->isAllowed(Admin\Controller\InvoiceController::class, 'index')): ?>
    <li class="active treeview">
        <a href="#">
            <i class="glyphicon glyphicon-file"></i> <span>Invoice</span>
            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu">
            <?php if ($this->aclHelper()->isAllowed(Admin\Controller\InvoiceController::class, 'index')): ?>
                <li class="<?php echo $currentController == 'invoice' ? 'active' : ''; ?>">
                    <a href="<?php echo $this->url('admin', ['controller' => 'invoice']); ?>">
                        <i class="glyphicon glyphicon-file">
                        </i>Invoice details
                    </a>
                </li>
            <?php endif; ?>
        </ul>
    </li>
<?php endif; ?>