<?php if ($this->aclHelper()->isAllowed(Admin\Controller\NewsAdminController::class, 'index')): ?>
    <li class="active treeview">
        <a href="#">
            <i class="glyphicon glyphicon-file"></i> <span>News</span>
            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>

        <ul class="treeview-menu">
            <?php if ($this->aclHelper()->isAllowed(Admin\Controller\NewsAdminController::class, 'index')): ?>
                <li class="<?php echo $currentController == 'newsadmin' ? 'active' : ''; ?>">
                    <a href="<?php echo $this->url('admin', ['controller' => 'newsadmin']); ?>">
                        <i class="glyphicon glyphicon-file">
                        </i>News
                    </a>
                </li>
            <?php endif; ?>
        </ul>

    </li>
<?php endif; ?>

