<?php
/** @var \Admin\Form\BannerForm $form */
$form = $this->form;
$action = $this->action;
$form->setAttributes([
    'action' => $this->url('admin', [
        'controller' => 'banners',
        'action'     => $action,
    ], [
        'query' => [
            'id' => $this->bannerId,
        ],
    ]),
]);
$form->get('category')->setAttributes([
    'class' => 'form-control',
]);
$form->get('city')->setAttributes([
    'class' => 'form-control',
]);
$form->get('area')->setAttributes([
    'class' => 'form-control',
]);
$form->get('adress')->setAttributes([
    'class' => 'form-control',
]);
$form->get('bannerName')->setAttributes([
    'class' => 'form-control',
]);
$form->get('description')->setAttributes([
    'class' => 'form-control',
]);
$form->get('submit')->setAttributes([
    'class' => 'btn btn-primary',
]);
$form->prepare();
?>
<?= $this->form()->openTag($form); ?>
    <div class="modal-footer">
        <a href="<?php echo $this->url('admin', ['controller' => 'banners']); ?>" type="button" class="btn btn-default" data-dismiss="modal"><?= $this->translate('Close') ?></a>
        <?= $this->formElement($form->get('submit')); ?>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <?= $this->formLabel($form->get('bannerName')); ?>
                <?= $this->formElement($form->get('bannerName')); ?>
                <?= $this->formElementErrors($form->get('bannerName')); ?>
            </div>
            <div class="form-group">
                <?= $this->formLabel($form->get('category')); ?>
                <?= $this->formElement($form->get('category')); ?>
                <?= $this->formElementErrors($form->get('category')); ?>
            </div>
            <div class="form-group">
                <?= $this->formLabel($form->get('city')); ?>
                <?= $this->formElement($form->get('city')); ?>
                <?= $this->formElementErrors($form->get('city')); ?>
            </div>
            <div class="form-group">
                <?= $this->formLabel($form->get('area')); ?>
                <?= $this->formElement($form->get('area')); ?>
                <?= $this->formElementErrors($form->get('area')); ?>
            </div>
            <div class="form-group">
                <?= $this->formLabel($form->get('adress')); ?>
                <?= $this->formElement($form->get('adress')); ?>
                <?= $this->formElementErrors($form->get('adress')); ?>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <?= $this->formLabel($form->get('description')); ?>
                <?= $this->formElement($form->get('description')); ?>
                <?= $this->formElementErrors($form->get('description')); ?>
            </div>
            <?php //echo $this->partial('partials/image-upload.phtml'); ?>
        </div>
    </div>
<?= $this->form()->closeTag(); ?>