<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tr>
            <th>№</th>
            <th><?= $this->translate('Banner Number') ?></th>
            <th><?= $this->translate('Category') ?></th>
            <th><?= $this->translate('City') ?></th>
            <th><?= $this->translate('Region') ?></th>
            <th><?= $this->translate('Area') ?></th>
            <th><?= $this->translate('Adress') ?></th>
            <th><?= $this->translate('Description') ?></th>
            <th><?= $this->translate('Price (Eur)') ?></th>
            <th><?= $this->translate('Image') ?></th>
            <th style='width: 110px;'>
                <a class="btn-lg fa fa-fw fa-plus-circle" data-toggle="tooltip"
                   data-placement="left"
                   title="<?= $this->translate('Add Banner') ?>"
                   href="<?= $this->url('admin', ['controller' => 'banners', 'action' => 'add']); ?>">
                </a>
                <a class="btn-lg fa fa-file-excel-o" data-toggle="tooltip"
                   data-placement="top"
                   title="<?= $this->translate('Add Banner from file') ?>"
                   href="<?= $this->url('admin', ['controller' => 'banners', 'action' => 'addMany']); ?>">
                </a>
            </th>
        </tr>
        <tr>
            <?php $i = $this->paginator->getAbsoluteItemNumber($relativeItemNumber, $pageNumber); ?>
            <?php foreach ($this->paginator as $banner) : ?>
            <td><?php echo $i++; ?></td>
            <td><?= $this->escapeHtml($banner['bannerNumber']) ?></td>
            <td><?= $this->escapeHtml($banner['category']['name']) ?></td>
            <td><?= $this->escapeHtml($banner['city']['nameCity']) ?></td>
            <td><?= $this->escapeHtml($banner['city']['nameRegion']) ?></td>
            <td><?= $this->escapeHtml($banner['area']) ?></td>
            <td><?= $this->escapeHtml($banner['adress']) ?></td>
            <td><?= $this->escapeHtml($banner['description']) ?></td>
            <td><?= $this->escapeHtml($banner['price']) ?></td>
            <td>
<!--                --><?php //if ($banner['images']['0']['path']){ echo($this->escapeHtml($banner['images']['0']['path'])); echo("<br>");} ?>
<!--                --><?php //if ($banner['images']['1']['path']){ echo($this->escapeHtml($banner['images']['1']['path'])); echo("<br>");} ?>
<!--                --><?php //if ($banner['images']['2']['path']){ echo($this->escapeHtml($banner['images']['2']['path'])); echo("<br>");} ?>
<!--                --><?php //if ($banner['images']['3']['path']){ echo($this->escapeHtml($banner['images']['3']['path'])); echo("<br>");} ?>
<!--                --><?php //if ($banner['images']['4']['path']){ echo($this->escapeHtml($banner['images']['4']['path']));} ?>
            </td>

            <td>
                <a class="btn btn-success btn-sm glyphicon glyphicon-cog"
                   title="<?= $this->translate('Update Banner') ?>"
                   href="<?= $this->url('admin', ['controller' => 'banners', 'action' => 'update'], ['query' => ['id' => $banner['id']]]); ?>">
                </a>
                <a class="btn btn-danger btn-ajax-confirmation btn-sm glyphicon glyphicon-remove"
                   data-toggle="tooltip" data-placement="top" title="<?= $this->translate('Delete Banner') ?>"
                   href="<?= $this->url('admin', ['controller' => 'banners', 'action' => 'delete'], ['query' => ['id' => $banner['id']]]); ?>"
                   data-confirmation-title="<?= $this->translate('Delete') ?>"
                   data-confirmation-text="<?= $this->translate('Are you sure to delete this Banner?') ?>">
                </a>
            </td>
        </tr>
        <?php endforeach; ?>
        <tr>
            <th>№</th>
            <th><?= $this->translate('Banner Number') ?></th>
            <th><?= $this->translate('Category') ?></th>
            <th><?= $this->translate('City') ?></th>
            <th><?= $this->translate('Region') ?></th>
            <th><?= $this->translate('Area') ?></th>
            <th><?= $this->translate('Adress') ?></th>
            <th><?= $this->translate('Description') ?></th>
            <th><?= $this->translate('Price (Eur)') ?></th>
            <th><?= $this->translate('Image') ?></th>
            <th></th>
        </tr>
    </table>
</div>


<?php echo $this->paginationControl($this->paginator,
    'Sliding',
    'admin/banners/partials/paginator.phtml'); ?>