<div class="box box-primary">
    <div class="box-header">
        <h3><?= $this->translate('You could add banners from your Excell file (.xlsx).') ?></h3>
    </div>

    <div class="box-body" id="record-edit">
        <?php echo $this->partial('partials/bannerFromFileForm.phtml', [
            'form'     => $this->form,
            'action' => 'addMany',
        ]); ?>
    </div>

    <h4><?= $this->translate('Your list of tables should be in the following format:') ?></h4>
    <table class="table table-bordered">
        <tr>
            <th> Banner Number</th>
            <th> City</th>
            <th> Category</th>
            <th> Description</th>
            <th> Area</th>
            <th> Address</th>
            <th> Price (Eur)</th>
        </tr>
        <tr>
            <td> KTM01</td>
            <td> Chisinau</td>
            <td> Stangard billboard</td>
            <td> Cinema "Patria"</td>
            <td> Centru</td>
            <td> str.Stefan Cel Mare 205</td>
            <td> 550 </td>
        </tr>
        <tr>
            <td> 10567</td>
            <td> Chisinau</td>
            <td> Cityboard</td>
            <td> Shopping Center "Elat" </b></td>
            <td> Botanica</td>
            <td> bd. Decebal 99/1</td>
            <td> 700 </td>
        </tr>
        <tr>
            <td> 10568</td>
            <td> Chisinau</td>
            <td> Cityboard</td>
            <td> Macdonalds</td>
            <td> Rascanovca</td>
            <td> bd. Moscovei 2</td>
            <td> 2500 </td>
        </tr>
    </table>


    <?php


    $addedBanners = $this->addedBanners;
    if ($addedBanners != null) {
        echo '<h4>' . $this->translate('Your Banners was successfully added :') . '</h4>';
        echo '<table border="1" class="table table-bordered">'; ?>
        <tr>
            <th> City</th>
            <th> Category</th>
            <th> Description</th>
            <th> Area</th>
            <th> Address</th>
        </tr>
        <?php foreach ($addedBanners as $banner) {
            echo '<tr>';
            echo '<td>' . $banner['name_city'] . '</td>';
            echo '<td>' . $banner['category'] . '</td>';
            echo '<td>' . $banner['description'] . '</td>';
            echo '<td>' . $banner['area'] . '</td>';
            echo '<td>' . $banner['adress'] . '</td>';
            echo '<td>' . $banner['price'] . '</td>';
            echo '</tr>';
        }
        echo '</table>';
    }


    $wrongBannerIds = $this->wrongBannerIds;
    $bannerExist = false;
    if ($wrongBannerIds != null) {
        foreach ($wrongBannerIds as $isBannerExist) {
            if ($isBannerExist['userBanner'] != '') {
                $bannerExist = true;
            }
        }


        if ($bannerExist == true) {
            echo '<h4>' . $this->translate('These Banners are already exist and was not added :') . '</h4>';
            echo '<table border="1" class="table table-bordered">'; ?>
            <tr>
                <th> City</th>
                <th> Category</th>
                <th> Description</th>
                <th> Area</th>
                <th> Address</th>
            </tr>
            <?php foreach ($wrongBannerIds as $wrongBanner) {
                if ($wrongBanner['userBanner'] != '') {

                    echo '<tr>';
                    echo '<td>' . $wrongBanner['userBanner']['city']['nameCity'] . '</td>';
                    echo '<td>' . $wrongBanner['userBanner']['category']['name'] . '</td>';
                    echo '<td>' . $wrongBanner['userBanner']['description'] . '</td>';
                    echo '<td>' . $wrongBanner['userBanner']['area'] . '</td>';
                    echo '<td>' . $wrongBanner['userBanner']['adress'] . '</td>';
                    echo '<td>' . $wrongBanner['userBanner']['price'] . '</td>';
                    echo '</tr>';
                }
            }
            echo '</table>';
        }
    }

    ?>


</div>
