<!-- Main content -->
<div class="box">
    <div class="box-header">
        <h3 class="box-title"><?= $this->translate('Banners') ?></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body" id="records-container">
        <?php echo $this->partial('partials/list.phtml', [
            'paginator' => $this->paginator,
        ]) ?>
    </div>
</div>
<!-- /Content Section -->

