<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"><?= $this->translate('Edit Banner') ?></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body" id="record-edit">
        <?php echo $this->partial('partials/form.phtml', [
            'form'     => $this->form,
            'bannerId' => $this->bannerId,
            'action' => 'update',
        ]); ?>
    </div>
</div>
