<footer id="footer" class="footer animate-in-view" data-animation="animated fadeIn slow">
    <div class="fot-top">
        <div class="container col-12">
          <div class="row mt-35 mb-30">
            <div class="col-md-12">
                <a href="<?= $this->url('home'); ?>" target="<?php echo $this->url('home',
           ['controller' => 'index', 'action' => 'index']); ?>"><img class="logo disabled" src="./img/logo.png" alt="Логотип Billboards"></a>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-2 disabled">
                <div class="cont-row mt-0 color-gr">
                  <h3>Наш адрес</h3>
                  <p>Mihail Kogalniceanu,</p>
                  <p>nr. 8,MD2000 Chisinau,</p>
                  <p>Moldova</p>
                </div>
      
                <div class="cont-row mt-30 color-gr">
                  <h3>Часы работы</h3>
                  <p>Пн. - Пт. - 9:00 - 18:00</p>
                  <p>Сб. - 9:00 - 13:00</p>
                  <p>Вс. - выходной</p>
                </div>
      
                <div class="cont-row mt-30 color-gr">
                  <h3>Контакты</h3>
                  <p>+373 78 766 552</p>
                  <p>+373 69 245 678</p>
                  <p>hello@billboard.md</p>
                </div>
            </div>

            <div class="col-6 col-xl-2">
                <div class="cont-row mt-0 color-gr">
                  <h3 class="footer_category">Разделы</h3>
                </div>

                <ul>
                  <li>
                    <a class="dsoc" href="<?= $this->url('home'); ?>" target="<?php echo $this->url('home',
           ['controller' => 'index', 'action' => 'index']); ?>">Главная</a>
                  </li>
                  <li>
                    <a class="dsoc" href="news">Новости</a>
                  </li>
                  <li>
                    <a class="dsoc" href="index.php/#contactLink">Контакты</a>
                  </li>
                  <li>
                    <a class="dsoc" href="">Приложение</a>
                  </li>
                </ul>
            </div>

            <div class="col-6 col-xl-2">
                <div class="cont-row mt-0 color-gr">
                  <h3 class="footer_category">Категории</h3>
                </div>

                <ul class="footherData">
                  <li>
                    <a class="dsoc" href="">Все щиты</a>
                  </li>
                  <li>
                    <a class="dsoc" href="">Большие щиты</a>
                  </li>
                  <li>
                    <a class="dsoc" href="">Стандартные щиты</a>
                  </li>
                  <li>
                    <a class="dsoc" href="">Цифровой баннер</a>
                  </li>

                  <li>
                    <a class="dsoc" href="">Брендмауэр</a>
                  </li>

                  <li>
                    <a class="dsoc" href="">Перетяжка</a>
                  </li>

                  <li>
                    <a class="dsoc" href="">Ситиборды</a>
                  </li>

                  <li>
                    <a class="dsoc" href="">Другое</a>
                  </li>
                </ul>
            </div>

            <div class="col-12 col-xl-2">
                <div class="cont-row mt-0 color-gr">
                  <h3>Соцсети</h3>
                </div>

                <div class="drop footherData">
                  <a class="dsoc in mb-10" href="#">
                    <img class="in disabled" src="./img/social.png" alt="">
                    <span class="disabled">Instagram</span>
                      <svg class="sm_svg" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M21.7208 0H8.27869C3.71382 0 0 3.714 0 8.27887V21.721C0 26.286 3.71382 29.9998 8.27869 29.9998H21.7208C26.286 29.9998 29.9998 26.2858 29.9998 21.721V8.27887C30 3.714 26.286 0 21.7208 0ZM27.3383 21.721C27.3383 24.8183 24.8183 27.3381 21.721 27.3381H8.27869C5.1815 27.3383 2.66173 24.8183 2.66173 21.721V8.27887C2.66173 5.18168 5.1815 2.66173 8.27869 2.66173H21.7208C24.8181 2.66173 27.3381 5.18168 27.3381 8.27887V21.721H27.3383Z" fill="#828282"/>
                          <path d="M14.9997 7.27002C10.7372 7.27002 7.26953 10.7377 7.26953 15.0002C7.26953 19.2625 10.7372 22.7301 14.9997 22.7301C19.2622 22.7301 22.7299 19.2625 22.7299 15.0002C22.7299 10.7377 19.2622 7.27002 14.9997 7.27002ZM14.9997 20.0681C12.2051 20.0681 9.93126 17.7947 9.93126 15C9.93126 12.2052 12.2049 9.93157 14.9997 9.93157C17.7945 9.93157 20.0682 12.2052 20.0682 15C20.0682 17.7947 17.7944 20.0681 14.9997 20.0681Z" fill="#828282"/>
                          <path d="M23.0545 5.01294C22.5416 5.01294 22.0379 5.22055 21.6757 5.58432C21.3118 5.94632 21.1025 6.45027 21.1025 6.96487C21.1025 7.47788 21.3119 7.98165 21.6757 8.34542C22.0377 8.70742 22.5416 8.91681 23.0545 8.91681C23.5691 8.91681 24.0712 8.70742 24.435 8.34542C24.7988 7.98165 25.0064 7.4777 25.0064 6.96487C25.0064 6.45027 24.7988 5.94632 24.435 5.58432C24.073 5.22055 23.5691 5.01294 23.0545 5.01294Z" fill="#828282"/>
                      </svg>
                  </a>
                  <a class="dsoc fb mb-10" href="#">
                    <img class="fb disabled" src="./img/social.png" alt="">
                    <span class="disabled">Facebook</span>
                      <svg class="sm_svg" width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M26.216 0H4.08288C1.82801 0 0 1.82793 0 4.08285V26.216C0 28.4709 1.82794 30.2989 4.08288 30.2989H14.9989L15.0175 19.4717H12.2045C11.839 19.4717 11.5423 19.1761 11.5409 18.8105L11.5274 15.3205C11.526 14.9529 11.8236 14.6542 12.1911 14.6542H14.9989V11.282C14.9989 7.36848 17.3891 5.23755 20.8802 5.23755H23.7449C24.1114 5.23755 24.4086 5.5347 24.4086 5.90129V8.84412C24.4086 9.21056 24.1116 9.50763 23.7453 9.50785L21.9872 9.50867C20.0886 9.50867 19.721 10.4108 19.721 11.7348V14.6543H23.8928C24.2903 14.6543 24.5988 15.0014 24.5519 15.3962L24.1383 18.8862C24.0987 19.2202 23.8155 19.4718 23.4792 19.4718H19.7396L19.721 30.299H26.2162C28.4711 30.299 30.299 28.4711 30.299 26.2162V4.08285C30.2989 1.82793 28.471 0 26.216 0Z" fill="#828282"/>
                      </svg>
                  </a>
                  <a class="dsoc tw mb-10" href="#">
                    <img class="tw disabled" src="./img/social.png" alt="">
                    <span class="disabled">Twitter</span>
                      <svg class="sm_svg" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M5.62503 0H24.375C27.4819 0 30 2.51809 30 5.62497V24.375C30 27.4818 27.4819 29.9999 24.375 29.9999H5.62503C2.51815 29.9999 6.10352e-05 27.4818 6.10352e-05 24.375V5.62497C0 2.51809 2.51815 0 5.62503 0ZM7.5375 11.6325L7.52627 12.1106C7.52627 16.9931 11.2406 22.6181 18.0338 22.6181C20.1188 22.6181 22.0594 22.0069 23.6944 20.9587C23.4056 20.9925 23.1113 21.0112 22.8131 21.0112C21.0825 21.0112 19.4906 20.4206 18.2269 19.4306C19.8431 19.4006 21.2063 18.3318 21.6769 16.8656C21.45 16.9069 21.2213 16.9294 20.9813 16.9294C20.6438 16.9294 20.3176 16.8863 20.0082 16.8019C21.6976 16.4606 22.9707 14.97 22.9707 13.1813V13.1344C22.4719 13.4119 21.9038 13.5769 21.2982 13.5976C22.2882 12.9357 22.9407 11.805 22.9407 10.5244C22.9407 9.84755 22.7588 9.2138 22.442 8.66819C20.6213 10.9032 17.8988 12.3732 14.8295 12.5269C14.8932 12.2569 14.9251 11.9738 14.9251 11.6851C14.9251 9.64697 13.2713 7.99318 11.2313 7.99318C10.1701 7.99318 9.21004 8.44128 8.53509 9.1594C7.69509 8.9925 6.90381 8.68503 6.18945 8.26315C6.46509 9.12566 7.05005 9.8494 7.8132 10.3069C7.0688 10.2187 6.35444 10.0181 5.69257 9.72561C6.18754 10.4643 6.81567 11.115 7.5375 11.6325Z" fill="#828282"/>
                      </svg>

                  </a>
                  <a class="dsoc sk mb-10" href="#">
                    <img class="sk disabled" src="./img/social.png" alt="">
                    <span class="disabled">Skype</span>
                      <svg class="sm_svg" width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M29.5259 16.9318C29.6111 16.3225 29.66 15.7029 29.66 15.0723C29.66 7.50475 23.2863 1.36887 15.4253 1.36887C14.644 1.36887 13.8781 1.43098 13.1327 1.54934C11.7963 0.706523 10.2057 0.215332 8.49406 0.215332C3.80029 0.215332 0 3.89549 0 8.43639C0 10.0886 0.502478 11.6235 1.36775 12.9123C1.2512 13.6164 1.19162 14.3375 1.19162 15.072C1.19162 22.6409 7.56218 28.776 15.4253 28.776C16.3127 28.776 17.1767 28.6923 18.0164 28.5455C19.3212 29.3288 20.8582 29.7846 22.5057 29.7846C27.1983 29.7848 31 26.1037 31 21.5633C30.9998 19.8469 30.4574 18.2511 29.5259 16.9318ZM16.7557 25.1717C12.2326 25.3999 10.1159 24.4313 8.17692 22.6703C6.01146 20.7036 6.88133 18.4601 8.64555 18.346C10.4088 18.2322 11.4675 20.2805 12.4085 20.8501C13.3485 21.4177 16.925 22.711 18.814 20.6211C20.8712 18.346 17.446 17.1687 14.9353 16.8124C11.3508 16.2987 6.82509 14.4222 7.17717 10.7241C7.52931 7.02832 10.4214 5.1334 13.465 4.86609C17.3446 4.52525 19.8703 5.43486 21.868 7.08445C24.1778 8.99045 22.9281 11.1212 21.4564 11.2927C19.9903 11.4631 18.344 8.15766 15.1115 8.10797C11.7798 8.05734 9.52808 11.4631 13.6411 12.4312C17.7563 13.3983 22.1631 13.7957 23.7501 17.4362C25.3383 21.077 21.2827 24.9435 16.7557 25.1717Z" fill="#828282"/>
                      </svg>
                  </a>
                  <a class="dsoc wt" href="#">
                    <img class="wt disabled" src="./img/social.png" alt="">
                    <span class="disabled">WhatsApp</span>
                      <svg class="sm_svg" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M15.0037 0H14.9963C6.72563 0 0 6.7275 0 15C0 18.2812 1.0575 21.3225 2.85562 23.7919L0.98625 29.3644L6.75187 27.5213C9.12375 29.0925 11.9531 30 15.0037 30C23.2744 30 30 23.2706 30 15C30 6.72938 23.2744 0 15.0037 0ZM23.7319 21.1819C23.37 22.2038 21.9338 23.0512 20.7881 23.2987C20.0044 23.4656 18.9806 23.5988 15.5344 22.17C11.1262 20.3438 8.2875 15.8644 8.06625 15.5737C7.85437 15.2831 6.285 13.2019 6.285 11.0494C6.285 8.89688 7.37813 7.84875 7.81875 7.39875C8.18062 7.02938 8.77875 6.86062 9.3525 6.86062C9.53813 6.86062 9.705 6.87 9.855 6.8775C10.2956 6.89625 10.5169 6.9225 10.8075 7.61813C11.1694 8.49 12.0506 10.6425 12.1556 10.8638C12.2625 11.085 12.3694 11.385 12.2194 11.6756C12.0788 11.9756 11.955 12.1087 11.7337 12.3637C11.5125 12.6187 11.3025 12.8138 11.0812 13.0875C10.8787 13.3256 10.65 13.5806 10.905 14.0213C11.16 14.4525 12.0413 15.8906 13.3387 17.0456C15.0131 18.5362 16.3706 19.0125 16.8562 19.215C17.2181 19.365 17.6494 19.3294 17.9137 19.0481C18.2494 18.6863 18.6637 18.0863 19.0856 17.4956C19.3856 17.0719 19.7644 17.0194 20.1619 17.1694C20.5669 17.31 22.71 18.3694 23.1506 18.5887C23.5912 18.81 23.8819 18.915 23.9887 19.1006C24.0938 19.2863 24.0938 20.1581 23.7319 21.1819Z" fill="#828282"/>
                      </svg>
                  </a>
                </div>
            </div>
            <div class="col-12 col-xl-2">
                <div class="cont-row mt-0 color-gr">
                  <h3>Приложения</h3>
                </div>

                <img class="mb-10" src="./img/app.png" alt="">

                <img class="mb-10" src="./img/imagev3.1.png" alt="">
            </div>

            <div class="col-12 col-xl-2">
                <div class="cont-row mt-0 color-gr">
                  <h3>FAQ</h3>
                </div>

                <ul class="footherData">
                  <li>
                    <a class="dsoc" href="">Как добавить щит?</a>
                  </li>
                  <li>
                    <a class="dsoc" href="">Как арендовать щит?</a>
                  </li>
                  <li>
                    <a class="dsoc" href="">Как подключить CRM?</a>
                  </li>
                  <li>
                    <a class="dsoc" href="">Другие вопросы</a>
                  </li>
                </ul>
            </div>
          </div>
        </div>        
    </div>
    <div class="fot-bot">
      <p>Billboards.md  2020 ©</p>
    </div>
  </footer>
