<?php
$currentUrl = $this->url();
?>
<!-- Mobile Navigation Bar -->
<div class="row bgwhite col-12">
    <div class="dropdown col-2" id="burgerMenu">
        <button class="btn dropDownBurgerImage" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu" id="dropDownMenuBurger" aria-labelledby="dropdownMenuButton">
            <img src="./img/logo.png" id="<?=$this->url('application', ['controller' => 'index', 'action' => 'index']);?>" alt="">
            <p class="burgerSection"><?=$this->translate('Languages'); ?></p>
            <?php if ($this->language()->getCurrentLanguageShortcut() != 'ru'): ?>
                <a class="dropdown-item" href="<?= $currentUrl.'?locale=ru_RU'; ?>">Русский</a>
            <?php endif; ?>
            <?php if ($this->language()->getCurrentLanguageShortcut() != 'ro'): ?>
                <a class="dropdown-item" href="<?= $currentUrl.'?locale=ro_RO'; ?>">Romana</a>
            <?php endif; ?>
            <?php if ($this->language()->getCurrentLanguageShortcut() != 'gb'): ?>
                <a class="dropdown-item" href="<?= $currentUrl.'?locale=en_GB'; ?>">English</a>
            <?php endif; ?>
            <p class="burgerSection"><?= $this->translate('Sections'); ?></p>
            <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>><?=$this->translate('Principal'); ?></a>
            <a class="dropdown-item" href="/news"><?=$this->translate('News'); ?></a>
            <a class="dropdown-item" href="/contact"><?=$this->translate('Contact'); ?></a>
            <a class="dropdown-item" href="/app"><?=$this->translate('App'); ?></a>
            <p class="burgerSection"><?=$this->translate('Categories'); ?></p>
            <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('All banners'); ?></a>
            <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Big banners'); ?></a>
            <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Standard banners'); ?></a>
            <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Digital banners'); ?></a>
            <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Firewall'); ?></a>
            <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Bracing'); ?></a>
            <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Cityboards'); ?></a>
            <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('Other'); ?></a>
            <p class="burgerSection"><?=$this->translate('Social'); ?></p>
            <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>">Instagram</a>
            <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>">Facebook</a>
            <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>">Twitter</a>
            <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>">Skype</a>
            <a class="dropdown-item" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>">WhatsApp</a>
        </div>
    </div>
    <div class="col-2" id="logotypeOnSM">
        <a href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>">
            <div id="logotypeSM"></div>
        </a>
    </div>

    <div class="col-1 offset-2" id="boxSearchButton">
        <a href="<?=$this->url('search', ['controller' => 'search', 'action' => 'index']);?>">
            <div id="searchButton"></div>
        </a>
    </div>
    <div class="col-1" id="boxUserAccount">
        <a href="<?=$this->url('login', ['controller' => 'index', 'action' => 'index']);?>">
            <div id="userAccount"></div>
        </a>
    </div>
    <div class="col-1" id="boxFavoriteSM">
        <a href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>">
            <div id="favoritesSM"></div>
        </a>
    </div>
    <div class="col-1 offset-right-2" id="boxCartSM">
        <a href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>">
            <div id="cartSM"></div>
        </a>
    </div>
</div>






<!-- Navigation Bar -->
<div class="top-nav disabled">
    <nav class="navbar-expand-lg navbar-light fixed-top py-0" id="mainNav">
        <div class="row col-12">
            <div class="container h-100" id="ncont">
                <div class="col-md-3 pl-0 topNavHide">
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="../img/logo.png" alt="Логотип">
                    </a>
                </div>
                <div class="col-md-8 pl-0 pr-0 right topnr topNavHide">
                    <div class="tml">
                        <ul class="navbar-nav nav-align ml-auto my-2 my-lg-0">
                            <li class="nav-item hiddenSearch">
                                <a class="nav-link" href="/search">
                                    <img class="search" id="navBarSearch" src="../img/search.png" alt="">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="<?=$this->url('news', ['controller' => 'news', 'action' => 'index']);?>"><?=$this->translate('News'); ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="<?=$this->url('contact', ['controller' => 'contact', 'action' => 'index']);?>"><?=$this->translate('Contact'); ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>"><?=$this->translate('App'); ?> </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <i class="now-ui-icons flag-icon flag-icon-<?= $this->language()->getCurrentLanguageShortcut(); ?>" aria-hidden="true" style="margin-top: 0.3rem;"></i>
                                </a>
                                <div class="dropdown-menu dropdown-flags dropdown-menu-right">
                                    <?php if ($this->language()->getCurrentLanguageShortcut() != 'ro'): ?>
                                        <a href="<?= $currentUrl.'?locale=ro_RO'; ?>" class="dropdown-item">
                                            <i class="now-ui-icons flag-icon flag-icon-ro" aria-hidden="true"></i>
                                        </a>
                                    <?php endif; ?>
                                    <?php if ($this->language()->getCurrentLanguageShortcut() != 'ru'): ?>
                                        <a href="<?= $currentUrl.'?locale=ru_RU'; ?>" class="dropdown-item">
                                            <i class="now-ui-icons flag-icon flag-icon-ru"></i>
                                        </a>
                                    <?php endif; ?>
                                    <?php if ($this->language()->getCurrentLanguageShortcut() != 'gb'): ?>
                                        <a href="<?= $currentUrl.'?locale=en_GB'; ?>" class="dropdown-item">
                                            <i class="now-ui-icons flag-icon flag-icon-gb"></i>
                                        </a>
                                    <?php endif; ?>
                                </div>
                            </li>
                            <li class="nav-item dropdown carrow">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarSocDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="social" src="../img/tsprites.png" alt="">
                                </a>
                                <div class="drop dropdown-menu dropdown-menu-right animate slideIn"
                                     aria-labelledby="navbarSocDropdown">
                                    <a class="dropdown-item dsoc in mb-10" href="https://instagram.com">
                                        <img class="in" src="../img/social.png" alt="">
                                        <span>Instagram</span>
                                    </a>
                                    <a class="dropdown-item dsoc fb mb-10" href="https://google.com/search?q=fb">
                                        <img class="fb" src="../img/social.png" alt="">
                                        <span>Facebook</span>
                                    </a>
                                    <a class="dropdown-item dsoc tw mb-10" href="https://google.com/search?q=twiter">
                                        <img class="tw" src="../img/social.png" alt="">
                                        <span>Twitter</span>
                                    </a>
                                    <a class="dropdown-item dsoc sk mb-10" href="https://google.com/search?q=skype">
                                        <img class="sk" src="../img/social.png" alt="">
                                        <span>Skype</span>
                                    </a>
                                    <a class="dropdown-item dsoc wt" href="https://google.com/search?q=WhatsApp">
                                        <img class="wt" src="../img/social.png" alt="">
                                        <span>WhatsApp</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <?php if ($this->aclHelper()->isAllowed(Admin\Controller\IndexController::class, 'index')): ?>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary" href="<?= $this->url('admin'); ?>">
                                <p><?= $this->translate('Control Panel'); ?></p>
                            </a>
                        </li>
                    <?php endif; ?>

                    <?php if ($this->userHelper()->isAuthenticated()): ?>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbarDropdownMenuLink"
                               data-toggle="dropdown">
                                <i class="now-ui-icons users_single-02" aria-hidden="true"></i>
                                <p><?php echo "<b>".$this->userHelper()->getCurrentUserName()."</b>";?></p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <?php if ($this->aclHelper()->isAllowed(Application\Controller\ProfileController::class, 'profile')): ?>
                                    <a class="dropdown-item" href="<?= $this->url('profile', ['controller' => 'profile', 'action' => 'index']); ?>">
                                        <i class="now-ui-icons users_circle-08"></i> <?=$this->translate('Profile')?>
                                    </a>
                                <?php endif; ?>
                                <a class="dropdown-item"
                                   href="<?php echo $this->url('logout', ['controller' => 'authcontroller', 'action' => 'logout']); ?>">
                                    <i class="now-ui-icons users_single-02"></i> <?=$this->translate('Logout')?>
                                </a>
                            </div>
                        </li>

                    <?php else: ?>

                    <div class="tmr">
                        <div class="dropdown" style="display: inline-block;">
                            <a class="nav-link" style="padding: 0; color: rgba(0,0,0,.5);" href="#" id="navbarDropdownMenuLink"
                               data-toggle="dropdown">
                                <i class="now-ui-icons users_single-02" aria-hidden="true" style="font-size: 19px"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item"
                                   href="<?=$this->url('login', ['controller' => 'auth', 'action' => 'login']);?>">
                                    <i class="now-ui-icons users_circle-08"></i> <?=$this->translate('Login2')?>
                                </a>
                                <a class="dropdown-item"
                                   href="<?=$this->url('register-customer', ['controller' => 'auth', 'action' => 'register-customer']);?>">
                                    <i class="now-ui-icons users_single-02"></i> <?=$this->translate('Registration')?>
                                </a>
                            </div>
                        </div>
                    <?php endif;?>
                        <a class="fav bdg inb tdn" href="favorites">
                            <img src="./img/tsprites.png" alt="">
                            <span class="badge"></span>
                        </a>
                        <a class="trash bdg inb tdn" href="/basket">
                            <img src="./img/tsprites.png" alt="">
                            <span class="badge"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container botNav pl-0 pr-0">
    <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item">
            <a href="<?=$this->url('home', ['controller' => 'index', 'action' => 'index']);?>">
                <img class="lines b0p" src="./img/tsprites.png" alt="">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="selectedBanner" href="<?=$this->url('search', ['controller' => 'search', 'action' => 'index']);?>"><?=$this->translate('All banners'); ?></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="<?=$this->url('search', ['controller' => 'search', 'action' => 'index']);?>"><?=$this->translate('Big banners'); ?></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="<?=$this->url('search', ['controller' => 'search', 'action' => 'index']);?>"><?=$this->translate('Standard banners'); ?></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="<?=$this->url('search', ['controller' => 'search', 'action' => 'index']);?>"><?=$this->translate('Digital banners'); ?></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="<?=$this->url('search', ['controller' => 'search', 'action' => 'index']);?>"><?=$this->translate('Firewall'); ?></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="<?=$this->url('search', ['controller' => 'search', 'action' => 'index']);?>"><?=$this->translate('Hauling'); ?></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="<?=$this->url('search', ['controller' => 'search', 'action' => 'index']);?>"><?=$this->translate('Cityboards'); ?></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="<?=$this->url('search', ['controller' => 'search', 'action' => 'index']);?>"><?=$this->translate('Another'); ?></a>
        </li>
    </ul>
</div>