<!DOCTYPE html>
<html lang="en">

<?php echo $this->partial('head.phtml'); ?>

<body class="fixed-header <?php echo isset($this->bodyClass) ? $this->bodyClass : '' ?> ">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PWWNFCN"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<?php echo $this->partial('header.phtml'); ?>




    <?php echo $this->content; ?>
    <?php echo $this->partial('footer.phtml'); ?>
    <?php echo $this->partial('scripts.phtml'); ?>
</body>
</html>




