<?php
/** @var \Admin\Form\InvoiceForm $form */
$form = $this->form;
$form->setAttributes([
        'action' => $this->url('admin', ['controller' => 'city', 'action' => 'add']),
        'data-result-container-selector' => '.modal-body',
]);
$form->get('nameCity')->setAttributes([
        'class' => 'form-control',
]);
$form->get('nameRegion')->setAttributes([
        'class' => 'form-control',
]);
$form->get('indexnameCity')->setAttributes([
        'class' => 'form-control',
]);
$form->get('indexnameRegion')->setAttributes([
        'class' => 'form-control',
]);
$form->get('submit')->setAttributes([
        'class' => 'btn btn-primary btn-ajax-form-submit',
]);
$form->prepare();
?>
<?= $this->form()->openTag($form); ?>
<div>
    <div class="form-group">
        <?= $this->formLabel($form->get('nameCity')); ?>
        <?= $this->formElement($form->get('nameCity')); ?>
        <?= $this->formElementErrors($form->get('nameCity')); ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('nameRegion')); ?>
        <?= $this->formElement($form->get('nameRegion')); ?>
        <?= $this->formElementErrors($form->get('nameRegion')); ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('indexnameCity')); ?>
        <?= $this->formElement($form->get('indexnameCity')); ?>
        <?= $this->formElementErrors($form->get('indexnameCity')); ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('indexnameRegion')); ?>
        <?= $this->formElement($form->get('indexnameRegion')); ?>
        <?= $this->formElementErrors($form->get('indexnameRegion')); ?>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><?= $this->translate('Close') ?></button>
    <?= $this->formElement($form->get('submit')); ?>
</div>
<?= $this->form()->closeTag(); ?>
