<div class="table-responsive">
    <table class="table table-bordered table-striped">
    <tr>
        <th>№</th>
        <th><?=$this->translate('Name city')?></th>
        <th><?=$this->translate('Name region')?></th>
        <th>Indexname <?=$this->translate('city')?></th>
        <th>Indexname <?=$this->translate('region')?></th>
        <th style='width: 90px'>
            <a class="btn-modal-action"
            data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Add City')?>"
            href="<?=$this->url('admin', ['controller' => 'city', 'action' => 'add']);?>"
            data-modal-title="<?=$this->translate('Add City')?>">
            <h4>
                <i class="fa fa-fw fa-plus-circle"></i>
            </h4>
            </a>
        </th>

    </tr>
    <tr>
        <?php $i = $this->paginator->getAbsoluteItemNumber($relativeItemNumber, $pageNumber);?>
        <?php foreach ($this->paginator as $city) : ?>
        <td><?php echo $i++; ?></td>
        <td><?=$this->escapeHtml($city['nameCity'])?></td>
        <td><?=$this->escapeHtml($city['nameRegion'])?></td>
        <td><?=$this->escapeHtml($city['indexnameCity'])?></td>
        <td><?=$this->escapeHtml($city['indexnameRegion'])?></td>
        <td>
            <a class="btn btn-success btn-modal-action btn-sm glyphicon glyphicon-cog"
               data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Update City')?>"
               href="<?=$this->url('admin', ['controller' => 'city', 'action' => 'update'], ['query' => ['id' => $city['id']]]);?>"
               data-modal-title="<?=$this->translate('Update City')?>">
            </a>

            <a class="btn btn-danger btn-ajax-confirmation btn-sm glyphicon glyphicon-remove"
               data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Delete City')?>"
               href="<?=$this->url('admin', ['controller' => 'city', 'action' => 'delete'], ['query' => ['id' => $city['id']]]);?>"
               data-confirmation-title="<?=$this->translate('Delete City')?>"
               data-confirmation-text="<?=$this->translate('Are you sure to delete this City?')?>">
            </a>
        </td>
    </tr>
    <?php endforeach; ?>
    <tr>
        <th>№</th>
        <th><?=$this->translate('Name city')?></th>
        <th><?=$this->translate('Name region')?></th>
        <th>Indexname <?=$this->translate('city')?></th>
        <th>Indexname <?=$this->translate('region')?></th>
        <th></th>
    </tr>
</table>
</div>

<?php echo $this->paginationControl($this->paginator,
    'Sliding',
    'admin/partial/paginator.phtml'); ?>