<div class="table-responsive">
    <table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th><?=$this->translate('Role')?></th>
        <th><?=$this->translate('Login_adminlte')?></th>
        <th><?=$this->translate('Name')?></th>
        <th><?=$this->translate('E-mail')?></th>
        <th style='width: 90px'>
            <a class="btn-modal-action"
            data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Add User')?>"
            href="<?=$this->url('admin', ['controller' => 'users', 'action' => 'add']);?>"
            data-modal-title="<?=$this->translate('Add User')?>">
            <h4>
                <i class="fa fa-fw fa-plus-circle"></i>
            </h4>
            </a>
        </th>
    </tr>
    <tr>
        <?php foreach ($this->paginator as $user) : ?>
        <td><?=$this->escapeHtml($user['id'])?></td>
        <td><?=$this->escapeHtml($user['role']['name'])?></td>
        <td><?=$this->escapeHtml($user['login'])?></td>
        <td><?=$this->escapeHtml($user['name'])?></td>
        <td><?=$this->escapeHtml($user['email'])?></td>
        <td>
            <a class="btn btn-success btn-modal-action btn-sm glyphicon glyphicon-cog"
            data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Update User')?>"
            href="<?=$this->url('admin', ['controller' => 'users', 'action' => 'update'], ['query' => ['id' => $user['id']]]);?>"
            data-modal-title="<?=$this->translate('Update User')?>">
            </a>

            <a class="btn btn-danger btn-ajax-confirmation btn-sm glyphicon glyphicon-remove"
               data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Delete User')?>"
               href="<?=$this->url('admin', ['controller' => 'users', 'action' => 'delete'], ['query' => ['id' => $user['id']]]);?>"
               data-confirmation-title="<?=$this->translate('Delete User')?>"
               data-confirmation-text="<?=$this->translate('Are you sure to delete this User?')?>">
            </a>
        </td>
    </tr>
    <?php endforeach; ?>
    <tr>
        <th>ID</th>
        <th><?=$this->translate('Role')?></th>
        <th><?=$this->translate('Login_adminlte')?></th>
        <th><?=$this->translate('Name')?></th>
        <th><?=$this->translate('E-mail')?></th>
        <th></th>
    </tr>
</table>
</div>

<?php echo $this->paginationControl($this->paginator,
    'Sliding',
    'admin/partial/paginator.phtml'); ?>