<?php
/** @var \Admin\Form\UserForm $form */
$form = $this->form;
$form->setAttributes([
    'action' => $this->url('admin', ['controller' => 'users', 'action' => 'update'], ['query' => ['id' => $this->userId]]),
    'data-result-container-selector' => '.modal-body',
]);
$form->get('name')->setAttributes([
    'class' => 'form-control',
]);
$form->get('login')->setAttributes([
    'class' => 'form-control',
]);
$form->get('email')->setAttributes([
    'class' => 'form-control',
]);
$form->get('role')->setAttributes([
    'class' => 'form-control',
]);
$form->get('password')->setAttributes([
    'class' => 'form-control',
]);
$form->get('submit')->setAttributes([
    'class' => 'btn btn-primary btn-ajax-form-submit',
]);
$form->prepare();
?>

<?= $this->form()->openTag($form); ?>
<div>
    <div class="form-group">
        <?= $this->formLabel($form->get('name')); ?>
        <?= $this->formElement($form->get('name')); ?>
        <?= $this->formElementErrors($form->get('name')); ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($form->get('login')); ?>
        <?= $this->formElement($form->get('login')); ?>
        <?= $this->formElementErrors($form->get('login')); ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($form->get('email')); ?>
        <?= $this->formElement($form->get('email')); ?>
        <?= $this->formElementErrors($form->get('email')); ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($form->get('role')); ?>
        <?= $this->formElement($form->get('role')); ?>
        <?= $this->formElementErrors($form->get('role')); ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($form->get('password')); ?>
        <?= $this->formElement($form->get('password')); ?>
        <?= $this->formElementErrors($form->get('password')); ?>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><?= $this->translate('Close') ?></button>
    <?= $this->formElement($form->get('submit')); ?>
</div>
<?= $this->form()->closeTag(); ?>
