<div class="table-responsive">
    <table class="table table-bordered table-striped">
    <tr>
        <th>№</th>
        <th>Status</th>
        <th>Status History №</th>
        <th>Banner ID</th>
        <th>Banner City</th>
        <th>Banner Address</th>
        <th>Status changed</th>
        <th>Time Start</th>
        <th>Time End</th>
        <th style='width: 50px'></th>
    </tr>
    <?php $i = $this->paginator->getAbsoluteItemNumber($relativeItemNumber, $pageNumber);?>
    <?php foreach ($this->paginator as $bannerStatusHistory) : ?>
        <td><?php echo $i++; ?></td>
        <td><?=$this->escapeHtml($bannerStatusHistory['status'])?></td>
        <td><?=$this->escapeHtml($bannerStatusHistory['id'])?></td>
        <td><?=$this->escapeHtml($bannerStatusHistory['banner']['id'])?></td>
        <td><?=$this->escapeHtml($bannerStatusHistory['banner']['city']['nameCity'])?></td>
        <td><?=$this->escapeHtml($bannerStatusHistory['banner']['adress'])?></td>
        <td><?=$this->escapeHtml($bannerStatusHistory['timeChanged']->format('Y-m-d h:m:s'))?></td>
        <td><?=$this->escapeHtml($bannerStatusHistory['timeStart']->format('Y-m-d h:m:s'))?></td>
        <td><?=$this->escapeHtml($bannerStatusHistory['timeEnd']->format('Y-m-d h:m:s'))?></td>
        <td>
            <a class="btn btn-danger btn-ajax-confirmation btn-sm glyphicon glyphicon-remove"
               data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Delete History of Banner Status')?>"
               href="<?=$this->url('admin', ['controller' => 'bannerstatuseshistory', 'action' => 'delete'], ['query' => ['id' => $bannerStatusHistory['id']]]);?>"
               data-confirmation-title="<?=$this->translate('Delete')?>"
               data-confirmation-text="<?=$this->translate('Are you sure to delete this Banner Status from History?')?>">
            </a>
        </td>
    </tr>
    <?php endforeach; ?>
    <tr>
        <th>№</th>
        <th>Status</th>
        <th>Status ID</th>
        <th>Banner ID</th>
        <th>Banner City</th>
        <th>Banner Address</th>
        <th>Status changed</th>
        <th>Time Start</th>
        <th>Time End</th>
        <th></th>
    </tr>
</table>
</div>

<?php echo $this->paginationControl($this->paginator,
    'Sliding',
    'admin/partial/paginator.phtml'); ?>