<div class="table-responsive">
    <table class="table table-bordered table-striped">
    <tr>
        <th>№</th>
        <th>Status</th>
        <th>Status №</th>
        <th>Banner ID</th>
        <th>Banner City</th>
        <th>Banner Address</th>
        <th>Time Start</th>
        <th>Time End</th>
        <th style='width: 90px'></th>
    </tr>
    <?php $i = $this->paginator->getAbsoluteItemNumber($relativeItemNumber, $pageNumber);?>
    <?php foreach ($this->paginator as $bannerStatus) : ?>
        <td><?php echo $i++; ?></td>
        <td><?=$this->escapeHtml($bannerStatus['status'])?></td>
        <td><?=$this->escapeHtml($bannerStatus['id'])?></td>
        <td><?=$this->escapeHtml($bannerStatus['banner']['id'])?></td>
        <td><?=$this->escapeHtml($bannerStatus['banner']['city']['nameCity'])?></td>
        <td><?=$this->escapeHtml($bannerStatus['banner']['adress'])?></td>
        <td><?=$this->escapeHtml($bannerStatus['timeStart']->format('Y-m-d h:m:s'))?></td>
        <td><?=$this->escapeHtml($bannerStatus['timeEnd']->format('Y-m-d h:m:s'))?></td>
        <td>
            <a class="btn btn-success btn-modal-action btn-sm glyphicon glyphicon-cog"
               data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Update Banner Status')?>"
               href="<?=$this->url('admin', ['controller' => 'bannerstatuses', 'action' => 'update'], ['query' => ['id' => $bannerStatus['id']]]);?>"
               data-modal-title="<?=$this->translate('Update Banner')?>">
            </a>
            <a class="btn btn-danger btn-ajax-confirmation btn-sm glyphicon glyphicon-remove"
               data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Delete Banner Status')?>"
               href="<?=$this->url('admin', ['controller' => 'bannerstatuses', 'action' => 'delete'], ['query' => ['id' => $bannerStatus['id']]]);?>"
               data-confirmation-title="<?=$this->translate('Delete')?>"
               data-confirmation-text="<?=$this->translate('Are you sure to delete this Banner Status?')?>">
            </a>
        </td>
    </tr>
    <?php endforeach; ?>
    <tr>
        <th>№</th>
        <th>Status</th>
        <th>Status ID</th>
        <th>Banner ID</th>
        <th>Banner City</th>
        <th>Banner Address</th>
        <th>Time Start</th>
        <th>Time End</th>
        <th></th>
    </tr>
</table>
</div>

<?php echo $this->paginationControl($this->paginator,
    'Sliding',
    'admin/partial/paginator.phtml'); ?>