<?php
/** @var \Admin\Form\BannerStatusForm $form */
$form = $this->form;
$form->setAttributes([
    'action' => $this->url('admin', ['controller' => 'bannerstatuses', 'action' => 'update'], ['query' => ['id' => $this->bannerStatusId]]),
    'data-result-container-selector' => '.modal-body',
]);
$form->get('status')->setAttributes([
    'class' => 'form-control',
]);
$form->get('timeStart')->setAttributes([
    'class' => 'form-control',
]);
$form->get('timeEnd')->setAttributes([
    'class' => 'form-control',
]);
$form->get('submit')->setAttributes([
    'class' => 'btn btn-primary btn-ajax-form-submit',
]);
$form->prepare();
?>
<?= $this->form()->openTag($form); ?>
<div>
    <div class="form-group">
        <?= $this->formLabel($form->get('status')); ?>
        <?= $this->formElement($form->get('status')); ?>
        <?= $this->formElementErrors($form->get('status')); ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($form->get('timeStart')); ?>
        <?= $this->formElement($form->get('timeStart')); ?>
        <?= $this->formElementErrors($form->get('timeStart')); ?>
    </div>

    <div class="form-group">
        <?= $this->formLabel($form->get('timeEnd')); ?>
        <?= $this->formElement($form->get('timeEnd')); ?>
        <?= $this->formElementErrors($form->get('timeEnd')); ?>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><?= $this->translate('Close') ?></button>
    <?= $this->formElement($form->get('submit')); ?>
</div>
<?= $this->form()->closeTag(); ?>

