<?php
session_start();



?>

<div class="row">
    <div class="col-12">
        <div class="container">
            <div class="col-8" style="background: red; height: 100px;"></div>
            <div class="col-2" style="background: red; height: 100px;></div>
        </div>
    </div>
</div>
