<?php if ($this->pageCount): ?>
    <?php $controller = $this->controllerName(); ?>
    <nav>
        <ul class="pagination">
            <!-- Previous page link -->
            <?php if (isset($this->previous)): ?>
                <li>
                    <a href="<?= $this->url('admin', ['controller' => $controller, 'action' => 'list'], ['query' => ['page' => $this->previous]]); ?>"
                       class="btn-load-data"
                       data-result-container-name="records-container"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            <?php else: ?>
                <li>
                    <span aria-hidden="true">&laquo;</span>
                </li>
            <?php endif; ?>

            <!-- Numbered page links -->

            <?php foreach ($this->pagesInRange as $page): ?>
                <?php if ($page != $this->current): ?>
                    <li>
                        <a href="<?= $this->url('admin', ['controller' => $controller, 'action' => 'list'], ['query' => ['page' => $page]]); ?>"
                           data-result-container-name="records-container"
                           class="btn-load-data">
                            <?= $this->escapeHtml($page); ?>
                        </a>
                    </li>
                <?php else: ?>
                    <li>
                        <span aria-hidden="true"><b><?= $this->escapeHtml($page); ?></b></span>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>

            <!-- Next page link -->
            <?php if (isset($this->next)): ?>
                <li>
                    <a href="<?php echo $this->url('admin', ['controller' => $controller, 'action' => 'list'], ['query' => ['page' => $this->next]]); ?>"
                       data-result-container-name="records-container"
                       class="btn-load-data"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            <?php else: ?>
                <li>
                    <span aria-hidden="true">&raquo;</span>
                </li>
            <?php endif; ?>
        </ul>

    </nav>
<?php endif; ?>