<div class="cards">
    <div class="container">
        <div class="title">
            <h3><?= $this->translate('Banner categories') ?></h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-background" style="background-image: url('img/banner_02.jpg')">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h3><?= $this->translate('Big banner') ?></h3>
                        </div>
                        <div class="card-footer text-left">
                            <div class="stats-link">
                                <a href="<?=$this->url('search', ['controller' => 'search', 'action' => 'index'],
                                        ['query' => ['category' => '2']]);?>" class="footer-link">
                                    Конструкции с форматом рекламного поля от 3м Х 12м до 5м Х 15м.
                                </a>
                            </div>
                            <div class="stats stats-right">
                                <span><i class="now-ui-icons tech_watch-time"></i><?= $this->translate('Available') ?></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-background" style="background-image: url('img/banner_01.jpg')">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h3><?= $this->translate('Standard banner') ?></h3>
                        </div>
                        <div class="card-footer text-left">
                            <div class="stats-link">
                                <a href="<?=$this->url('search', ['controller' => 'search', 'action' => 'index'],
                                        ['query' => ['category' => '1']]);?>" class="footer-link">
                                    Щит размера 3м X 6м для размещения наружной рекламы,
                                    расположенный вдоль улиц и трасс.
                                </a>
                            </div>
                            <div class="stats stats-right">
                                <span><i class="now-ui-icons tech_watch-time"></i><?= $this->translate('Available') ?></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-background" style="background-image: url('img/banner_03.jpg')">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h3><?= $this->translate('Digital banner') ?></h3>
                        </div>
                        <div class="card-footer text-left">
                            <div class="stats-link">
                                <a href="<?=$this->url('search', ['controller' => 'search', 'action' => 'index'],
                                        ['query' => ['category' => '3']]);?>" class="footer-link">
                                    К цифровым баннерам относятся рекламные конструкции, трансляция изображений на
                                    которых осуществляется цифровым способом и не требует печати плаката.
                                </a>
                            </div>
                            <div class="stats stats-right">
                                <span><i class="now-ui-icons tech_watch-time"></i><?= $this->translate('Available') ?></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-background" style="background-image: url('img/banner_04.jpg')">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h3><?= $this->translate('Brandmauer') ?></h3>
                        </div>
                        <div class="card-footer text-left">
                            <div class="stats-link">
                                <a href="<?=$this->url('search', ['controller' => 'search', 'action' => 'index'],
                                        ['query' => ['category' => '4']]);?>" class="footer-link">
                                    Рекламные поверхности площадью более 18 кв.м. на стенах зданий.
                                </a>
                            </div>
                            <div class="stats stats-right">
                                <span><i class="now-ui-icons tech_watch-time"></i><?= $this->translate('Available') ?></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-background" style="background-image: url('img/banner_05.jpg')">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h3><?= $this->translate('Bracing') ?></h3>
                        </div>
                        <div class="card-footer text-left">
                            <div class="stats-link">
                                <a href="<?=$this->url('search', ['controller' => 'search', 'action' => 'index'],
                                        ['query' => ['category' => '5']]);?>" class="footer-link">
                                    Двухстороннее полотно с рекламой,
                                    расположено обычно над проезжей частью посредством тросовой конструкции.
                                </a>
                            </div>
                            <div class="stats stats-right">
                                <span><i class="now-ui-icons tech_watch-time"></i><?= $this->translate('Available') ?></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-background" style="background-image: url('img/banner_06.jpg')">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h3><?= $this->translate('Cityboards') ?></h3>
                        </div>
                        <div class="card-footer text-left">
                            <div class="stats-link">
                                <a href="<?=$this->url('search', ['controller' => 'search', 'action' => 'index'],
                                        ['query' => ['category' => '6']]);?>" class="footer-link">
                                    Отдельно стоящие конструкции (обычно 3,7м х 2,5м).
                                    Могут быть размещены как наружно так и в помещении.
                                </a>
                            </div>
                            <div class="stats stats-right">
                                <span><i class="now-ui-icons tech_watch-time"></i>Available</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-background" style="background-image: url('img/banner_07.jpg')">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h3><?= $this->translate('Another') ?></h3>
                        </div>
                        <div class="card-footer text-left">
                            <div class="stats-link">
                                <a href="<?=$this->url('search', ['controller' => 'search', 'action' => 'index'],
                                        ['query' => ['category' => '7']]);?>" class="footer-link">
                                    Баннеры имеющие иные характеристики (размеры, форма и т.п.)
                                </a>
                            </div>
                            <div class="stats stats-right">
                                <span><i class="now-ui-icons tech_watch-time"></i>Available</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>