<div class="contactus-1 section-image" style="background-image: url('img/startpage_billboard.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-5 ml-auto mr-auto">
                <h2 class="title"><?=$this->translate('Get in Touch')?></h2>
                <h4 class="description"><?=$this->translate('more_information')?></h4>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="now-ui-icons location_pin"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title"><?=$this->translate('Find us at the office')?></h4>
                        <p class="description"> Mihail Kogalniceanu, nr. 8,
                            <br> MD2000 Chisinau,
                            <br> Moldova
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="now-ui-icons tech_mobile"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title"><?=$this->translate('Give us a ring')?></h4>
                        <p class="description"> Michael Jordan
                            <br> +40 762 321 762
                            <br> Mon - Fri, 8:00-22:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ml-auto mr-auto">
                <div class="card card-contact card-raised">
                    <form action="<?= $this->url('contact', ['controller' => 'contact', 'action' => 'index']); ?>" name="contact-form" role="form" id="contact-form" method="post">
                        <div class="card-header text-center">
                            <h4 class="card-title"><?=$this->translate('Contact Us')?></h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label><?=$this->translate('Your Name')?></label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons users_circle-08"></i>
                                    </span>
                                    <input type="text" class="form-control" name="name"
                                           placeholder="<?=$this->translate('First Name...')?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label><?=$this->translate('Email address')?></label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons ui-1_email-85"></i>
                                    </span>
                                    <input type="email" name="email" id="email" autocomplete="email" class="form-control" placeholder="Email Here...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label><?=$this->translate('Phone')?></label>
                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </span>
                                    <input type="text" name="phone" class="form-control"
                                           placeholder="Number Here..">
                                </div>
                            </div>
                            <div class="form-group">
                                <label><?= $this->translate('Your message') ?></label>
                                <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                            </div>
                            <div class="form-group">
                                <?php echo $this->reCaptcha->getHtml();?>
                            </div>
                            <div class="row">
                                     <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary btn-round pull-right" id="contact_form">
                                        <?= $this->translate('Send Message')?>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>