<div class="section section-frequently">
    <div class="container">
        <div class="text-center">
            <h3 class="title"><?= $this->translate('Frequently Asked Questions') ?></h3>
        </div>
        <div class="row">
            <div class="col-md-4 ml-auto mr-auto">
                <div class="info info-horizontal">
                    <div class="icon icon-info">
                        <i class="now-ui-icons shopping_credit-card"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title"><?= $this->translate('HOW_ADD') ?></h4>
                        <p><?= $this->translate('SHOULD_ADD') ?></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-horizontal">
                    <div class="icon icon-success">
                        <i class="now-ui-icons shopping_box"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title"><?= $this->translate('HOW_RENT') ?></h4>
                        <p><?= $this->translate('SHOULD_RENT') ?></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ml-auto mr-auto">
                <div class="info info-horizontal">
                    <div class="icon icon-success">
                        <i class="now-ui-icons business_money-coins"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title"><?= $this->translate('CONNECT_BILLBOARD') ?></h4>
                        <p><?= $this->translate('CONNECT_FLEXIBLE') ?></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="now-ui-icons business_bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title"><?= $this->translate('ANY_QUESTIONS') ?></h4>
                        <p><?= $this->translate('WE_ARE_HAPPY') ?></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>