<div class="pricing-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
                <h4 class="description"><?= $this->translate('OUR_MISSION') ?></h4>
                <div class="section-space"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-pricing card-background"
                     style="background-image: url('/img/startpage_smallboard_1.jpg')">
                    <div class="card-body">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons location_pin"></i>
                        </div>
                        <h2 class="card-title">542</h2>
                        <p class="card-description">
                            <?= $this->translate('ACTIVE_BILLBOARDS') ?></p>
                        <a href="<?= $this->url('search', ['controller' => 'search', 'action' => 'index']); ?>" class="btn btn-primary btn-round">
                            <?= $this->translate('See all') ?>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-pricing" data-background-color="orange">
                    <div class="card-body">
                        <h2 class="card-title"><?= $this->translate('Agencies') ?></h2>
                        <ul>
                            <li><i class="now-ui-icons ui-1_check text-primary"></i> <?= $this->translate('Easy registration') ?></li>
                            <li><i class="now-ui-icons ui-1_check text-primary"></i> <?= $this->translate('Boards search') ?></li>
                            <li><i class="now-ui-icons ui-1_check text-primary"></i> <?= $this->translate('Transparent prices') ?></li>
                            <li><i class="now-ui-icons ui-1_check text-primary"></i> <?= $this->translate('Statistics') ?></li>
                        </ul>
                        <a href="<?= $this->url('contact', ['controller' => 'contact', 'action' => 'index']); ?>" class="btn btn-neutral btn-default btn-round">
                            <?= $this->translate('Contact us') ?>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-pricing" data-background-color="blue">
                    <div class="card-body">
                        <h2 class="card-title"><?= $this->translate('Owners') ?></h2>
                        <ul>
                            <li><i class="now-ui-icons ui-1_check text-primary"></i> <?= $this->translate('Easy board add') ?></li>
                            <li><i class="now-ui-icons ui-1_check text-primary"></i> <?= $this->translate('Boards management') ?></li>
                            <li><i class="now-ui-icons ui-1_check text-primary"></i> <?= $this->translate('Price configuration') ?></li>
                            <li><i class="now-ui-icons ui-1_check text-primary"></i> <?= $this->translate('Statistics') ?></li>
                        </ul>
                        <a href="<?= $this->url('contact', ['controller' => 'contact', 'action' => 'index']); ?>" class="btn btn-neutral btn-default btn-round">
                            <?= $this->translate('Contact us') ?>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-pricing" data-background-color="black">
                    <div class="card-body">
                        <h2 class="card-title"><?= $this->translate('Companies') ?></h2>
                        <ul>
                            <li><i class="now-ui-icons ui-1_check text-primary"></i> <?= $this->translate('Custom solutions') ?></li>
                            <li><i class="now-ui-icons ui-1_check text-primary"></i> <?= $this->translate('CRM Impord and Export') ?></li>
                            <li><i class="now-ui-icons ui-1_check text-primary"></i> <?= $this->translate('Full support') ?></li>
                            <li><i class="now-ui-icons ui-1_check text-primary"></i> <?= $this->translate('Extended statistics') ?></li>
                        </ul>
                        <a href="<?= $this->url('contact', ['controller' => 'contact', 'action' => 'index']); ?>" class="btn btn-neutral btn-default btn-round">
                            <?= $this->translate('Contact us') ?>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>