<h3 class="box-title">
    <p><?php echo "<b>".$this->userHelper()->getCurrentUserName()."</b>";?></p>
    Welcome to <b>Admin</b> panel !
</h3>






<div class="adjoined-bottom">
    <div class="grid-container">
        <div class="grid-width-100">
            <div id="editor">
            </div>
        </div>
    </div>
</div>

