<?php
/** @var \Admin\Form\InvoiceForm $form */
$form = $this->form;
$form->setAttributes([
        'action' => $this->url('admin', ['controller' => 'invoice', 'action' => 'add']),
        'data-result-container-selector' => '.modal-body',
]);
$form->get('company')->setAttributes([
        'class' => 'form-control',
]);
$form->get('adress')->setAttributes([
        'class' => 'form-control',
]);
$form->get('idno')->setAttributes([
        'class' => 'form-control',
]);
$form->get('bank')->setAttributes([
        'class' => 'form-control',
]);
$form->get('iban')->setAttributes([
        'class' => 'form-control',
]);
$form->get('account')->setAttributes([
        'class' => 'form-control',
]);
$form->get('swift')->setAttributes([
        'class' => 'form-control',
]);
$form->get('bic')->setAttributes([
        'class' => 'form-control',
]);
$form->get('submit')->setAttributes([
        'class' => 'btn btn-primary btn-ajax-form-submit',
]);
$form->prepare();
?>
<?= $this->form()->openTag($form); ?>
<div>
    <div class="form-group">
        <?= $this->formLabel($form->get('company')); ?>
        <?= $this->formElement($form->get('company')); ?>
        <?= $this->formElementErrors($form->get('company')); ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('adress')); ?>
        <?= $this->formElement($form->get('adress')); ?>
        <?= $this->formElementErrors($form->get('adress')); ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('idno')); ?>
        <?= $this->formElement($form->get('idno')); ?>
        <?= $this->formElementErrors($form->get('idno')); ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('bank')); ?>
        <?= $this->formElement($form->get('bank')); ?>
        <?= $this->formElementErrors($form->get('bank')); ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('iban')); ?>
        <?= $this->formElement($form->get('iban')); ?>
        <?= $this->formElementErrors($form->get('iban')); ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('account')); ?>
        <?= $this->formElement($form->get('account')); ?>
        <?= $this->formElementErrors($form->get('account')); ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('swift')); ?>
        <?= $this->formElement($form->get('swift')); ?>
        <?= $this->formElementErrors($form->get('swift')); ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('bic')); ?>
        <?= $this->formElement($form->get('bic')); ?>
        <?= $this->formElementErrors($form->get('bic')); ?>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><?= $this->translate('Close') ?></button>
    <?= $this->formElement($form->get('submit')); ?>
</div>
<?= $this->form()->closeTag(); ?>
