<!-- Main content -->
<div class="box">
    <div class="box-header">
        <h3 class="box-title"><?= $this->translate('Invoice data') ?></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body" id="records-container">
        <?php echo $this->partial('list.phtml', ['invoice' => $this->invoice, 'userId' => $this->userId]) ?>
    </div>
</div>
<!-- /Content Section -->

