<div class="table-responsive">
    <table class="table table-bordered table-striped">
    <tr>
        <th><?=$this->translate('Company')?></th>
        <th><?=$this->translate('Adress')?></th>
        <th><?=$this->translate('IDNO')?></th>
        <th><?=$this->translate('Bank')?></th>
        <th><?=$this->translate('IBAN')?></th>
        <th><?=$this->translate('Bank account')?></th>
        <th><?=$this->translate('Swift')?></th>
        <th><?=$this->translate('Bank BIC')?></th>
        <th style='width: 100px'>
        </th>
    </tr>
    <tr>
        <?php foreach ($this->invoice as $invoice) : ?>
        <?php if ($invoice['owner']['id'] == $this->userId): ?>
        <td><?=$this->escapeHtml($invoice['company'])?></td>
        <td><?=$this->escapeHtml($invoice['adress'])?></td>
        <td><?=$this->escapeHtml($invoice['idno'])?></td>
        <td><?=$this->escapeHtml($invoice['bank'])?></td>
        <td><?=$this->escapeHtml($invoice['iban'])?></td>
        <td><?=$this->escapeHtml($invoice['account'])?></td>
        <td><?=$this->escapeHtml($invoice['swift'])?></td>
        <td><?=$this->escapeHtml($invoice['bic'])?></td>
        <td>
            <a class="btn btn-success btn-modal-action btn-sm glyphicon glyphicon-cog"
               data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Update Invoice data')?>"
               href="<?=$this->url('admin', ['controller' => 'invoice', 'action' => 'update'], ['query' => ['id' => $invoice['id']]]);?>"
               data-modal-title="<?=$this->translate('Update Invoice')?>">
            </a>
        </td>
    </tr>
    <?php endif; ?>
    <?php endforeach; ?>

    <?php if ($invoice['owner']['id'] !== $this->userId): ?>
    <td><?=$this->escapeHtml("")?></td>
    <td><?=$this->escapeHtml("")?></td>
    <td><?=$this->escapeHtml("")?></td>
    <td><?=$this->escapeHtml("")?></td>
    <td><?=$this->escapeHtml("")?></td>
    <td><?=$this->escapeHtml("")?></td>
    <td><?=$this->escapeHtml("")?></td>
    <td><?=$this->escapeHtml("")?></td>
        <td style='width: 100px'>
            <a class="btn-modal-action"
               data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Add Invoice')?>"
               href="<?=$this->url('admin', ['controller' => 'invoice', 'action' => 'add']);?>"
               data-modal-title="<?=$this->translate('Add Invoice')?>">
                <h4>
                    <i class="fa fa-fw fa-plus-circle"></i>
                </h4>
            </a>
        </td>
    </tr>
    <?php endif; ?>

    <tr>
        <th><?=$this->translate('Company')?></th>
        <th><?=$this->translate('Adress')?></th>
        <th><?=$this->translate('IDNO')?></th>
        <th><?=$this->translate('Bank')?></th>
        <th><?=$this->translate('IBAN')?></th>
        <th><?=$this->translate('Bank account')?></th>
        <th><?=$this->translate('Swift')?></th>
        <th><?=$this->translate('Bank BIC')?></th>
        <th></th>
    </tr>
</table>
</div>