<h1>
    Banner Management
</h1>
<ol class="breadcrumb">
    <li><a href="<?php echo $this->url('admin', ['controller' => 'index', 'action' => 'index']); ?>"><i class="fa fa-dashboard"></i>Admin</a></li>
    <li class="active"></li>
</ol>