<footer class="main-footer">
    <div class="pull-right hidden-xs">
    </div>

    <?php $notifications = $this->notificationsHelper()->getMessages(); ?>
    <?php foreach ($notifications as $index => $notification): ?>
        <div class="noty-message"
             data-noty-type="<?php echo $notification['type']; ?>"
             data-noty-message="<?php echo $notification['message']; ?>">
        </div>
        <?php unset($_SESSION['Notifications']['notifications'][$index]); ?>
    <?php endforeach; ?>

    <strong>Copyright &copy; 2018-2020 <a href="<?php echo $this->url('home', ['controller' => 'index', 'action' => 'index']); ?>">
            Billboard.MD</a>.</strong> All rights reserved.
</footer>