<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <?= $this->headTitle('Billboard.md')->setSeparator(' - ')->setAutoEscape(false) ?>

    <!-- Tell the browser to be responsive to screen width -->
    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Bootstrap 3.3.7 -->
    <?= $this->headLink(['rel' => 'icon', 'type' => '/../img/apple-icon.png', 'href' => $this->basePath() . '/../img/favicon.png'])
        ->prependStylesheet($this->basePath('/adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css'))
        ->prependStylesheet($this->basePath('/adminlte/bower_components/font-awesome/css/font-awesome.min.css'))
        ->prependStylesheet($this->basePath('/adminlte/bower_components/Ionicons/css/ionicons.min.css'))
        ->prependStylesheet($this->basePath('/adminlte/dist/css/AdminLTE.min.css'))
        ->prependStylesheet($this->basePath('/adminlte/dist/css/skins/_all-skins.min.css'))
        /** Noty styles **/
        ->appendStylesheet($this->basePath('/bower_components/noty/lib/noty.css'))
        ->appendStylesheet($this->basePath('/bower_components/noty/demo/animate.css'))
        /** AdminLTE Skins. Choose a skin from the css/skins
         * folder instead of downloading all of them to reduce the load. -->**/
        ->prependStylesheet($this->basePath('/adminlte/css/skin-orange.css'))
        ->prependStylesheet($this->basePath('/adminlte/bower_components/morris.js/morris.css'))
        ->prependStylesheet($this->basePath('/adminlte/bower_components/jvectormap/jquery-jvectormap.css'))
        ->prependStylesheet($this->basePath('/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'))
        ->prependStylesheet($this->basePath('/adminlte/bower_components/bootstrap-daterangepicker/daterangepicker.css'))
        ->prependStylesheet($this->basePath('/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css'))
        ->prependStylesheet($this->basePath('/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css'))
        /** Blueimp Jquery Image Upload**/
        ->prependStylesheet($this->basePath('/bower_components/blueimp-file-upload/css/jquery.fileupload.css'))
        ->prependStylesheet($this->basePath('/bower_components/blueimp-file-upload/css/jquery.fileupload-ui.css'))
    ?>

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

