<header class="main-header">
    <!-- Logo -->
    <a href="<?php echo $this->url('home', ['controller' => 'index', 'action' => 'index']); ?>" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>B.MD</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Billboard</b>.md</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <?php if ($this->userHelper()->getCurrentUserIcon() != ''): ?>
                            <img src="<?php echo $this->userHelper()->getCurrentUserIcon(); ?>" class="user-image" alt="User Image">
                        <?php else:?>
                            <img src="/img/user_default_icon.png" class="user-image" alt="User Image">
                        <?php endif; ?>

                        <span class="hidden-xs">
                            <?php echo "<b>" . $this->userHelper()->getCurrentUserName() . "</b>"; ?>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">

                            <?php if ($this->userHelper()->getCurrentUserIcon() != ''): ?>
                                <img src="<?php echo $this->userHelper()->getCurrentUserIcon(); ?>" class="img-circle">
                            <?php else:?>
                                <img src="/img/user_default_icon.png" class="img-circle">
                            <?php endif; ?>

                            <p><?php echo "<b>" . $this->userHelper()->getCurrentUserName() . "</b>"; ?><small></small></p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="<?= $this->url('profile', ['controller' => 'profile', 'action' => 'index']); ?>"
                                   class="btn btn-default btn-flat"><?= $this->translate('Profile') ?></a>
                            </div>
                            <div class="pull-right">
                                <a href="<?php echo $this->url('logout', ['controller' => 'authcontroller', 'action' => 'logout']); ?>"
                                   class="btn btn-default btn-flat">Logout</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
