<?php echo $this->partial('head.phtml'); ?>

<?php echo $this->partial('header.phtml'); ?>


<body class="hold-transition skin-orange sidebar-mini">
<div class="wrapper" id="main-window">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <?php echo $this->partial('content-header.phtml'); ?>
        </section>

        <!-- Main content -->
        <section class="content">
            <?php echo $this->content; ?>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <?php echo $this->partial('sidebar.phtml'); ?>

    <?php echo $this->partial('footer.phtml'); ?>

    <?php echo $this->partial('scripts.phtml'); ?>

</div>

<?php echo $this->partial('modal-template.phtml'); ?>

</body>



