<?php
$currentUrl = $this->url();
$currentController = $this->controllerName();
?>

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <?php if ($this->userHelper()->getCurrentUserIcon() != ''): ?>
                    <img src="<?php echo $this->userHelper()->getCurrentUserIcon(); ?>" class="img-circle"
                         alt="User Image">
                <?php else: ?>
                    <img src="/img/user_default_icon.png" class="img-circle">
                <?php endif; ?>
            </div>
            <div class="pull-left info">
                <p><?php echo "<b>" . $this->userHelper()->getCurrentUserName() . "</b>"; ?></p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Menu
            </li>

            <li class="<?php echo $currentController == 'admin' ? 'active' : ''; ?>">
                <a href="<?php echo $this->url('admin', [
                        'controller' => 'index'
                ]); ?>">
                    <i class="glyphicon glyphicon-cog"></i> <span>Management Panel</span>
                </a>
            </li>

            <?php echo $this->partial('/sidebar/banners.phtml'); ?>
            <?php echo $this->partial('/sidebar/area.phtml'); ?>
            <?php echo $this->partial('/sidebar/acl.phtml'); ?>
            <?php echo $this->partial('/sidebar/invoice.phtml'); ?>
            <?php echo $this->partial('/sidebar/news.phtml'); ?>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

