<?php $banner = $this->banner; ?>
<div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true"
         style="background-image: url('/img/startpage_billboard5.jpg') ;">
    </div>
    <div class="content-center">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h1 class="title"><?= $this->translate('Book a billboard') ?></h1>
                <h4><?= $this->translate('YOU_CAN') ?></h4>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th class="text-center">Category</th>
        <th class="text-center">Area</th>
        <th class="text-center">Region</th>
        <th class="text-center">City</th>
        <th class="text-center">Address</th>
        <th class="text-center">Image</th>
        <th class="text-center">Description</th>
        <th class="text-center"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><?php echo $banner['0']['category']['name']; ?></td>
        <td><?php echo $banner['0']['area']; ?></td>
        <td><?php echo $banner['0']['city']['nameRegion']; ?></td>
        <td><?php echo $banner['0']['city']['nameCity']; ?></td>
        <td><?php echo $banner['0']['address']; ?></td>
        <td><?php echo ("<img src='/img/banner-photo/");?><?= $this->escapeHtml($banner['0']['images']['0']['path']) ?><?php echo ("'width=\"700\" height=\"250\" >");?></td>
        <td width=30%><?php echo $banner['0']['description']; ?></td>
        <td></td>
    </tr>
    </tbody>
</table>

<div class="text-center">
    <?=$this->translate('Please, choose period of booking:')?>

</div>

<div class="text-center">
<a class="btn btn-primary"
   data-toggle="tooltip" data-placement="top" title="<?=$this->translate('Confirm booking')?>"
   href="<?=$this->url('order', ['controller' => 'order', 'action' => 'ordered'], ['query' => ['id' => $banner['0']['id']]]);?>"
   data-confirmation-title="<?=$this->translate('Confirm booking')?>"
   data-confirmation-text="<?=$this->translate('Are you sure that you would like to book this banner?')?>">
   Confirm booking
</a>
</div>