<div class="page-header section-image">
    <div class="page-header-image" style="background-image:url('/img/startpage_billboard5.jpg')"></div>
    <div class="content-center">
        <div class="container">
            <div class="row">

                <div class="col-md-12 ml-auto mr-auto">

                    <div class="info info-horizontal">
                        <div class="description">
                            <h5 class="info-title" align="center">
                                <?=$this->translate('You have successfully booked a banner!')?>
                                <br><a href="<?php echo $this->url('order', ['controller' => 'order', 'action' => 'download'], ['query' => ['invoice' => $this->fileName]]);?>.pdf">
                                    Download your invoice
                                </a>

                            </h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
